<a href="https://colab.research.google.com/github/lilfetz22/Running_data/blob/Joining-Notes-columns/Running_Log.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Running Log Analysis**

###Goals

By 9/17 - complete pre-Garmin Data Wrangling
1. check for any remaining information in Notes columns - done (9/17)
2. Fix Date column and fill it in and make it agree with weekday
3. remove excess columns

By 10/1 - Complete post-Garmin analysis
1. Data Wrangling

    a. filtering out activities from one another 

    b. comparing overlap from pre-garmin to post-Garmin records and fill in missing data

# Pre-Garmin Data Wrangling

In [1]:
import pandas as pd
import re
import numpy as np
import math

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
def findall_n_join_fx(df, note_col, new_col, search_string):
    df.loc[:,new_col] = df.loc[:,note_col].str.findall(search_string)
    df.loc[:,new_col] = df.loc[:,new_col].str.join('')
    df.loc[:,note_col] = df.loc[:,note_col].str.replace(search_string, '')
    return df

In [4]:
log_csv = pd.read_csv("/content/drive/My Drive/pre-garmin.csv",encoding='windows-1254')
log_csv.head(15)

   Running log 6/21/10      3/17/14  ... Unnamed: 16 Unnamed: 17
0      Saturday 5/29/10         NaN  ...         NaN         NaN
1        Monday 6/21/10     4 miles  ...         NaN         NaN
2       Tuesday 6/22/10     4 miles  ...         NaN         NaN
3     Wednesday 6/23/10   4.5 miles  ...         NaN         NaN
4      Thursday 6/25/10          5   ...         NaN         NaN
5        Friday 6/26/10           5  ...         NaN         NaN
6      Saturday 6/27/10           6  ...         NaN         NaN
7                   NaN         NaN  ...         NaN         NaN
8        Monday 6/28/10           4  ...         NaN         NaN
9       Tuesday 6/29/10           5  ...         NaN         NaN
10    Wednesday 6/30/10         5.5  ...         NaN         NaN
11      Thursday 7/1/10           5  ...         NaN         NaN
12        Friday 7/2/10           4  ...         NaN         NaN
13      Saturday 7/3/10         7.7  ...         NaN         NaN
14                  NaN         NaN  ...         NaN         NaN

[15 rows x 18 columns]

In [5]:
log_csv.tail()

                                   Running log 6/21/10   ... Unnamed: 17
1979                                       TOTAL - 48.5  ...         NaN
1980                            Monday - 12/21/15 - off  ...         NaN
1981  Tuesday - I've failed. Not going to be able to...  ...         NaN
1982                      Thursday - 12/25/15 - 3 miles  ...         NaN
1983  Thursday - 12/31/15 - 30 minutes biking - 9.5 ...  ...         NaN

[5 rows x 18 columns]

Creation of Raw string before manipulation of columns

In [6]:
log_csv.columns

Index(['Running log 6/21/10 ', ' 3/17/14', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17'],
      dtype='object')

In [7]:
raw_string = log_csv.copy()
raw_string['raw_note'] = raw_string['Running log 6/21/10 '].str.cat(raw_string[[' 3/17/14','Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7',
                                                     'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11','Unnamed: 12',
                                                     'Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17']].astype(str), sep="_")
raw_string2 = raw_string[['raw_note']]
raw_string2.loc[:, 'raw_note'] = raw_string2.loc[:, 'raw_note'].str.replace('_?nan_?', '')
raw_string2.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1048: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

                                            raw_note
0  Saturday 5/29/10 4 miles 27:19 it was a little...
1                            Monday 6/21/10_ 4 miles
2  Tuesday 6/22/10_ 4 miles_Swimming_ 10 laps of ...
3            Wednesday 6/23/10_ 4.5 miles_35 minutes
4                               Thursday 6/25/10_ 5

In [8]:
log_csv['Notes'] = log_csv['Unnamed: 2'].str.cat(log_csv[['Unnamed: 3', 'Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7',
                                                     'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11','Unnamed: 12',
                                                     'Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17']].astype(str), sep="_")
log_csv2 = log_csv[['Running log 6/21/10 ',' 3/17/14','Notes']]
log_csv2.head(10)

  Running log 6/21/10   ...                                              Notes
0     Saturday 5/29/10  ...   4 miles 27:19 it was a little short. 3.8 mile...
1       Monday 6/21/10  ...                                                NaN
2      Tuesday 6/22/10  ...  Swimming_ 10 laps of freestyle_5 laps of backs...
3    Wednesday 6/23/10  ...  35 minutes_nan_nan_nan_nan_nan_nan_nan_nan_nan...
4     Thursday 6/25/10  ...                                                NaN
5       Friday 6/26/10  ...  Swimming_ same as Tuesday_nan_nan_nan_nan_nan_...
6     Saturday 6/27/10  ...   41:04_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan...
7                  NaN  ...                                                NaN
8       Monday 6/28/10  ...  28:04:00_5 total_nan_nan_nan_nan_nan_nan_nan_n...
9      Tuesday 6/29/10  ...                                                NaN

[10 rows x 3 columns]

In [ ]:
# columns = ['Weekday', 'Date', 'Mileage', 'Minutes', 'Notes']
log_csv2.columns = ['Beginning', 'Mileage', 'Notes']

In [ ]:
m = '- 7 miles - warmup with maggie - 82.190 - 6:19:16 - 13.0 avg'
t = '- 8 miles - thanksgiving 18.229 mile'
e = '35 minutes_nan_nan_nan_nan_nan_nan_nan_nan_nan'
re.sub('_nan', '', e)

'35 minutes'

In [ ]:
findall_n_join_fx(log_csv2, 'Beginning', 'Weekday', '\w+day')
log_csv2 = findall_n_join_fx(log_csv2, 'Beginning', 'Date', '\d+/\d+/\d\d')
log_csv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Beginning  1966 non-null   object
 1   Mileage    1217 non-null   object
 2   Notes      751 non-null    object
 3   Weekday    1966 non-null   object
 4   Date       1966 non-null   object
dtypes: object(5)
memory usage: 77.6+ KB

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1048: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [ ]:
log_csv2.sample(20)

                                     Beginning  ...    Date
1097                                    TOTAL   ...
1386                          TOTAL - 52 miles  ...
392                                             ...
1276          TOTAL - 22 miles - 4 ab workouts  ...
594                                             ...
1391   - 7 miles - 82.629 - 6:35:20 - 12.5 avg  ...
1517                                 - 4 miles  ...
1454                             -  - 10 miles  ...  9/8/14
1852                              BIKE TOTAL -  ...
889                                             ...
371                                             ...
1142                                            ...
1732                - 7 miles - biked 16 miles  ...
1140                                            ...
496                                     TOTAL   ...
1380          -  - 7 miles - 20.771 miles bike  ...  7/7/14
737                                     TOTAL   ...
195                                             ...
376                                             ...
360                                   8 miles   ...

[20 rows x 5 columns]

In [ ]:
log_csv3 = log_csv2[log_csv2['Beginning'].str.startswith('TOTAL') == False]

In [ ]:
log_csv3.loc[:,'Mileage_init'] = log_csv3.loc[:,'Beginning'].str.findall('\d+\.*\d*')
log_csv3.loc[:, 'length'] = log_csv3['Mileage_init'].str.len()
log_csv3['counter'] = range(len(log_csv3))
log_csv3['Workout_mins'] = np.nan
log_csv3['Swimming_meters'] = np.nan
log_csv3['Bike_Mileage'] = np.nan
log_csv3 = log_csv3.rename(columns = {'Beginning': 'Notes2'})
check_data = log_csv3[log_csv3.length >1]
check_data2 = check_data[['Notes2','Mileage','Mileage_init','counter']]
len(check_data2)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

157

In [ ]:
check_data2 = check_data2.reset_index()

In [ ]:
# log_csv3.to_csv("/content/drive/My Drive/mileage_manip.csv")

In [9]:
new_log = pd.read_csv("/content/drive/My Drive/mileage_manip.csv",index_col=0)
new_log.head(10)

   Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                 NaN  ...             NaN          NaN
1             4 miles  ...             NaN          NaN
2             4 miles  ...             NaN          NaN
3           4.5 miles  ...             NaN          NaN
4                  5   ...             NaN          NaN
5                   5  ...             NaN          NaN
6                   6  ...             NaN          NaN
8                   4  ...             NaN          NaN
9                   5  ...             NaN          NaN
10                5.5  ...             NaN          NaN

[10 rows x 11 columns]

In [10]:
new_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1723 entries, 0 to 1983
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1665 non-null   object
 1   Mileage          1216 non-null   object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             139 non-null    object
 5   Mileage_init     1712 non-null   object
 6   length           1723 non-null   int64
 7   counter          1723 non-null   int64
 8   Workout_mins     10 non-null     float64
 9   Swimming_meters  18 non-null     float64
 10  Bike_Mileage     112 non-null    float64
dtypes: float64(3), int64(2), object(6)
memory usage: 161.5+ KB

In [11]:
to_be_nan = list(new_log.counter[new_log.length > 1])
for row_numb in to_be_nan:
    new_log.iloc[row_numb,5] = np.nan

In [12]:
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\[\'', '')
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\'\]', '')
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\[\]', '')

In [13]:
new_log.Mileage_init = pd.to_numeric(new_log.Mileage_init, errors='coerce')
new_log.head()

  Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                NaN  ...             NaN          NaN
1            4 miles  ...             NaN          NaN
2            4 miles  ...             NaN          NaN
3          4.5 miles  ...             NaN          NaN
4                 5   ...             NaN          NaN

[5 rows x 11 columns]

In [14]:
new_log.insert(8, 'Workout_type',None)

In [15]:
new_log.head()

  Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                NaN  ...             NaN          NaN
1            4 miles  ...             NaN          NaN
2            4 miles  ...             NaN          NaN
3          4.5 miles  ...             NaN          NaN
4                 5   ...             NaN          NaN

[5 rows x 12 columns]

In [16]:
# dropping two lines that just had "WORKOUTS TOTAL"
new_log = new_log.drop([1727,1747])
new_log['counter'] = range(len(new_log))

In [17]:
def workout_finder_fx(df, col, str_search, minutes, workout_type, *exclude):
    w_o = list(df.loc[:, col].str.contains(str_search))
    for idx, n in enumerate(w_o):
        if n == None:
            continue
        elif n == True:
            enough_to_exclude = 0
            for e in exclude:
                o2 = re.search(e, df[col].iloc[idx])
                if o2:
                    enough_to_exclude += 1
            if enough_to_exclude < 1:
                df['Workout_type'].iloc[idx] = workout_type
                df['Workout_mins'].iloc[idx] = minutes
    return df

In [18]:
ab_workout_incl_log = workout_finder_fx(new_log, 'Notes2', '[Aa]b [Ww]orkout', 20, 'abs')
gym_workout_incl_log = workout_finder_fx(ab_workout_incl_log, 'Notes2', '[Ww]orkout',45, 'gym', '[Ss]wim', '[Aa]b')
print(gym_workout_incl_log.iloc[1084])
gym_workout_incl_log.iloc[1267]

Notes2              - 4 miles - ab workout - ran with Keith
Mileage                                                 NaN
Notes                                                   NaN
Weekday                                             Tuesday
Date                                                    NaN
Mileage_init                                              4
length                                                    1
counter                                                1084
Workout_type                                            abs
Workout_mins                                             20
Swimming_meters                                         NaN
Bike_Mileage                                            NaN
Name: 1264, dtype: object

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

Notes2              - 14 miles - workout between classes
Mileage                                              NaN
Notes                                                NaN
Weekday                                          Tuesday
Date                                                 NaN
Mileage_init                                          14
length                                                 1
counter                                             1267
Workout_type                                         gym
Workout_mins                                          45
Swimming_meters                                      NaN
Bike_Mileage                                         NaN
Name: 1472, dtype: object

Mileage Column

In [19]:
gym_workout_incl_log.iloc[314]

Notes2
Mileage                                                     8/29/11
Notes               warmup _ 20 mins inside _ 2.5ish _ 2 with gir...
Weekday                                                       Monday
Date                                                             NaN
Mileage_init                                                     NaN
length                                                             0
counter                                                          314
Workout_type                                                    None
Workout_mins                                                     NaN
Swimming_meters                                                  NaN
Bike_Mileage                                                     NaN
Name: 371, dtype: object

In [20]:
# might need to try out the "try" in a function to see if it can be converted to 
# an integer if not, then put the note into a separate column and delete it from
# the mileage column
def remove_mileage_notes_fx(df, col):
    notes3_col = [''] * len(df[col])
    list_col = list(df.loc[:, col])
    for idx, a in enumerate(list_col):
        try:
            float_a = float(a)
            df[col].iloc[idx] = float_a
        except:
            notes3_col[idx] = a
            df[col].iloc[idx] = np.nan
    df['Notes3'] = notes3_col
    return df
sep_notes_from_mileage_col = remove_mileage_notes_fx(gym_workout_incl_log, 'Mileage')
sep_notes_from_mileage_col.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

   Notes2 Mileage  ... Bike_Mileage      Notes3
0             NaN  ...          NaN
1             NaN  ...          NaN     4 miles
2             NaN  ...          NaN     4 miles
3             NaN  ...          NaN   4.5 miles
4               5  ...          NaN
5               5  ...          NaN
6               6  ...          NaN
8               4  ...          NaN
9               5  ...          NaN
10            5.5  ...          NaN

[10 rows x 13 columns]

took all of the text that was in the mileage column and moved it to a separate column, and left any number that was purely a number and converted the column to be integers.

In [21]:
# now I need to go through the notes3 column and pull out any that have just mileage, 
#then I will need to go through and search those that have dates and other mess 
#in there, then I will need to apply the same functions to the Notes column

In [22]:
findall_n_join_fx(sep_notes_from_mileage_col, 'Notes3', 'Date2', '\d+/\d+/\d\d')

                                                 Notes2  ... Date2
0                                                        ...
1                                                        ...
2                                                        ...
3                                                        ...
4                                                        ...
...                                                 ...  ...   ...
1978                                         - 10 miles  ...
1980                                           -  - off  ...
1981   - I've failed. Not going to be able to run fo...  ...
1982                                       -  - 3 miles  ...
1983                 -  - 30 minutes biking - 9.5 miles  ...

[1721 rows x 14 columns]

In [23]:
sep_notes_from_mileage_col.loc[34]

Notes2
Mileage                               NaN
Notes                                 NaN
Weekday                         Wednesday
Date                              7/28/10
Mileage_init                          NaN
length                                  0
counter                                29
Workout_type                         None
Workout_mins                          NaN
Swimming_meters                       NaN
Bike_Mileage                          NaN
Notes3             2 miles / 5 miles hike
Date2
Name: 34, dtype: object

In [24]:
def date_finder_fx(df, new_date):
    date_col = list(df[new_date])
    for idx, date in enumerate(date_col):
        try:
            if math.isnan(date):
                continue
        except:
            if date == '':
                continue
            try:
                if math.isnan(df['Date'].iloc[idx]):
                    df['Date'].iloc[idx] = date
            except:
                continue

In [25]:
date_finder_fx(sep_notes_from_mileage_col, 'Date2')

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [26]:
sep_notes_from_mileage_col.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1983
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1663 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             295 non-null    object
 5   Mileage_init     397 non-null    float64
 6   length           1721 non-null   int64
 7   counter          1721 non-null   int64
 8   Workout_type     68 non-null     object
 9   Workout_mins     70 non-null     float64
 10  Swimming_meters  18 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1721 non-null   object
 13  Date2            1721 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 281.7+ KB

In [27]:
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('_nan', '')

In [28]:
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.lower()
sep_notes_from_mileage_col.loc[:, 'Notes2'] = sep_notes_from_mileage_col.loc[:, 'Notes2'].str.lower()
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.lower()

In [29]:
sep_notes_from_mileage_col['Mileage_init2'] = sep_notes_from_mileage_col.Notes3.str.findall('\d+\.?\d* miles?')
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.replace('\d+\.?\d* miles?', '')
sep_notes_from_mileage_col['Mileage_init3'] = sep_notes_from_mileage_col.Notes.str.findall('\d+\.?\d* miles?')
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('\d+\.?\d* miles?', '')
sep_notes_from_mileage_col['Mileage_init4'] = sep_notes_from_mileage_col.Notes3.str.findall('\d+\.?\d* total')
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.replace('\d+\.?\d* total', '')
sep_notes_from_mileage_col['Mileage_init5'] = sep_notes_from_mileage_col.Notes.str.findall('\d+\.?\d* total')
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('\d+\.?\d* total', '')

In [30]:
gym_workout_incl_log2 = workout_finder_fx(sep_notes_from_mileage_col, 'Notes', 'workout', 45, 'gym', 'swim', 'ab','pool')
gym_workout_incl_log2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1983
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1663 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             295 non-null    object
 5   Mileage_init     397 non-null    float64
 6   length           1721 non-null   int64
 7   counter          1721 non-null   int64
 8   Workout_type     73 non-null     object
 9   Workout_mins     75 non-null     float64
 10  Swimming_meters  18 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1721 non-null   object
 13  Date2            1721 non-null   object
 14  Mileage_init2    1721 non-null   object
 15  Mileage_init3    741 non-null    object
 16  Mileage_init4    1721 non-null   object
 17  Mileage_init5    741 non-null    object
dtypes: float64(4), int64(2), object(12)
memory usage: 335.5+ KB

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [31]:
def swim_workout_fx(df, col, str_search): 
    for s in str_search:
        w_o2 = list(df.loc[:, col].str.contains(s))
        for idx, w in enumerate(w_o2):
            if w == None:
                continue
            elif w == True:
                df['Swimming_meters'].iloc[idx] = 1600

In [32]:
swim_workout_fx(gym_workout_incl_log2, 'Notes', ['swim','pool'])
swim_workout_fx(gym_workout_incl_log2, 'Notes2', ['swim','pool'])
swim_workout_fx(gym_workout_incl_log2, 'Notes3', ['swim','pool'])
gym_workout_incl_log2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1983
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1663 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             295 non-null    object
 5   Mileage_init     397 non-null    float64
 6   length           1721 non-null   int64
 7   counter          1721 non-null   int64
 8   Workout_type     73 non-null     object
 9   Workout_mins     75 non-null     float64
 10  Swimming_meters  39 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1721 non-null   object
 13  Date2            1721 non-null   object
 14  Mileage_init2    1721 non-null   object
 15  Mileage_init3    741 non-null    object
 16  Mileage_init4    1721 non-null   object
 17  Mileage_init5    741 non-null    object
dtypes: float64(4), int64(2), object(12)
memory usage: 335.5+ KB

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [33]:
def mileage_finder_fx(df, init, total_or_miles):
    multiple_miles = []
    too_big = []
    already_in_col = []
    for idx, row in enumerate(df.loc[:, init]):
        try:
            if math.isnan(row):
                continue
        except:
            if len(row) > 1:
                multiple_miles.append(idx)
            elif len(row) == 1:
                mile_str = row[0].replace(total_or_miles, '')
                try:
                    mile_float = float(mile_str)
                    if math.isnan(df['Mileage'].iloc[idx]):
                        if mile_float > 27.2:
                            too_big.append(idx)
                        else:
                            df['Mileage'].iloc[idx] = mile_float
                    else:
                        already_in_col.append(idx)
                except:
                    continue
    return multiple_miles, too_big, already_in_col

In [34]:
mm3, tb3, aic3 = mileage_finder_fx(gym_workout_incl_log2,'Mileage_init4','total')
print(len(mm3),len(tb3),len(aic3))
mm4, tb4, aic4 = mileage_finder_fx(gym_workout_incl_log2, 'Mileage_init5', 'total')
print(len(mm4),len(tb4),len(aic4))
mm, tb, aic = mileage_finder_fx(gym_workout_incl_log2,'Mileage_init2','miles')
print(len(mm),len(tb),len(aic))
mm2, tb2, aic2 = mileage_finder_fx(gym_workout_incl_log2, 'Mileage_init3', 'miles')
print(len(mm2),len(tb2),len(aic2))

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

0 0 0
1 0 3
5 3 36
67 0 89

For each of the following I will be manually putting in the data to fix the issue since they are outliers in being able to conform nicely to a computer function.

In [35]:
comb = mm4 + aic4 + mm + tb + aic + mm2 + aic2
comb_array = np.array(comb)
comb_uni = np.unique(comb_array)

In [36]:
time_added = gym_workout_incl_log2.copy()
time_added.insert(2, 'Time', None)

In [37]:
raw_string_added = pd.merge(time_added, raw_string2, how='left',left_index=True, right_index=True)

In [38]:
def manual_input_desc(df, list_name):
    for ind in list_name:
        print(df[['Mileage','Bike_Mileage', 'Time','Weekday', 'Date','Workout_type', 'Workout_mins', 'Swimming_meters']].iloc[ind])
        print('RAW: ', df['raw_note'].iloc[ind])

In [39]:
manual_input_desc(raw_string_added, mm4)

Mileage                   2
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 339, dtype: object
RAW:  Thursday _ warmup _ 2 miles _ 5:30, 5:54 _ 11:24 total time_ 43rd place _ 25ish min cooldown _ 6.5 total

In [40]:
manual_input_desc(raw_string_added, aic4)

Mileage                  4
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               6/28/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 8, dtype: object
RAW:  Monday 6/28/10_4_28:04:00_5 total
Mileage                5.5
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date               7/13/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 23, dtype: object
RAW:  Tuesday 7/13/10_5.5_ 35:32_6.5 total
Mileage                  12
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 729, dtype: object
RAW:  Saturday _12_13_ 10 on actual run to the beach but went down to watch the seahawk invitational _12_13 total

In [41]:
manual_input_desc(raw_string_added, mm)

Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                 7/28/10
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 34, dtype: object
RAW:  Wednesday 7/28/10_2 miles / 5 miles hike
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               8/16/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 53, dtype: object
RAW:  Monday 8/16/10_3 miles in the morning 5 miles in the evening
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 505, dtype: object
RAW:  Tuesday _ 3 miles and 24 miles bike and 3 around greystone _ 6 total
Mileage                   15
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 769, dtype: object
RAW:  Wednesday _ 7.4 miles in am and 7.6 miles in pm _ 15 total
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 1247, dtype: object
RAW:  Saturday _ FIRE TOWER!!!! Ran 6 miles with Maggie than ran 3 miles to trail then 3.5 to cone manor then ran 2.5 up to the fire tower _ so beautiful up there _ but misjudged the mileage so on way down tried to take a shortcut through trout lake _ it ended up being a lot longer than 18 miles cuz I hit 18 around trout lake and then at least another 3 miles _ 21 miles

In [42]:
manual_input_desc(raw_string_added, tb)

Mileage             NaN
Bike_Mileage        NaN
Time               None
Weekday             NaN
Date                NaN
Workout_type       None
Workout_mins        NaN
Swimming_meters     NaN
Name: 1013, dtype: object
RAW:  BIKE TOTAL _ 30 miles
Mileage             NaN
Bike_Mileage        NaN
Time               None
Weekday             NaN
Date                NaN
Workout_type       None
Workout_mins        NaN
Swimming_meters     NaN
Name: 1021, dtype: object
RAW:  BIKE TOTAL _ 30 miles
Mileage             NaN
Bike_Mileage        NaN
Time               None
Weekday             NaN
Date                NaN
Workout_type       None
Workout_mins        NaN
Swimming_meters     NaN
Name: 1029, dtype: object
RAW:  BIKE TOTAL _ 30 miles

In [43]:
manual_input_desc(raw_string_added, aic)

Mileage                    5
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                  7/7/10
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 17, dtype: object
RAW:  Wednesday 7/7/10_4 miles_28:38:00_5 total
Mileage                  4
Bike_Mileage           NaN
Time                  None
Weekday             Friday
Date               7/30/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 36, dtype: object
RAW:  Friday 7/30/10_ 3 miles_19:42_4 total
Mileage                  7
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 40, dtype: object
RAW:  Tuesday_6 miles 40:47_7 total
Mileage                  7
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 47, dtype: object
RAW:  Tuesday_ 2 miles _ 3k: 10:53 _ 3 miles _ 7 total
Mileage                    7
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 48, dtype: object
RAW:  Wednesday_6 miles 42:59_7 total
Mileage                  8
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 54, dtype: object
RAW:  Tuesday _ 7 miles _ 8 total 14.9 mile bike ride
Mileage                  8
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 61, dtype: object
RAW:  Tuesday_7 miles 50:50_8 total
Mileage                   8
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 63, dtype: object
RAW:  Thursday_ 7 miles_ 53:40 8 total
Mileage                    8
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 90, dtype: object
RAW:  Wednesday_ 5 miles_39mins_4x400: 71,66,67,66 _ 8 total
Mileage                11
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 107, dtype: object
RAW:  Friday _ 10 miles 75 mins_11 total
Mileage                 4
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 114, dtype: object
RAW:  Friday _3 miles really chill _ 4 total
Mileage                  7
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               12/6/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 162, dtype: object
RAW:  Monday 12/6/10 _ 6 miles greenway _ 7 total
Mileage                   9
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 165, dtype: object
RAW:  Thursday _ 8 miles greenway _ 9 total
Mileage                 6
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 166, dtype: object
RAW:  Friday _ 5 miles Harris teeter _ 34 mins _ 6 total
Mileage                   10
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 200, dtype: object
RAW:  Wednesday _ 7 miles out greenway _then ran home 3 _ 10 total
Mileage                  9
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 247, dtype: object
RAW:  Tuesday_ 8 miles + mile warmup = 9 total
Mileage                   11
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 351, dtype: object
RAW:  Wednesday _ 10 miles 70 mins tried to catch coach Marc _ 11 total
Mileage                 13
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 357, dtype: object
RAW:  Tuesday _ 10 miles around lake Lynn _ 1:06:01 _afternoon with Maddie _ 3.1 miles _ 20 mins _ 13 total
Mileage                   8
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 367, dtype: object
RAW:  Thursday _ 7 miles out and back on greenway _ 8 total
Mileage                    7
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 424, dtype: object
RAW:  Wednesday _ 6 miles easy out and back on greenway _ 7 total
Mileage                  4
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 436, dtype: object
RAW:  Tuesday _ 3 miles around Shelly _ 4 total
Mileage                   3
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 438, dtype: object
RAW:  Thursday _ 2 miles easy _ 10 strides _ 3 total
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 451, dtype: object
RAW:  Tuesday _ 5 miles sawmill through the woods _ 6 total
Mileage                 7.5
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 453, dtype: object
RAW:  Thursday _ 3 miles around lake then 4.5 dads loop _ 7.5 total
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 519, dtype: object
RAW:  Tuesday _ 6 miles then did 4 diagonals on the practice field _ 6 total
Mileage                    3
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 520, dtype: object
RAW:  Wednesday _ 3 miles around shelley with Tristan _ 3 total
Mileage                  13
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 558, dtype: object
RAW:  Saturday _ 6.6 miles in 40 mins _ 13 total
Mileage                  8
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 703, dtype: object
RAW:  Tuesday _ 2.5 miles to school _ 2 mile tempo _ mile cooldown _ 2.5 back home _ 8 total
Mileage                11.5
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 743, dtype: object
RAW:  Saturday _ 11 miles down to beach _ ran by the YMCA triathlon _ and got to pet a horseyyyy!!!! (: sooo muchh funn _ definitely want to compete next year (: _ 11.5 total
Mileage              14.5
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 930, dtype: object
RAW:  Friday _ 2 miles early _ 12.5 between classes _ 14.5 total
Mileage              9.75
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1026, dtype: object
RAW:  Friday _ 8 .75 miles _ sawmill to creedmoor to Strickland to falls to sawmill _ 9.75 total
Mileage                  10
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 1027, dtype: object
RAW:  Saturday _ 10 miles out at umstead _ 3 mile tempo in the middle _ 6:10 pace _ 10 total
Mileage                  9
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 1031, dtype: object
RAW:  Tuesday _ 8 miles _ 7:31 pace _ 9 total
Mileage                   10
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 1032, dtype: object
RAW:  Wednesday _ 9 miles _ 7:38 pace _ 10 total
Mileage                  13
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 1111, dtype: object
RAW:  Saturday _ 5.5 miles with Brian _ 7.5 miles afterwards _ 13 total
Mileage                 8
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1169, dtype: object
RAW:  Monday _ 3 miles with Maggie _ 5 miles afterwards _ 8 total _ 8:04 pace

In [44]:
manual_input_desc(raw_string_added, mm2)

Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                5/29/10
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 0, dtype: object
RAW:  Saturday 5/29/10 4 miles 27:19 it was a little short. 3.8 miles
Mileage                 2
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 43, dtype: object
RAW:  Friday_2 miles_fun run "Popsicle stick run"_2 miles cool down_6.5 miles total
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 223, dtype: object
RAW:  Tuesday _ stadium mile _ 7 miles _ 9 miles total
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 373, dtype: object
RAW:  Wednesday _ mile warmup _ 3k _ 9:50 _ 2 mile cooldown _ 5 miles
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 383, dtype: object
RAW:  Saturday _ seahawk _ mile warmup _ 5k 17:13 _ 5:10, 10:50, 1713 _ 4 mile cooldown _ 1 mile cooldown with jv _ 9 miles total
Mileage                8.5
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               10/3/11
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 407, dtype: object
RAW:  Monday _ 10/3/11 _ mile warmup _ 1 mile _ 5:02 _ 2x800 _ 2:31, 2:36 _ 4x400 _ 64,63,70,68 _ 2 mile cooldown _ 2.5 with Tristan _ 8.5 total
Mileage                   8
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 467, dtype: object
RAW:  Thursday_ meet at panther creek _ mile warmup _ mile run _ 4:47 _ 3 mile cooldown/warmup again _ 2 mile run _1036_ mile cooldown _ 8 total
Mileage                   9
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 495, dtype: object
RAW:  Saturday _ mile warmup _ 5 miles _ .5 mile warmup _ 2 mile _ 10:30 _ mile and a half _ 9 total
Mileage                    9
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 499, dtype: object
RAW:  Wednesday _ mile warmup _ 540 mile _ 530 mile _ 520 mile _ 6x400 _ 8x200 _ 8x100 _ mile cooldown _ 9 total
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type            gym
Workout_mins             45
Swimming_meters         NaN
Name: 514, dtype: object
RAW:  Thursday _ mile warmup _ 8 miles on greenway _ did a workout with a couple marathoners a guy and a girl and we were flyinggg! Goin like 545 pace for one 1.5 miles and then 535 pace for the second 1.5 miles it was awesome! So much fun _ 9 miles total
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 534, dtype: object
RAW:  Wednesday _ mile warmup _ mile time trial _ slow _ 5:20 _ 6x200 loops _ 36 sec for all of them _ all out 400 _ 3 mile cool down _ 7 miles total
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 542, dtype: object
RAW:  Wednesday _ mile warmup _ 2 mile tempo _ 10:54 _ northclift 4 _ 5 hills _ 5 to Harris teeter _ 13 miles
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               2/27/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 547, dtype: object
RAW:  Monday _ 2/27/12 _ mile warmup _ 2 miles of sprint the straight and jog the curves _ 8x400 _ 63, 65, 71, 71, 66, 67, 66, 72 _ 3x200 loops _ 5k cooldown _ 9 miles total
Mileage                    8
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 549, dtype: object
RAW:  Wednesday _ mile warmup _ mile at 5:15 _ 2 mile _ 11:28 _800_ 2:35 _ 3 mile cooldown _ 8 total
Mileage                  11
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 550, dtype: object
RAW:  Thursday _ mile warmup _ 8 miles in 56 _ 2 miles extra _ 11 total
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 551, dtype: object
RAW:  Friday _ mile warmup _ 5x400 _ 70, 69, 69, 65, 71 _ 5 mile run to Harris teeter _ 7 miles
Mileage                10
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               3/5/12
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 553, dtype: object
RAW:  Monday 3/5/12 _ mile warmup _ 5 miles _ 33:45 _ 6 hills about a mile _ 2 more hills _ 3x400 _ 2 mile cooldown _ 10 total
Mileage                   11
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 576, dtype: object
RAW:  Wednesday _ mile warmup _ mile warmup _1600_ 4:47 _ mile cooldown _800_ 2:10 _ 800 cooldown _ 2 mile _ 10:48 _ 4 mile cooldown _ 11 total
Mileage                12
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               4/9/12
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 589, dtype: object
RAW:  Monday _ 4/9/12 _ Mile warmup _ ran to Shelly _ 3 miles _ time trial around shelly _ 10:34 _ ran back _ 4x400 _ 74,73, 66, 70 _ 5 mile cooldown _ 12 total
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 591, dtype: object
RAW:  Wednesday _ meet vs broughton _ 2x mile warmup _1600_ mile cooldown _3200_ 3 mile cooldown _ 9 miles
Mileage                    6
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 598, dtype: object
RAW:  Wednesday _ 2x mile warmup _ 2 mile _ 10:42 _ 2 mile cooldown _ 6 total
Mileage                  8
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               8/20/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 709, dtype: object
RAW:  Monday _ 8/20/12 _ 20 min run in am _ 10 minute warmup _ 2 mile time trial _ 10:37 _ 2 mile cooldown _ 8 total
Mileage                  8
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 725, dtype: object
RAW:  Tuesday _ mile warmup _ fartlek _ 1 min on 5 off...etc. _ 30 mins _ 4.5 miles _ 20 min cooldown _ 2.5 miles _ 8 total
Mileage                 13
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 732, dtype: object
RAW:  Tuesday _ AM _ 9 miles _ from 2_6.5 tried to pick it up _ PM _ 4 miles _ 13 total
Mileage                 8
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 735, dtype: object
RAW:  Friday _ 1.5 mile warmup _ 1 mile 6 min pace ish _ 2x800 _ 3:15, 3:15 _ 4x400 _ 75,82,83,75 _ 2 miles _1.5_ 8 total
Mileage               8.5
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 749, dtype: object
RAW:  Friday _ 1.5 mile warmup _ 1 mile _ 5:56 _ 3x1200 _ 4:17,4:25,4:25 _ 2x 800 _ 2:35, 2:40 _ 2x 400 _ 75, 78 _ 2x 200 _ 35,33 _ 2 mile cooldown _ 8.5 total
Mileage                  7
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               10/1/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 752, dtype: object
RAW:  Monday _ 10/1/12 _ mile warmup down to 5 mile loop _ tempo 5 mile loop _ 31:22 _ 6:16 pace _ mile cooldown _ 7 total
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 756, dtype: object
RAW:  Friday _ mile warmup _ 1.5 miles _ 8:56 _ 2x800 _ 2:42,2:45 _400_77_ 4x200 _ 35,39,39,39 _400_84_ 2x800 _ 2:52, 2:58 _ 1.5 mile _ 8:45 _ 1 mile cooldown on track then 1 mile back to the dorm _ 9 mile
Mileage                 10
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               10/8/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 759, dtype: object
RAW:  Monday _ 10/8/12 _ 7 miles then 10 hills up our street then 1 mile cooldown _ 10 total
Mileage                 9
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 763, dtype: object
RAW:  Friday _ mile warmup _ 1.5 miles _ 9 something _ 2x1200 _ bad _ 4x800 _ just bad _ 2x400 _ 80,80 _ 2x200 _ 35,35_2 mile cooldown _ just a bad day _9 total
Mileage                 7
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 771, dtype: object
RAW:  Friday _ 1 mile warmup _ 1.5 miles _ 10:00 _ 1 mile _ 6:00 _ 1 mile _ 5:56 _ 1.5 mile _ 8:56 _ 2x800 _ 2:55 _ 2:47 _ 1 mile cool down _ 7 total
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 832, dtype: object
RAW:  Tuesday _ CHRITSMAS!!! _ mile warmup _ 5 miles _ 7:07 pace _ negative split it, 7:22,7:21,7:05,7:02,6:52_ total _ 6 miles
Mileage                    7
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 840, dtype: object
RAW:  Wednesday _ Mile warmup _ 30 minutes of fatleks _ 6:52 pace! _ 4.35 miles _ 1.5 mile cool down _ 7 total
Mileage                 8
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 842, dtype: object
RAW:  Friday _ mile warmup _ 5.5 mile tempo run _ 6:45 pace _ 1.5 mile cool down _ 8 total
Mileage                 8
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 849, dtype: object
RAW:  Friday _ mile warmup _ 4 miles _ 6:52 pace _ fartleks _ 3 mile cool down _ 8 total
Mileage                 7
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               3/4/13
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 891, dtype: object
RAW:  Monday _ 3/4/13 _ mile warmup _ fartleks _ 30 mins _ 4.13 miles dads loop _ 7:16 pace _ 1.87 mile cooldown around lake _ 7 total
Mileage                    8
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 893, dtype: object
RAW:  Wednesday _ mile warmup _ 5 miles _ 7 hills _ 2 miles _ 8 total
Mileage                   8
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 896, dtype: object
RAW:  Saturday _ mile warmup _ 3 mile tempo _ 650 pace _ 20:34 _ 4 mile cooldown _ 8 total
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 901, dtype: object
RAW:  Wednesday _ mile warmup _ 30 mins fartleks _ 5.29 miles _ 7:34 pace including mile warmup _ 4.76 mile cooldown _ 10 miles
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 903, dtype: object
RAW:  Friday _ mile warmup _ 3 mile tempo _ 6:45, 6:50, 6:50 pace _ around 6:47 pace _ 4 mile cooldown _ 7:27 pace for entire run _ 8 miles total
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 908, dtype: object
RAW:  Wednesday _ mile warmup _ fartleks _ 30 mins _ 4.21 miles _ 7:07 pace _ 5.43 miles cooldown _ 7:25 pace _ 10.5 miles
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 910, dtype: object
RAW:  Friday _ mile warmup _ 3 miles out _ 3 mile tempo _ 6:45,7:00,6:44 _ was trying to see if doing the cooldown before the tempo would increase tempo time _ need to experiment again later cuz had to poop at end, messed up results _ 7:30 pace _ 8.19 miles total
Mileage               11.5
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               3/24/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 913, dtype: object
RAW:  Monday _ 3/24/13 _ really good run _ mile warmup _ fartleks _ 30 mins _ 4.55 miles _ 6:37 pace! _ 6 mile cooldown _ 7.37 pace _ 11.5 total
Mileage                    8
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 915, dtype: object
RAW:  Wednesday _ Mile warmup _ 3 mile tempo _ 4 mile cooldown _ 8 total
Mileage                    9
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 922, dtype: object
RAW:  Wednesday _ Mile warmup _ 4 mile tempo _ 7:10 pace _ 3 mile "cool down" _ 6:42 pace _ 7 miles _ 6:57 pace _ mile for real cool down _ 9 total
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 924, dtype: object
RAW:  Friday _ mile warmup _ pace mile _ 6:30ish _ 2x800 _1200_ 4x400 _ mile _ 6:47 _ 2.5 mile cooldown _ 7:18 pace w/ 2 mile cooldown at 8 min pace included _ 11.5 miles total
Mileage                11
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               4/8/13
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 926, dtype: object
RAW:  Monday _ 4/8/13 _ Fartleks down to the beach _ 4.28 miles _ 30 mins _ 6:56 _ 5.87 mile cool down _ 7:49 pace _ 11 total
Mileage                   11
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 935, dtype: object
RAW:  Wednesday _ mile warmup _ Down to the beach _ fartleks probably about 7 min pace _ 4.3 miles _ 5 miles back _ 11 total
Mileage                 9
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 944, dtype: object
RAW:  Friday _ mile warmup _ 5:56 mile _ 2x1200 _ 4:26,4:23 _ 3x800 _ 2:51,2:47,2:41 _ 4x400 _ 77,83,80,79 _ 5:44 mile _ 2 mile cooldown _ 9 total
Mileage                    9
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 949, dtype: object
RAW:  Wednesday _ mile warmup _ 4 mile tempo _ 6:58 pace _ 4 mile cooldown _ 9 total
Mileage                 9
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 951, dtype: object
RAW:  Friday _ Mile warmup _ 2 mile _ 12:28 _ 1 mile _ 5:56 _ 4x800 _ 2:51,2:56,2:58,2:42 _ 4x400 _ 79,79,79,71 _ 2 mile cooldown _ 9 total
Mileage                10
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               5/6/13
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 954, dtype: object
RAW:  Monday _ 5/6/13 _ mile warmup _ 7 miles _ 8 hills _ 2 miles _ 10 total
Mileage                    7
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 963, dtype: object
RAW:  Wednesday _ mile warmup _ fartleks _ 30 mins _ 4.6 miles last mile in 5:36 _ made it 1.1 miles in last 6 minutes _ really good _ 1.5 mile cooldown around lake _ 7 total
Mileage                14
Bike_Mileage          NaN
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 967, dtype: object

In [45]:
manual_input_desc(raw_string_added, aic2)

Mileage                   5
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                 7/1/10
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 11, dtype: object
RAW:  Thursday 7/1/10_5_32:04:00_6:20 pace_6 miles total
Mileage                  4
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                7/6/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 16, dtype: object
RAW:  Tuesday 7/6/10_4 miles_29:14:00_5 miles total
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               7/12/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 22, dtype: object
RAW:  Monday 7/12/10_6_42ish_7 miles
Mileage                  2
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               7/26/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 32, dtype: object
RAW:  Monday 7/26/10_ morning: 2 miles then 3x1200 around the track 4:03 everytime_Afternoon_5 miles
Mileage                   6
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                7/31/10
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 37, dtype: object
RAW:  Saturday 7/31/10_6 miles_ 47:13_Bike ride_14.9 miles
Mileage                 2
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 39, dtype: object
RAW:  Monday_2 miles_14:47_hills_2 miles_14:12/really tired
Mileage                  7
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 47, dtype: object
RAW:  Tuesday_ 2 miles _ 3k: 10:53 _ 3 miles _ 7 total
Mileage                    4
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 55, dtype: object
RAW:  Wednesday _4 miles repeats 5:45,5:46,5:44,5:42_6 miles total
Mileage                 2
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 64, dtype: object
RAW:  Friday_ 2 miles _ 6 hills _ 2 miles
Mileage                 2
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 88, dtype: object
RAW:  Monday_ meet vs milbrook paced first 2 miles 6 then 5:40 then 540 got 3rd place outkicked by a guy who runs 1:55 800_ 5 miles total
Mileage                  2.5
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 164, dtype: object
RAW:  Wednesday _ 2.5 miles tempo _ 13:33_ 5:25 pace it felt so easy_8 miles total
Mileage                  1.5
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 328, dtype: object
RAW:  Wednesday _ 1.5 miles _ 20.7 miles bike _ 1:29:00
Mileage              11.5
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 336, dtype: object
RAW:  Monday _ morning: 2 mile warmup _ 2x1200 _ afternoon: 55 mins _ 8 miles _ 11.5 total
Mileage                  14
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 352, dtype: object
RAW:  Thursday _ morning 6 _ afternoon _ 8 miles _ 14 total
Mileage                 13
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 357, dtype: object
RAW:  Tuesday _ 10 miles around lake Lynn _ 1:06:01 _afternoon with Maddie _ 3.1 miles _ 20 mins _ 13 total
Mileage                   6
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 362, dtype: object
RAW:  Saturday _ 2x 1 mile warmup _ 3k _ 10:02 _ 5:10 first mile _ 2 miles cooldown _ 6 total
Mileage                    8
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 380, dtype: object
RAW:  Wednesday _ mile warmup _ 5k _ 17:50ish _ 620 tempo first two miles _ then took off and got first place by like ten seconds _ 4 miles cooldown _ 8 total
Mileage                   8
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 381, dtype: object
RAW:  Thursday _ 3k then two laps around shelly _ 7 miles +warmup _ 8 total
Mileage                   5
Bike_Mileage            NaN
Time                   None
Weekday              Monday
Date               11/28/11
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 457, dtype: object
RAW:  Monday _ 11/28/11 _ mile warmup _ 8x200 _ 2 miles _ 5 total
Mileage                    6
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 459, dtype: object
RAW:  Wednesday _ mile warmup _ 4 miles _ 4x200 _ 6 total
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               12/5/11
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 464, dtype: object
RAW:  Monday _ 12/5/11 _ mile warmup _ 2 miles out _ 6 hills ran down them backwards _ 2 back _ 6 total
Mileage                    6
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 466, dtype: object
RAW:  Wednesday _ mile warmup _ 3k course _ 2 miles on track sprinting straights and jogging the curves _ 3 mins of strides _ mile cooldown _ 6 total
Mileage                 14
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 478, dtype: object
RAW:  Tuesday _ mile warmup _ 13 miles Anderson to greenway _ 14 total
Mileage                    9
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 492, dtype: object
RAW:  Wednesday _ 3k course _ 1 miles race pace _ 5:15ish slow _ 4x400 _ 4x200 _ tempo around Shelly _ 10:40 _ mile cooldown _ 9 total
Mileage                 7
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 515, dtype: object
RAW:  Friday _ mile warmup _ 5 miles out sawmill through the woods _ 6x200 loops _ 7 total
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 554, dtype: object
RAW:  Tuesday _ mile warmup _ 5 miles sawmill through the woods _ 6 total
Mileage                   10
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 562, dtype: object
RAW:  Wednesday _ mile warmup _ 8 miles _ 4x200 strides _ 10 total
Mileage                 3
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 593, dtype: object
RAW:  Friday _ mile warmup _ 2 miles _ 3 total
Mileage                6.5
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 597, dtype: object
RAW:  Tuesday _ mile warmup _ 5 miles _ 4x200 _ 6.5 total
Mileage                 3
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 600, dtype: object
RAW:  Friday _ mile warmup _ 2 miles _ 3 total
Mileage                   4
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 606, dtype: object
RAW:  Thursday _ mile warmup _ 3 miles _ 4 total
Mileage                 8
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               8/6/12
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 695, dtype: object
RAW:  Monday _ 8/6/12 _ mile warmup _ 7 miles _ 7:35 _ 8 total
Mileage                  7
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 696, dtype: object
RAW:  Tuesday _ mile warmup _ 6 miles _ 7:46 pace _ 7 total
Mileage                    8
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 697, dtype: object
RAW:  Wednesday _ mile warmup _ 7 miles _ 7:54 pace _ 8 total
Mileage                  6.5
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 704, dtype: object
RAW:  Wednesday _ mile warmup _ 1 on 5 off fartleks _ 30 mins _ 4.29 miles _ 7:07 pace _ 10 min cooldown _ 6.5 total
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 710, dtype: object
RAW:  Tuesday _ 45 mins easy _ 6 miles _ hurdle mobility _ barefoots _ 6 total
Mileage                  5
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 718, dtype: object
RAW:  Tuesday _ 30 minute fartleks _ 3 on 2 off _ 3 miles _ 5 total
Mileage                 8
Bike_Mileage          NaN
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 765, dtype: object
RAW:  Sunday _ run for hope! _ I won again this year _ 37:37 _ 6.2 miles about 6 min pace _ 8 total
Mileage                   7
Bike_Mileage            NaN
Time                   None
Weekday              Monday
Date               12/24/12
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 831, dtype: object
RAW:  Monday _ 12/24/12 _ mile warmup _ 6 miles _ 7 total
Mileage                    7
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 833, dtype: object
RAW:  Wednesday _ mile warmup _ 6 miles _ 7 total
Mileage                  10
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 836, dtype: object
RAW:  Saturday _ mile warmup _ 9 miles _ 10 total
Mileage                   7
Bike_Mileage            NaN
Time                   None
Weekday              Monday
Date               12/31/12
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 838, dtype: object
RAW:  Monday _ 12/31/12 _ mile warmup _ 6 miles 7:13 pace _ 7 total
Mileage                  9
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 839, dtype: object
RAW:  Tuesday _ mile warmup _ 8 miles on greenway _ 9 total
Mileage                   7
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 841, dtype: object
RAW:  Thursday _ mile warmup _ 6 miles _ 7 total
Mileage                  12
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 843, dtype: object
RAW:  Saturday _ Mile warmup _ 11 miles _ 7:15 pace _ 12 total
Mileage                   9
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 848, dtype: object
RAW:  Thursday _ mile warmup _ 8 miles _ 9 total
Mileage                   6
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 859, dtype: object
RAW:  Thursday _ mile warmup _ 5 miles _ 6 total
Mileage                  12
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 889, dtype: object
RAW:  Saturday _ mile warmup _ out ray road _ 11 miles _ 12 total
Mileage                  9
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 892, dtype: object
RAW:  Tuesday _ mile warmup _ 8 miles on greenway _ 9 total
Mileage                 8
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 895, dtype: object
RAW:  Friday _ mile warmup _ 7 miles _ 8 total
Mileage                11
Bike_Mileage          NaN
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 897, dtype: object
RAW:  Sunday _ ran with coach sanders at umstead _ 11.27 miles _ 6:57 pace _ more like 6:40 except for the last two miles _ 11 total
Mileage                  9
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               3/18/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 906, dtype: object
RAW:  Monday _ 3/18/13 _ mile warmup _ 8.22 miles _ 9 total
Mileage                   7
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 909, dtype: object
RAW:  Thursday _ mile warmup _ 6 miles _ 7 total
Mileage                   8
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 916, dtype: object
RAW:  Thursday _ mile warmup _ out on the greenway _ 7 miles _ 8 total
Mileage                10
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               4/1/13
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 920, dtype: object
RAW:  Monday _ 4/1/13 _ Mile warmup _ fartleks _ 4 miles _ 10 total
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               4/22/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 940, dtype: object
RAW:  Monday _ 4/22/13 _ mile warmup _ 5 miles _ 6 total
Mileage                 11.6
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 942, dtype: object
RAW:  Wednesday _ fartleks down to the beach _ 30 mins _ 4.2 miles _ 11.6 total
Mileage                  8
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 955, dtype: object
RAW:  Tuesday _ mile warmup _ 7 miles _ 8 total
Mileage                   7
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 957, dtype: object
RAW:  Thursday _ mile warmup _ 6 miles _ dads loop and around greystone _ 7 total
Mileage                  7
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               5/13/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 961, dtype: object
RAW:  Monday _ 5/13/13 _ mile warmup _ 4 miles _ 8 hills _ 7 total
Mileage                   5
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 964, dtype: object
RAW:  Thursday _ Mile warmup _ 7:16 pace _ 4 miles _ 5 total
Mileage                  6
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 986, dtype: object
RAW:  Tuesday _ mile warmup _ 5 miles _ 6 total
Mileage                    5
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 987, dtype: object
RAW:  Wednesday _ mile warmup _ 4 miles _ 5 total
Mileage                 6.5
Bike_Mileage            NaN

In [46]:
mil = list(raw_string_added.Mileage_init)
multi = []
for idx, m in enumerate(mil):
    if math.isnan(m):
        continue
    elif math.isnan(raw_string_added['Mileage'].iloc[idx]):
        raw_string_added['Mileage'].iloc[idx] = m
    else:
        multi.append(idx)
len(multi)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

0

Search for more data inside of the Notes columns

In [47]:
raw_string_added['Notes'] = raw_string_added['Notes'].replace(np.nan, '')
raw_string_added['Notes2'] = raw_string_added['Notes2'].replace(np.nan, '')

In [48]:
raw_string_added['Notes_comb'] = raw_string_added['Notes'].str.cat(raw_string_added[['Notes2','Notes3']].astype(str), sep="_")
raw_string_added.head()

  Notes2  ...                                         Notes_comb
0         ...                   27:19 it was a little short. _ _
1         ...                                               _ _
2         ...  swimming_ 10 laps of freestyle_5 laps of backs...
3         ...                                     35 minutes_ _
4         ...                                                _ _

[5 rows x 21 columns]

In [49]:
raw_string_added['numbers'] = raw_string_added.Notes_comb.str.findall('\d+\.*\d*')

In [50]:
greater_2 = []
two = []
one = []
for idx, num in enumerate(raw_string_added.numbers):
    if (len(num) > 2) and (idx not in comb_uni) and (math.isnan(raw_string_added['Mileage'].iloc[idx])):
        greater_2.append(idx)
    elif (len(num) == 2) and (idx not in comb_uni) and (math.isnan(raw_string_added['Mileage'].iloc[idx])):
        two.append(idx)
    elif (len(num) == 1) and (idx not in comb_uni) and (math.isnan(raw_string_added['Mileage'].iloc[idx])):
        one.append(idx)
print(len(greater_2), len(two), len(one))

48 22 48

In [51]:
manual_input_desc(raw_string_added, greater_2)

Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                7/10/10
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 20, dtype: object
RAW:  Saturday 7/10/10_8miles _55:53:00
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 100, dtype: object
RAW:  Saturday_ haganstone meet ran 17:16 first mile: 5:07 or 5:27, 2nd mile 11:05/ 5:38 or 5:58, 3rd mile 16:36/ 5:31, 40 sec 200 = 17:16
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 102, dtype: object
RAW:  Monday_ 3 min on 2 min off X 6 then 20 min cooldown
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 125, dtype: object
RAW:  Tuesday _ Cap 8 conference meet _ 17:10 _ 5:01 first mile _ Maddie came _ hurt my feet so bad _ me and Maddie got our picture in the paper :) 14th place overall _ All_Conference
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 186, dtype: object
RAW:  Thursday _ 1 on 5 off, 2 on 4 off, 3 on 3 off, 4 on 2 off, 5 on 1 off. 30 mins out, 68 out and back + .7 of a mile and mile warm up
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 218, dtype: object
RAW:  Wednesday _ stadium mile _ (500, 400, 300, 200) X 2
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               2/21/11
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 222, dtype: object
RAW:  Monday _ 2/21/11 _ 8.something miles 56:37
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               3/14/11
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 241, dtype: object
RAW:  Monday _ 3/14/11_500,400,300,200_ 5,3,2 X 2
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               4/4/11
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 252, dtype: object
RAW:  Monday _ 4/4/11 _ 1 on 5 off, 2 on 4 off, 3 on 3 off, 4 on 2 off, 5 on 1 off.
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 304, dtype: object
RAW:  Thursday _ 10? 1:08:58 _ bike route but turn in at Lynn
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 316, dtype: object
RAW:  Wednesday _ 10.5? 1:11:23 _ leadmine to strickland to Ray to Lynn to sawmill to home
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 337, dtype: object
RAW:  Tuesday _ fire tower _ 27:30 up _ 59 mins total _ a little over 8
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 358, dtype: object
RAW:  Wednesday _ morning 3 _ afternoon 8 _ northbrook 5 then 3k course _ total _11
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 359, dtype: object
RAW:  Thursday _ 30 mins out _ 30 mins back 5 min on 4 mins off 3 on 2 off 1 on 1 off...
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               8/29/11
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 371, dtype: object
RAW:  Monday _ 8/29/11 _ warmup _ 20 mins inside _ 2.5ish _ 2 with girls, hard long and easy short side of upstairs _ biked for 10 mins _ then did the rotator walker thingy for 10 mins _ warmup _ then did 5 hills _ 10 min cooldown _ 7.5 to 8ish total miles
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 394, dtype: object
RAW:  Wednesday _ mile warmup _ 5k vs. Leeseville _ 17:36 _ 530 first mile _ firstttt placeee! Felt like crap tho coming down with a cold
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 412, dtype: object
RAW:  Saturday _ kernersville _ mile warmup _ 5k _ 16:31! PR!! _ 4:50, 10:28_5:38, 15:55_5:27_ 16:31_36 sec 200 _ 3.5 cooldown _7.5
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 419, dtype: object
RAW:  Friday _ mile warmup _ 8x400_ all about 70 _ 4x200 _ 33,33,33,29 _ 2 mile cooldown _5.5
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 426, dtype: object
RAW:  Friday _ 4x800 _ 2:26,2:28,2:28,2:28_ 4x300 _ 46,47,48,47 _ 2x200 _ 4ish total
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday              Monday
Date               10/24/11
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 428, dtype: object
RAW:  Monday _ 10/24/11 _ baker's dozen _ 13x400 _ 72,71,70,70,71,69,65,68,69,68,67,70,71 _ 2 mile cooldown _ 6total
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 447, dtype: object
RAW:  Friday _ 3 wellness center _ 19:56
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 493, dtype: object
RAW:  Thursday _ mile warmup _ 45 mins _ 6 "whistler laps" sprint straights jog curves _ mile cooldown _ 9.5
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 541, dtype: object
RAW:  Tuesday _ wedgeland to mine shaft to sawmill to six forks to strickland to falls to Lynn to sawmill to home _ 10.5ish _ 71:24
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 543, dtype: object
RAW:  Thursday _ mile warmup _ 5k course _ 19:10 _ 2x800 _ 2:41, 2:42 _400_70_ 2x 200 _ 36,34 _5.5
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 544, dtype: object
RAW:  Friday _ mile warmup _ 5k course _ 4x200 loops _5
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               3/12/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 560, dtype: object
RAW:  Monday _ 3/12/12 _ mile warmup _ around Shelley _ hills _ up gravel hill then a 400 _ 6 times _ around Shelley again _ 9.5
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 572, dtype: object
RAW:  Friday _ 10x400 _ all under 70 except for 2 where I ran 72 _4.5
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 582, dtype: object
RAW:  Tuesday _ ran to lake Lynn and back _8.5_9ish _ 60 mins
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 601, dtype: object
RAW:  Saturday _ mile warmup _ mile _ 4:48 _ 20 min cooldown _ mile warmup _800_ 2:10 _ mile cooldown _ 9.5
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               7/9/12
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 670, dtype: object
RAW:  Monday _ 7/9/12 _ 50 mins _ 8:13 pace
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 699, dtype: object
RAW:  Friday _ mile warmup _4.5_ 7:30 pace
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 714, dtype: object
RAW:  Saturday _ 10 mile time trial _ 61:10 _ _ 6:07 pace
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters         1600
Name: 1215, dtype: object
RAW:  Wednesday _ off _ swam a mile in pool _ 20 freestyle _ 10 back _ 10 breast _ 10 w/ kick board _ 10 freestyle _ 4 w/ kickboard _ 2 freestyle cooldown
Mileage               NaN
Bike_Mileage       101.83
Time                 None
Weekday               NaN
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1345, dtype: object
RAW:  BIKE TOTAL - 101.83 miles - 8:30:26
Mileage                NaN
Bike_Mileage        20.391
Time                  None
Weekday             Monday
Date               6/16/14
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 1354, dtype: object
RAW:  Monday - 6/16/14 - 20.391 - 1:42:38
Mileage             NaN
Bike_Mileage        NaN
Time               None
Weekday             NaN
Date                NaN
Workout_type       None
Workout_mins        NaN
Swimming_meters     NaN
Name: 1362, dtype: object
RAW:  BIKE TOTAL - 102.21 miles - 8:44:09
Mileage                 NaN
Bike_Mileage         20.575
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 1366, dtype: object
RAW:  Thursday - 61.538 - 4:45:53 - 12.9 avg
Mileage             NaN
Bike_Mileage        NaN
Time               None
Weekday             NaN
Date                NaN
Workout_type       None
Workout_mins        NaN
Swimming_meters     NaN
Name: 1371, dtype: object
RAW:  BIKE TOTAL - 82.190 - 6:19:16
Mileage             NaN
Bike_Mileage        NaN
Time               None
Weekday             NaN
Date                NaN
Workout_type       None
Workout_mins        NaN
Swimming_meters     NaN
Name: 1395, dtype: object
RAW:  BIKE TOTAL - 82.629 miles 6:35:20 - 12.5 avg
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday              Monday
Date               11/10/14
Workout_type           None
Workout_mins            NaN
Swimming_meters        1600
Name: 1525, dtype: object
RAW:  Monday - 11/10/14 - lap swim workout - 10 free, 10 breast, 10 back, 10 kickboard, 20 free, 2 kickboard - 1 all out free - 1 free cooldown - 1600 m - 1 mile
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters      1600
Name: 1529, dtype: object
RAW:  Friday - lap swim workout plus 10 free between back and kicks and 10 kickboard alternating breast stroke kicks and dolphin kicks (5 each) - 2100 - 1.3 miles
Mileage                 NaN
Bike_Mileage            8.5
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type            gym
Workout_mins             45
Swimming_meters         NaN
Name: 1530, dtype: object
RAW:  Saturday - workout - bike workout on spinner machine - 8.5 miles at 2:20 pace
Mileage               NaN
Bike_Mileage       27.714
Time                 None
Weekday            Monday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1548, dtype: object
RAW:  Monday - bike ride - out to myrtle grove past the uncw marine center - 27.714 miles - 1:42:34 - 1st hour - 16 miles
Mileage               NaN
Bike_Mileage       32.382
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1587, dtype: object
RAW:  Sunday - 32.382 mile bike ride down to Carolina beach and back - 2 hours 27 mins
Mileage               NaN
Bike_Mileage       30.188
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1814, dtype: object
RAW:  Sunday - 30.188 miles bike - 12.4 avg - 2:25:43
Mileage               NaN
Bike_Mileage       41.162
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1823, dtype: object
RAW:  Sunday - 41.162 mile bike ride - 12.7 avg - 3:14:35
Mileage               NaN
Bike_Mileage       30.291
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1832, dtype: object
RAW:  Sunday - 30.291 mile bike ride - 12.6 avg - 2:24:56
Mileage               NaN
Bike_Mileage       22.312
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1857, dtype: object
RAW:  Friday - off - 2.081 - bike ride 20.231 miles - 15.6 avg - 1:18:12

In [52]:
manual_input_desc(raw_string_added, two)

Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                7/22/10
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 28, dtype: object
RAW:  Thursday 7/22/10_over 5_36 min
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 181, dtype: object
RAW:  Saturday _ 8.5 64 mins
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 206, dtype: object
RAW:  Wednesday _ 6 at 630 pace
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 264, dtype: object
RAW:  Thursday _ 3 at lunch, 4 afterschool
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 303, dtype: object
RAW:  Wednesday _2.5 home, 14.8 bike
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 382, dtype: object
RAW:  Friday _ 5k and miles warmup _ 4
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday              Monday
Date               12/26/11
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 483, dtype: object
RAW:  Monday _ 12/26/11 _ mile warmup _ greystone lake _ 6 hills up our street _ 4 mile cooldown _ 10.5
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 484, dtype: object
RAW:  Tuesday _ ran 75 mins at gramma and grampas house _ 10.5
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 486, dtype: object
RAW:  Thursday _ 92 mins at gramma and grampas house _ 13
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 491, dtype: object
RAW:  Tuesday _ 2 hrs _ 16ish
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 498, dtype: object
RAW:  Tuesday _ ran out got see maddie at peace for our 20 month anniversary (: and saw her at west street _ 16ish
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               1/23/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 511, dtype: object
RAW:  Monday _ 1/23/12 _ mile warmup _ twice around greystone _ 9 times up our hill _ 4 mile cooldown _11.5
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 537, dtype: object
RAW:  Saturday _ Ran twice around greystone _ dads loop _7.5_ 51 mins
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 584, dtype: object
RAW:  Thursday _ 80 mins _ 11ish miles
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 587, dtype: object
RAW:  Sunday _ Same as Tuesday _8.5_9ish
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               5/28/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 632, dtype: object
RAW:  Monday _ 5/28/12 _ ran at umstead _ out sycamore creek to turkey creek trail and turned around at cesar(or something) creek trail _ 9.5ish _ 66 mins
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               6/11/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 642, dtype: object
RAW:  Monday _ 6/11/12 _4_ 30 mins
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 665, dtype: object
RAW:  Wednesday _ 60 mins _ steady state _ 7.5
Mileage             NaN
Bike_Mileage        NaN
Time               None
Weekday             NaN
Date                NaN
Workout_type       None
Workout_mins        NaN
Swimming_meters     NaN
Name: 1462, dtype: object
RAW:  BIKE TOTAL - (2 weeks) - 42.131
Mileage               NaN
Bike_Mileage       82.917
Time                 None
Weekday               NaN
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1531, dtype: object
RAW:  BIKE TOTAL - 82.917 (2weeks)
Mileage               NaN
Bike_Mileage       62.999
Time                 None
Weekday               NaN
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1607, dtype: object
RAW:  BIKE TOTAL - 62.999 miles (2 weeks)
Mileage                 NaN
Bike_Mileage            9.5
Time                   None
Weekday            Thursday
Date               12/31/15
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 1983, dtype: object
RAW:  Thursday - 12/31/15 - 30 minutes biking - 9.5 miles

In [53]:
manual_input_desc(raw_string_added, one)

Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                7/15/10
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 25, dtype: object
RAW:  Thursday 7/15/10_30 minutes
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Sunday
Date               7/25/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 31, dtype: object
RAW:  Sunday 7/25/10_25 minutes at state course Pool workout
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               11/1/10
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 137, dtype: object
RAW:  Monday_ 11/1/10 _6.5_ got to go to the top of the building across from Harris teeter!!! It was sooo awesome
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 139, dtype: object
RAW:  Wednesday _ like 3ish went to wellness center and did the bikes
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 202, dtype: object
RAW:  Friday _ pacer test 110
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 219, dtype: object
RAW:  Thursday _ 27 minutes out, and back _ on milbrook
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 285, dtype: object
RAW:  Friday _ sawmill through the woods + mile warm up _6
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               5/23/11
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 287, dtype: object
RAW:  Monday _ 5/23/11 _2.5
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 289, dtype: object
RAW:  Wednesday _ 5 greenway
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 302, dtype: object
RAW:  Tuesday _ 2.5 home
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               7/4/11
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 326, dtype: object
RAW:  Monday _ 7/4/11 _ 3 (hurt leg recovering)
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 327, dtype: object
RAW:  Tuesday _ 4.5 (hurt leg recovering)
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               7/11/11
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 332, dtype: object
RAW:  Monday _ 7/11/11 _ 1.5 still hurts.
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 374, dtype: object
RAW:  Thursday _ 4.5 dads loop
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 379, dtype: object
RAW:  Tuesday _ 4ish miles practice was cancelled
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Sunday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 405, dtype: object
RAW:  Sunday _ 30ish mile bike ride with Tristan
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 439, dtype: object
RAW:  Friday _ 1 mile _ 10 strides
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday              Monday
Date               11/14/11
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 443, dtype: object
RAW:  Monday _ 11/14/11 _ 3 greystone
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 444, dtype: object
RAW:  Tuesday _ 3 greystone _ bike ride with Tristan
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 445, dtype: object
RAW:  Wednesday _ 3 greystone
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 446, dtype: object
RAW:  Thursday _ 3 greystone
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday              Monday
Date               11/21/11
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 450, dtype: object
RAW:  Monday _ 11/21/11 _ 3 round greystone
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 465, dtype: object
RAW:  Tuesday _ mile warmup _ ran out on dixon and back behind north hills in the neighborhoods _ 13ish total??
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 472, dtype: object
RAW:  Tuesday _ ran to peace (: saw maddie driving to work (: like 15
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 488, dtype: object
RAW:  Saturday _ twice around greystone _ 3
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date               1/2/12
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 490, dtype: object
RAW:  Monday _ 1/2/12 _ same as last Monday _ 10.5
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Thursday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 500, dtype: object
RAW:  Thursday _ the loop from here to Lynn to creedmoor to Strickland to six forks to sawmill _8.5
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               2/20/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 540, dtype: object
RAW:  Monday _ 2/20/12 _ 7ish _ lead mine to creedmoor to Strickland to six forks to sawmill to home
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 548, dtype: object
RAW:  Tuesday _ mile warmup _ 5k course
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 605, dtype: object
RAW:  Wednesday _ 2miles
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 624, dtype: object
RAW:  Monday _ around lake twice then dads loop _7.5
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Friday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 636, dtype: object
RAW:  Friday _ dads loop _4.5
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 637, dtype: object
RAW:  Saturday _ twice around lake _3
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 643, dtype: object
RAW:  Tuesday _ 5w/ junior _
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               7/30/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 688, dtype: object
RAW:  Monday _ 7/30/12_4.5_ dads loop
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               9/17/12
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 738, dtype: object
RAW:  Monday _ 9/17/12 _8.5_ hooker to wrightsville to independence to Randall
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 747, dtype: object
RAW:  Wednesday _ down to the beach _ 13
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 750, dtype: object
RAW:  Saturday _ 17 down to the beach then a right and then all the way down to the end
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date               1/22/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 857, dtype: object
RAW:  Tuesday _ 1/22/13_ 3
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date               1/29/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 862, dtype: object
RAW:  Tuesday _ 1/29/13 _ test run _2_ no go
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               4/15/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 933, dtype: object
RAW:  Monday _ 4/15/13 _ Randall to Racine to Eastwood to military cutoff to wrightsville to hooker to home _ about 7ish
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               6/17/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 978, dtype: object
RAW:  Monday _ 6/17/13 _ running down bill Bledsoe road and back _4
Mileage                  NaN
Bike_Mileage             NaN
Time                    None
Weekday            Wednesday
Date                     NaN
Workout_type            None
Workout_mins             NaN
Swimming_meters          NaN
Name: 1093, dtype: object
RAW:  Wednesday _ 4ish miles _ it feels a lot better
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday            Tuesday
Date                   NaN
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 1100, dtype: object
RAW:  Tuesday _ just 8 easy
Mileage                 NaN
Bike_Mileage            NaN
Time                   None
Weekday            Saturday
Date                    NaN
Workout_type           None
Workout_mins            NaN
Swimming_meters         NaN
Name: 1127, dtype: object
RAW:  Saturday _ 10 strides on top of parking deck _ 1 mile ish
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               11/4/13
Workout_type          None
Workout_mins           NaN
Swimming_meters        NaN
Name: 1130, dtype: object
RAW:  Monday _ 11/4/13 _ 15 mins really easy _ just a nice cooldown
Mileage               NaN
Bike_Mileage          NaN
Time                 None
Weekday            Monday
Date                  NaN
Workout_type         None
Workout_mins          NaN
Swimming_meters       NaN
Name: 1243, dtype: object
RAW:  Monday _ easy 13 out greenway to art museum and across pedestrian bridge
Mileage                NaN
Bike_Mileage           NaN
Time                  None
Weekday             Monday
Date               3/17/14
Workout_type          None
Workout_mins           NaN
Swimming_meters       1600
Name: 1257, dtype: object
RAW:  Monday _ 3/17/14 _ 25 mins easy lap swim

need to look at every row that is null for mileage and see whether it should be null or not

In [54]:
l_comb_uni = list(comb_uni)

In [55]:
comb_2 = l_comb_uni + greater_2 + two + one

In [56]:
missing_mileage = []
for idx, w in enumerate(raw_string_added['Mileage']):
    if (math.isnan(w)) and (idx not in comb_2):
        missing_mileage.append(idx)

In [71]:
manual_changes = {'Mileage': [[339,6.5],[8,5],[729,13],[23,6.5],[34,2],[53,8],[1247,21],[0,3.8],[43,6.5],[223,9],[373,5],[383,9],[514,9],[534,7],[542,13],[547,9],[551,7],[591,9],[756,9],[832,6],[901,10],
                          [903,8],[908,10.5],[910,8.19],[924,11.5],[1074,8],[1099,9],[1102,13.1],[1107,8],[1108,11.3],[1114,11],[1122,7],[1247,21],[1255,26.2],[11,6],[16,5],[22,7],[32,9.25],[39,4],
                          [55,6],[64,4],[88,5],[164,8],[20, 8],[50,4],[100,4.2],[102,6.5],[125,4.2],[181,8.5],[186, 10.7],[218,4],[222,8],[241,4],[252,5.5],[264,7],[304,10],[316,10.5],[337,8],[358,11],
                          [359,10],[371,8],[394,4.2],[412,7.5],[419,5.5],[426,4],[428,6],[447,3],[493,9.5],[541,10.5],[543,5.5],[544,5],[560,9.5],[572,4.5],[582,9],[601,9.5],[670,6],[699,5.5],[714,11],
                          [28,5.5],[181,8.5],[206,6],[303,2.5],[382,4],[483,10.5],[484,10.5],[486,13],[491,16],[498,16],[511,11.5],[537,7.5],[584,11],[587,9],[632,9.5],[642,4],[665,7.5],[25,4],[31,3.5],
                          [137,6.5],[139,3],[202,2],[219,7.5],[285,6],[287,2.5],[289,5],[302,2.5],[326,3],[327,4.5],[332,1.5],[374,4.5],[379,4],[439,1],[443,3],[444,3],[445,3],[446,3],[450,3],[465,13],
                          [472,15],[488,3],[490,10.5],[500,8.5],[540,7],[548,4.2],[605,2],[624,7.5],[636,4.5],[637,3],[643,5],[688,4.5],[738,8.5],[747,13],[750,19],[857,3],[862,2],[933,7],[978,4],[1093,4],
                          [1100,8],[1127,1],[1130,2],[1243,13],[134,1],[233,3],[281,3],[469,10],[601,10],[966,1]], 
                  'Time': [[8, '28:04'],[23, '35:32'],[558,'40:00'],[357,'66:01'],[351,'70:00'],[166,'34:00'],[107,'75:00'],[90,'39:00'],[63,'53:40'],[61,'50:50'],[48,'42:59'],[40,'40:47'],[36,'19:42'],
                           [17,'28:38'],[0,'27:19'],[11,'32:04'],[37,'47:13'], [20, '55:53'], [181,'64:00'],[186, '68:00'],[222,'56:37'],[316,'71:23'],[412,'16:31'],[582,'60:00'],[714,'61:10'],
                           [181,'64:00'],[537,'51:00'],[584,'80:00'],[632,'66:00'],[642,'30:00'],[665,'60:00'],[31,'25:00'],[219,'54:00']],
                  'Date': [[95, '9/20/10'], [110, '10/4/10']],
                  'Bike_Mileage': [[505,24],[1013,30],[1021,30],[1029,30],[54,14.9],[37,14.9],[328,20.7],[1362,102.21],[303,14.8],[405,30],[311,23],[452,37],[615,41]],
                  'Swimming_meters': [[31,1600],[677,1600]],
                  'Workout_type': [[214,'gym'],[1440,'gym'],[1457,'gym'],[1601,'gym']],
                  'Workout_mins': [[214,30],[1440,60],[1457,60],[1601,60]]}

In [72]:
manual_inputs_df = raw_string_added.copy()

In [73]:
def input_manual_fx(df, loc_dict):
    for key, value in loc_dict.items():
        for v in value:
            df.loc[v[0], key] = v[1]

In [74]:
input_manual_fx(manual_inputs_df, manual_changes)

In [76]:
manual_inputs_df['Mileage'] = manual_inputs_df['Mileage'].replace(np.nan, 0)

#### Time to mess with the Date.

6

In [77]:
date_list = list(manual_inputs_df.Date)
for idx, d in enumerate(date_list):
    try:
        if math.isnan(d):
            continue
    except:
        print(d, idx)

5/29/10 0
6/21/10 1
6/22/10 2
6/23/10 3
6/25/10 4
6/26/10 5
6/27/10 6
6/28/10 7
6/29/10 8
6/30/10 9
7/1/10 10
7/2/10 11
7/3/10 12
7/5/10 13
7/6/10 14
7/7/10 15
7/8/10 16
7/9/10 17
7/10/10 18
7/12/10 19
7/13/10 20
7/14/10 21
7/15/10 22
7/16/10 23
7/22/10 24
7/25/10 26
7/26/10 27
7/27/10 28
7/28/10 29
7/29/10 30
7/30/10 31
7/31/10 32
8/16/10 45
8/23/10 51
9/1/10 57
9/6/10 63
9/20/10 75
10/4/10 88
11/1/10 111
11/15/10 117
11/22/10 122
11/29/10 128
12/6/10 133
12/13/10 138
12/20/10 143
1/3/10 150
1/10/11 156
1/17/11 158
1/24/11 163
1/31/11 168
2/7/11 173
2/14/11 179
2/21/11 184
2/28/11 189
3/7/11 195
3/14/11 200
3/28/11 205
4/4/11 210
4/19/11 215
4/25/11 218
5/2/11 223
5/9/11 229
5/16/11 235
5/23/11 241
5/30/11 247
6/6/11 253
6/13/11 258
6/20/11 264
6/27/11 270
7/4/11 274
7/11/11 280
7/24/11 283
7/31/11 289
8/7/11 294
8/15/11 301
8/22/11 308
8/29/11 314
9/5/11 320
9/12/11 326
9/19/11 332
9/26/11 338
10/3/11 345
10/10/11 352
10/17/11 358
10/24/11 363
10/31/11 369
11/14/11 376
11/21/11 382
11/28/11 388
12/5/11 394
12/12/11 400
12/19/11 405
12/26/11 410
1/2/12 416
1/9/12 422
1/16/12 428
1/23/12 434
1/30/12 440
2/6/12 446
2/13/12 452
2/20/12 459
2/27/12 465
3/5/12 470
3/12/12 476
3/19/12 483
3/26/12 488
4/2/12 494
4/9/12 501
4/16/12 507
4/23/12 513
5/8/12 520
5/14/12 525
5/28/12 538
6/4/12 544
6/11/12 546
6/25/12 558
7/2/12 564
7/9/12 570
7/18/12 576
7/23/12 580
7/30/12 586
8/6/12 592
8/13/12 598
8/20/12 604
8/27/12 611
9/3/12 617
9/10/12 623
9/17/12 629
9/24/12 635
10/1/12 641
10/8/12 647
10/15/12 654
10/22/12 660
10/29/12 666
11/12/12 674
11/19/12 680
11/26/12 685
12/3/12 691
12/10/12 697
12/17/12 703
12/24/12 709
12/31/12 715
1/7/13 721
1/14/13 727
1/22/13 731
1/29/13 735
2/4/13 736
2/11/13 742
2/18/13 748
2/25/13 754
3/4/13 760
3/11/13 767
3/18/13 773
3/24/13 779
4/1/13 785
4/8/13 790
4/15/13 796
4/22/13 802
4/29/13 808
5/6/13 814
5/13/13 820
6/9/13 828
6/10/13 829
6/17/13 835
6/24/13 841
7/1/13 847
7/8/13 852
7/13/13 858
7/22/13 866
7/29/13 873
8/5/13 880
8/12/13 887
8/19/13 894
8/26/13 901
9/2/13 908
9/9/13 915
9/15/13 921
9/23/13 927
9/29/13 933
10/7/13 940
10/13/13 946
10/21/13 953
10/28/13 960
11/4/13 967
11/16/13 969
11/25/13 976
12/1/13 982
12/9/13 988
12/16/13 994
12/22/13 1000
12/30/13 1007
1/1/14 1009
1/6/14 1014
1/12/14 1020
1/20/14 1026
1/27/14 1032
2/2/14 1038
2/10/14 1045
2/17/14 1052
2/24/14 1058
3/2/14 1064
3/10/14 1070
3/17/14 1077
3/31/14 1079
3/31/14 1081
3/31/14 1082
3/31/14 1083
4/7/14 1089
4/14/14 1096
4/20/14 1103
4/28/14 1110
5/5/14 1118
5/12/14 1126
5/19/14 1134
5/26/14 1142
6/2/14 1149
6/9/14 1156
6/16/14 1163
6/23/14 1171
6/30/14 1179
7/1/14 1180
7/7/14 1186
7/14/14 1193
7/21/14 1200
7/28/14 1208
8/4/14 1215
8/11/14 1222
8/18/14 1229
8/25/14 1236
9/1/14 1244
9/8/14 1251
9/15/14 1259
9/22/14 1266
9/28/14 1274
10/6/14 1282
10/13/14 1290
10/21/14 1297
10/28/14 1304
11/3/14 1311
11/6/14 1313
11/10/14 1314
11/17/14 1321
11/24/14 1327
11/30/14 1334
12/8/14 1342
12/15/14 1349
12/22/14 1357
12/29/14 1364
1/1/15 1367
1/5/15 1372
1/12/15 1380
1/19/15 1388
1/26/15 1396
2/2/15 1404
2/9/15 1412
2/16/15 1420
2/24/15 1428
3/2/15 1435
3/15/15 1449
3/23/15 1456
5/3/15 1458
5/10/15 1465
5/18/15 1472
5/25/15 1478
5/31/15 1485
6/7/15 1493
6/15/15 1502
6/22/15 1510
6/29/15 1519
7/6/15 1528
7/13/15 1537
7/20/15 1546
7/27/15 1555
8/3/15 1564
8/10/15 1572
8/17/15 1580
8/24/15 1588
8/31/15 1596
9/14/15 1612
9/21/15 1620
9/28/15 1628
10/5/15 1635
10/12/15 1643
10/19/15 1651
10/26/15 1659
11/2/15 1667
11/9/15 1675
11/16/15 1682
11/23/15 1689
11/30/15 1696
12/7/15 1703
12/14/15 1710
12/21/15 1717
12/25/15 1719
12/31/15 1720

# Garmin Data Wrangling

# Future Garmin Data Web Scraping

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.4.5.1)

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [ ]:
import numpy as np
import pandas as pd
import requests
import bs4
import lxml.etree as xml

In [ ]:
URL = "https://connect.garmin.com/modern/activities"

requests.get(URL)

In [ ]:
requests.get(URL, {}).text

'<!DOCTYPE html><html><head><meta charSet="utf-8"/><meta http-equiv="x-ua-compatible" content="ie=edge"/><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/><style data-href="/styles.3bfbd3dd9436b814ee1a.css">body,html{height:auto;font:400 14px/22px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222;background-color:#efefef;margin:0}a,a:active,a:hover,a:visited{text-decoration:none;color:inherit}#truste-consent-track{display:block}#truste-consent-content{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;box-sizing:border-box}#truste-consent-text{margin:0 1rem 0 0}#truste-consent-buttons{display:flex;flex-direction:row;margin-top:1px!important;margin-left:10px!important}#truste-consent-button,#truste-show-consent{font-family:Open Sans,HelveticaNeue,HelveticaNeueu,Arial,sans-serif;font-size:14px;color:#fff;background-color:#4a4a4a;cursor:pointer;padding:5px 20px;margin:12px 0;border-radius:4px;border:none}#truste-show-consent{margin-left:1rem}#truste-consent-button:hover,#truste-show-consent:hover{background-color:#4a4a4a}#truste-cookie-button{color:#fff;margin:1rem;line-height:2}@media (max-width:1024px){#truste-consent-content{flex-direction:column;flex-wrap:nowrap}#truste-consent-text{margin:20px 20px 10px;text-align:center;width:unset!important}#truste-consent-buttons{display:block;text-align:center}#truste-consent-button,#truste-show-consent{padding-top:10px;padding-bottom:10px;width:100%;margin:5px 0}#truste-cookie-button{display:inline-block;margin:auto;padding:15px}#truste-show-consent{margin-left:0}}.truste_overlay{background:#fff!important;opacity:.8!important}.truste_box_overlay{background:none!important}.truste_box_overlay_inner{border:3px solid #e8e8e8}</style><meta name="generator" content="Gatsby 2.4.2"/><title data-react-helmet="true">Garmin Connect | </title><link data-react-helmet="true" rel="shortcut icon" href="https://static.garmincdn.com/favicon.ico"/><meta data-react-helmet="true" name="robots" content="index,follow"/><meta data-react-helmet="true" name="revisit-after" content="15 days"/><meta data-react-helmet="true" name="author" content="Garmin International"/><meta data-react-helmet="true" property="fb:app_id" content="169380733077633"/><meta data-react-helmet="true" property="og:type" content="website"/><meta data-react-helmet="true" property="og:site_name" content="Garmin Connect"/><meta data-react-helmet="true" name="twitter:card" content="summary"/><meta data-react-helmet="true" name="twitter:site" content="@GarminFitness"/><meta data-react-helmet="true" name="description" content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device."/><meta data-react-helmet="true" property="og:title" content="Garmin Connect | Sign In"/><meta data-react-helmet="true" property="og:url" content="https://connect.garmin.com/signin"/><meta data-react-helmet="true" property="og:description" content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device."/><meta data-react-helmet="true" property="og:image" content="http://static.garmincdn.com/com.garmin.connect/content/images/garmin-connect-fb3.gif"/><meta data-react-helmet="true" name="twitter:title" content="Garmin Connect | Sign In"/><script data-react-helmet="true" src="https://tags.tiqcdn.com/utag/garmin/main/prod/utag.js"></script><style type="text/css" id="server-side-jss">.c017 {\n  height: 60px;\n  display: flex;\n  padding: 0 15% 0 15%;\n  background: #1a1a1a;\n  justify-content: space-between;\n}\n.c018 {\n  top: 3px;\n  width: 150px;\n  height: 28px;\n  display: block;\n  position: relative;\n  background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;\n  background-size: 236px 271px;\n}\n.c019 {\n  float: right;\n  margin: 0;\n  list-style: none;\n}\n.c0110 {\n  display: inline-block;\n  margin-right: 25px;\n}\n.c0110 a {\n  color: #fff;\n  font-size: 1em;\n  font-weight: 300;\n}\n.c0112 {\n  width: 0;\n  height: 0;\n  display: inline-block;\n  border-top: 4px solid #fff;\n  border-left: 4px solid transparent;\n  margin-left: 5px;\n  border-right: 4px solid transparent;\n}\n.c0113 {\n  width: 0;\n  height: 0;\n  display: inline-block;\n  border-left: 4px solid transparent;\n  margin-left: 5px;\n  border-right: 4px solid transparent;\n  border-bottom: 4px solid #fff;\n}\n.c0114 {\n  display: none;\n}\n.c0115 {\n  margin: 0;\n  padding: 0;\n}\n.c0116 {\n  font-size: inherit;\n  font-weight: inherit;\n  margin-block-end: 0em;\n  margin-block-start: 0em;\n}\n.c0117 {\n  margin-top: 12px;\n}\n.c0118 {\n  margin-top: 12px;\n}\n@media only screen and (max-width: 767px) {\n  .c018 {\n    top: -3px;\n  }\n  .c0120 {\n    height: 100%;\n  }\n  .c0121 {\n    height: 100vh;\n  }\n  .c017 {\n    margin: 0;\n    display: flex;\n    padding: 0;\n    flex-flow: wrap;\n    justify-content: space-between;\n  }\n  .c0117 {\n    display: none;\n  }\n  .c0114 {\n    width: 20px;\n    margin: 23px 25px;\n    height: 14px;\n    display: inline-flex;\n    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMjAgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLW1lbnU8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iaWNvbi1tZW51IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNMCwwIEwyMCwwIEwyMCwyIEwwLDIgTDAsMCBaIE0wLDYgTDIwLDYgTDIwLDggTDAsOCBMMCw2IFogTTAsMTIgTDIwLDEyIEwyMCwxNCBMMCwxNCBMMCwxMiBaIiBpZD0iQ29tYmluZWQtU2hhcGUiIGZpbGw9IiNGRkZGRkYiPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat;\n  }\n  .c0122 {\n    margin: 0;\n    display: block;\n    padding: 0;\n    flex-flow: wrap;\n    background: #121212;\n    justify-content: space-between;\n  }\n  .c0122 .c018 {\n    background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;\n    background-size: 236px 271px;\n  }\n  .c0122 .c0117 {\n    margin: 5px 0 10px 0;\n    display: flex;\n    flex-basis: 100%;\n  }\n  .c0122 .c0115 {\n    width: 100%;\n    margin: 0;\n    padding: 0;\n    display: grid;\n  }\n  .c0122 .c0110 {\n    color: #fff;\n    margin: 0;\n    padding: 10px 25px;\n    border-top: 1px solid #4d4d4d;\n  }\n  .c0122 .c0112 {\n    float: right;\n    margin-top: 10px;\n    border-top: 4px solid #fff;\n  }\n  .c0122 .c0113 {\n    float: right;\n    margin-top: 10px;\n    border-bottom: 4px solid #fff;\n  }\n  .c0122 .c0119 {\n    width: 80%;\n    margin-top: 20px;\n    border-top: 0px;\n    text-align: center;\n    justify-self: center;\n    margin-right: 0;\n  }\n  .c0122 .c0114 {\n    width: 20px;\n    right: 0;\n    height: 18px;\n    display: inline-block;\n    position: absolute;\n    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLWNsb3NlPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9Imljb24tY2xvc2UiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik02LjU0NTQ1NDU1LDggTC0xLjU5NzM4ODg5ZS0xMiwxLjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LC0xLjY0NDI0MDNlLTEyIEw4LDYuNTQ1NDU0NTUgTDE0LjU0NTQ1NDUsMS42NTIwMTE4NmUtMTIgTDE2LDEuNDU0NTQ1NDUgTDkuNDU0NTQ1NDUsOCBMMTYsMTQuNTQ1NDU0NSBMMTQuNTQ1NDU0NSwxNiBMOCw5LjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LDE2IEwtMS42MDI0OTU5MWUtMTIsMTQuNTQ1NDU0NSBMNi41NDU0NTQ1NSw4IFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0iI0ZGRkZGRiI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=) no-repeat ;\n  }\n  .c0122 .c0111 {\n    margin: 0;\n    padding: 0;\n  }\n  .c0122 .c0111 div {\n    padding: 10px 25px;\n  }\n  .c0122 .c0111 ul {\n    max-height: initial;\n  }\n  .c0122 .c0111 li {\n    color: #000;\n    padding: 10px 25px;\n  }\n  .c0122 .c0110:nth-last-child(2) {\n    border-bottom: 1px solid #4d4d4d;\n  }\n  .c0122 .c0110 a {\n    color: #fff;\n  }\n  .c0118 {\n    display: inline-flex;\n    padding: 10px 25px;\n    flex-basis: 50%;\n  }\n}\n.c0136 {\n  display: inline;\n}\n.c0136 a {\n  white-space: nowrap;\n}\n.c0137 {\n  left: 0;\n  width: 100%;\n  color: #fff;\n  bottom: 0;\n  margin: 0 auto;\n  z-index: 110;\n  position: fixed;\n  font-size: 14px;\n  font-family: \'Open Sans\',\'HelveticaNeue\',\'HelveticaNeueu\',Arial,sans-serif;\n  background-color: #333;\n}\n.c0123 {\n  left: 0;\n  width: 100%;\n  bottom: 0;\n  display: flex;\n  padding: 60px 0;\n  text-align: center;\n  flex-direction: column;\n  justify-content: center;\n  background-color: #EFEFEF;\n}\n.c0124 {\n  font-size: 1.3rem;\n  font-weight: 200;\n  padding-bottom: 30px;\n}\n.c0124 a {\n  padding: 10px;\n  border-color: #555555;\n  border-style: solid;\n  border-width: 1px;\n  border-radius: 3px;\n}\n.c0124 a:visited, .c0124 a:hover, .c0124 a:active {\n  color: #555555;\n}\n.c0125 {\n  flex: 1;\n  color: #6c6c6c;\n  box-sizing: border-box;\n  text-align: left;\n  font-weight: 300;\n  padding-left: 20px;\n}\n.c0126 {\n  flex: 1;\n  padding: 0;\n  box-sizing: border-box;\n  text-align: right;\n}\n.c0127 {\n  color: #6c6c6c;\n  display: inline-block;\n  font-weight: 400;\n}\n.c0127 a:visited, .c0127 a:hover, .c0127 a:active {\n  color: #6c6c6c;\n  text-decoration: none;\n}\n.c0127:not(:first-of-type):before {\n  width: 5px;\n  height: 5px;\n  margin: 0 10px 3px 10px;\n  content: "";\n  display: inline-block;\n  border-radius: 50%;\n  background-color: #6c6c6c;\n}\n.c0128 {\n  display: flex;\n  align-items: center;\n  justify-content: center;\n}\n.c0129 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0130 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0131 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0132 a {\n  width: 24px;\n  height: 24px;\n  display: inline-block;\n}\n@media screen and (max-width:767px) {\n  .c0128 {\n    padding: 0 5px 0 5px;\n    flex-wrap: wrap;\n  }\n  .c0126 {\n    flex-basis: 100%;\n    text-align: center;\n  }\n  .c0125 {\n    text-align: center;\n    padding-left: 0;\n  }\n}\n.c0133 {\n  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtaW5zdGFncmFtLWljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0ic29jaWFsLWluc3RhZ3JhbS1pY29uIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iaW5zdGFncmFtIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDIzLjQyMTE3NjUgMCAyMy40MjExNzY1IDIzLjQyMTE3NjUgMCAyMy40MjExNzY1Ij48L3BvbHlnb24+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNS45MDk2MzU0LDAgQzE4Ljc3ODM2MTEsMC4wMDUwNjQ2NjQ5MiAxOC44ODk3NTM5LDAuMDI4OTQwOTQyNCAxOS40NTAzMzQ0LDAuMTA5OTc1NTgxIEMyMC42MDY5Mzg3LDAuMjc3MTA5NTIzIDIxLjU3ODM3MDUsMC43Mzg3MTc1NTQgMjIuMzcxODYzMiwxLjQ5Njk3MDI1IEMyMi43OTgwNTU5LDEuODk4OTcyOTUgMjMuMTQ2MjgyOCwyLjM3NjMxODgxIDIzLjM5ODk5MTQsMi45MDQ5NDcwOSBDMjMuNzM1MzM5OCwzLjU4OTQwMDM4IDIzLjkwMDk4MjMsNC4yMzc2Nzc0OSAyMy45NzYyMDg2LDUuMjAxNDEwODcgQzIzLjk5Mjg0NTEsNS40MDgzMzg2MSAyNC4wMDAwNzg0LDguNjk4OTIzNzYgMjQuMDAwMDc4NCwxMS45OTI0MDMgQzI0LjAwMDA3ODQsMTUuMjg0NDM1MiAyMy45OTM1Njg1LDE4LjU4MTUzMjEgMjMuOTc2OTMxOSwxOC43ODg0NTk4IEMyMy45MDI0Mjg5LDE5LjczNjk5OTIgMjMuNzM2Nzg2NCwyMC4zOTAzNDEgMjMuNDExMjg4LDIxLjA2MjQ5NDMgQzIyLjc2NzQ2NTEsMjIuMzk1OTA0MSAyMS41Njg1OTA1LDIzLjM3NzQ5NzUgMjAuMTM0NjA0NCwyMy43NDUzMTk3IEMxOS42MTM4MDcsMjMuODc5ODk1MSAxOS4xNDIxOTYsMjMuOTQzNTY1MiAxOC4zMjk4OTY3LDIzLjk4MTE4ODQgQzE4LjAzOTg0MTUsMjMuOTk2MzgyNCAxNS4wMDkwODk5LDI0IDExLjk3ODMzODQsMjQgQzguOTQ3NTg2NzksMjQgNS45MTgyODE4OSwyMy45OTA1OTQyIDUuNjIwOTkzMzgsMjMuOTc3NTcwOCBDNC45MjAwODY4NywyMy45NDQyODg3IDQuMzczMjQ5NiwyMy44NzQxMDY5IDMuODc5MjE1MzksMjMuNzQ2NzY2OCBDMi40NDgxNzAzNiwyMy4zNzY2NDgyIDEuMjUwODM3MjcsMjIuMzk4NDMyIDAuNjAyNTMxNzI1LDIxLjA2OTcyOTYgQzAuMjcwNTIzMzgsMjAuMzgwOTM1MiAwLjExMzU2MDgyOSwxOS43NTE0Njk3IDAuMDMwMzc3OTEsMTguNzUwODM2NiBDMC4wMDY1MDgwMjg5NSwxOC40NjY0OTE4IDAuMDAwNzIxMzkxMTMxLDE3LjAwMjgwMzcgMC4wMDA3MjEzOTExMzEsMTEuOTk1Mjk3MSBDMC4wMDA3MjEzOTExMzEsMTAuMzA4MDQwMiAtMC4wMDA3MjUyNjgzMjUsOS4wNTA1NTYyMSAwLjAwMDcyMTM5MTEzMSw4LjA5NDc4MTU5IEMwLjAwNTc4NDY5OTIzLDUuMjI4MTgxMjQgMC4wMjg5MzEyNTA1LDUuMTEzODY0NTIgMC4xMTA2Njc1MSw0LjU1MjQxMDI0IEMwLjI3Nzc1NjY3NywzLjM5NjIxOTU5IDAuNzM5MjQxMDQzLDIuNDIzODAzOTMgMS41MDAxODM5MiwxLjYzMjk5MjY3IEMxLjg5NTY4MjgxLDEuMjE2NTg0MjcgMi4zNjI2MjgwNSwwLjg3NDQ5MDc1MiAyLjg3ODg1MDM4LDAuNjIyOTUzNzg1IEMzLjU3NjE0MDI0LDAuMjc2Mzg2IDQuMjE1NTYzNzIsMC4xMTQzMTY3MjIgNS4yNDQxMzg1OSwwLjAyODk0MDk0MjQgQzUuNTI5MTMwNSwwLjAwNTA2NDY2NDkyIDYuOTkzODczMiwwIDEyLjAwMzY1NDksMCBMMTUuOTA5NjM1NCwwIFogTTExLjk5NzE0NDksMy4xMzg2NDUyIEwxMS45OTg1OTE2LDMuMTM4NjQ1MiBMMTEuOTk1Njk4MywzLjEzODY0NTIgTDExLjk5NzE0NDksMy4xMzg2NDUyIEM5LjU5MjA3MzU4LDMuMTM4NjQ1MiA5LjI4OTcyMTc2LDMuMTQ5NDk4MDYgOC4zNDUwNTMxMywzLjE5MjE4NTk1IEM3LjQwMTgzMTE3LDMuMjM1NTk3MzYgNi43NTgwNjc3MSwzLjM4NDY0MzIxIDYuMTk0NTkzODUsMy42MDM4NzA4NSBDNS42MDMzMzQwMSwzLjgyNjUxNjUxIDUuMDY3Njk0MDIsNC4xNzUzOTMwNiA0LjYyNDk2ODM0LDQuNjI2MjA5NjQgQzQuMTc0MzYwMTksNS4wNjg4NDQzOCAzLjgyNTU4MjQ2LDUuNjA0MzcyNzcgMy42MDI5MDM0NCw2LjE5NTUzMjI0IEMzLjM4MzAxMTIsNi43NTkxNTcxIDMuMjMzMjgxOTQsNy40MDM4MTY1OSAzLjE5MTMyODgyLDguMzQ2NTY3NzkgQzMuMTQ4NjUyMzcsOS4yOTIyMTMwOCAzLjEzNzgwMjQyLDkuNTkzOTIyNCAzLjEzNzgwMjQyLDEyLjAwMTA4NTMgQzMuMTM3ODAyNDIsMTQuNDA3NTI0NiAzLjE0ODY1MjM3LDE0LjcwOTIzNCAzLjE5MTMyODgyLDE1LjY1NDE1NTcgQzMuMjM0NzI4NiwxNi41OTc2MzA1IDMuMzgzNzM0NTMsMTcuMjQxNTY2NCAzLjYwMjkwMzQ0LDE3LjgwNTE5MTMgQzMuODI1MzAxODMsMTguMzk2NzA0NSA0LjE3NDEwOTgsMTguOTMyNTI2MyA0LjYyNDk2ODM0LDE5LjM3NTIzNzQgQzUuMDY3MjY1MTcsMTkuODI2NDA4MyA1LjYwMjY5NzksMjAuMTc1NTU3NSA2LjE5Mzg3MDUyLDIwLjM5ODI5OTcgQzYuNzU3MzQ0MzgsMjAuNjE2ODAzOCA3LjQwMTEwNzg0LDIwLjc2NjU3MzIgOC4zNDQzMjk4LDIwLjgwOTk4NDYgQzkuMjg5NzIxNzYsMjAuODUyNjcyNSA5LjU5MTM1MDI1LDIwLjg2MzUyNTQgMTEuOTk3MTQ0OSwyMC44NjM1MjU0IEMxNC40MDM2NjI5LDIwLjg2MzUyNTQgMTQuNzA0NTY4MSwyMC44NTI2NzI1IDE1LjY0OTk2MDEsMjAuODA5OTg0NiBDMTYuNTkzMTgyLDIwLjc2NjU3MzIgMTcuMjM3NjY4OCwyMC42MTY4MDM4IDE3LjgwMTE0MjcsMjAuMzk4Mjk5NyBDMTguMzkyMTczMSwyMC4xNzU2OTQzIDE4LjkyNzM5NzYsMTkuODI2NTE5OSAxOS4zNjkzMjE1LDE5LjM3NTIzNzQgQzE5LjgyMDM4NjksMTguOTMyNTUzMiAyMC4xNjk0MzY5LDE4LjM5NjczODkgMjAuMzkyMTA5NywxNy44MDUxOTEzIEMyMC42MDk4MzIsMTcuMjQxNTY2NCAyMC43NTk1NjEzLDE2LjU5NzYzMDUgMjAuODAzNjg0NCwxNS42NTQxNTU3IEMyMC44NDYzNjA4LDE0LjcwOTIzNCAyMC44NTcyMTA4LDE0LjQwNzUyNDYgMjAuODU3MjEwOCwxMi4wMDEwODUzIEMyMC44NTcyMTA4LDkuNTkzOTIyNCAyMC44NDYzNjA4LDkuMjkyMjEzMDggMjAuODAzNjg0NCw4LjM0NjU2Nzc5IEMyMC43NTk1NjEzLDcuNDAzMDkzMDYgMjAuNjA5ODMyLDYuNzU5MTU3MSAyMC4zOTIxMDk3LDYuMTk1NTMyMjQgQzIwLjE2OTQyNzIsNS42MDQyMDEyIDE5LjgyMDM3MTUsNS4wNjg2MjQ5OSAxOS4zNjkzMjE1LDQuNjI2MjA5NjQgQzE4LjkyNzMxMDYsNC4xNzQ4NjM3NCAxOC4zOTE3ODA1LDMuODI1ODk3OTcgMTcuODAwNDE5MywzLjYwMzg3MDg1IEMxNy4yMzYyMjIxLDMuMzg0NjQzMjEgMTYuNTkxNzM1NCwzLjIzNTU5NzM2IDE1LjY0ODUxMzQsMy4xOTIxODU5NSBDMTQuNzAzODQ0OCwzLjE0OTQ5ODA2IDE0LjQwMjkzOTYsMy4xMzg2NDUyIDExLjk5NzE0NDksMy4xMzg2NDUyIFogTTExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS45OTg1OTE2LDQuNzM1NDYxNyBDMTQuMzYzODc5OCw0LjczNTQ2MTcgMTQuNjQ0NTMxNyw0Ljc0NDE0Mzk4IDE1LjU3ODM1MDQsNC43ODY4MzE4NyBDMTYuNDQyNzI5NCw0LjgyNTkwMjE0IDE2LjkxMTQ0NzEsNC45NzA2MDY4NiAxNy4yMjMyMDIyLDUuMDkyMTU4ODEgQzE3LjYzNjk0NjgsNS4yNTI3ODEwNCAxNy45MzIwNjUzLDUuNDQ0NTE0NzkgMTguMjQxNjUwNSw1Ljc1NDkwNjM5IEMxOC41NTE5NTg5LDYuMDY0NTc0NDggMTguNzQzNjQxMyw2LjM2MDQ5NTYxIDE4LjkwNDk0MzgsNi43NzM2Mjc1NyBDMTkuMDI1NzM5OSw3LjA4NjE4OTc0IDE5LjE3MDQwNTgsNy41NTUwMzMwMSAxOS4yMDk0NjU2LDguNDE4OTIwMTQgQzE5LjI1MjE0MjEsOS4zNTI5ODkwNiAxOS4yNjE1NDU0LDkuNjMzNzE2MiAxOS4yNjE1NDU0LDExLjk5ODkxNDcgQzE5LjI2MTU0NTQsMTQuMzY0MTEzMiAxOS4yNTIxNDIxLDE0LjY0NDg0MDQgMTkuMjA5NDY1NiwxNS41Nzg5MDkzIEMxOS4xNzA0MDU4LDE2LjQ0Mjc5NjQgMTkuMDI1NzM5OSwxNi45MTE2Mzk3IDE4LjkwNDk0MzgsMTcuMjI0MjAxOSBDMTguNzYyNjcxMSwxNy42MDg4NDc5IDE4LjUzNjAxOCwxNy45NTY3MDY1IDE4LjI0MTY1MDUsMTguMjQyMTk5NSBDMTcuOTU2MDQ2NSwxOC41MzY1ODkxIDE3LjYwODAwMzEsMTguNzYzMDc1NyAxNy4yMjMyMDIyLDE4LjkwNDk0NzEgQzE2LjkxMTQ0NzEsMTkuMDI2NDk5MSAxNi40NDI3Mjk0LDE5LjE3MDQ4MDIgMTUuNTc4MzUwNCwxOS4yMTAyNzQgQzE0LjY0NDUzMTcsMTkuMjUyOTYxOSAxNC4zNjM4Nzk4LDE5LjI2MTY0NDIgMTEuOTk4NTkxNiwxOS4yNjE2NDQyIEM5LjYzMjU4MDA1LDE5LjI2MTY0NDIgOS4zNTE5MjgxMSwxOS4yNTI5NjE5IDguNDE4MTA5NDMsMTkuMjEwMjc0IEM3LjU1NDQ1Mzc0LDE5LjE3MDQ4MDIgNy4wODU3MzYwOCwxOS4wMjU3NzU1IDYuNzczMjU3NjMsMTguOTA0OTQ3MSBDNi4zODgzNzQ4LDE4Ljc2MjgxODQgNi4wNDAxNDkzMywxOC41MzYzNzQxIDUuNzU0MDg2MDUsMTguMjQyMTk5NSBDNS40NTk3NzUzLDE3Ljk1NjUxOSA1LjIzMzM0OTM4LDE3LjYwODM4MjQgNS4wOTE1MTYwMiwxNy4yMjM0NzgzIEM0Ljk2OTk5NjYyLDE2LjkxMDkxNjIgNC44MjUzMzA2OCwxNi40NDIwNzI5IDQuNzg2MjcwODcsMTUuNTc4MTg1OCBDNC43NDM1OTQ0MiwxNC42NDQxMTY4IDQuNzM0OTE0NDYsMTQuMzYzMzg5NyA0LjczNDkxNDQ2LDExLjk5Njc0NDEgQzQuNzM0OTE0NDYsOS42MzAwOTg1OCA0Ljc0MzU5NDQyLDkuMzUwODE4NDkgNC43ODYyNzA4Nyw4LjQxNjc0OTU3IEM0LjgyNTMzMDY4LDcuNTUyODYyNDQgNC45Njk5OTY2Miw3LjA4NDAxOTE3IDUuMDkxNTE2MDIsNi43NzE0NTcgQzUuMjMzMzE5ODIsNi4zODYzMjcxNCA1LjQ1OTc0MjM5LDYuMDM3OTQ4NDQgNS43NTQwODYwNSw1Ljc1MjAxMjMgQzYuMDQwMTQ5MzMsNS40NTc4Mzc3IDYuMzg4Mzc0OCw1LjIzMTM5MzQxIDYuNzczMjU3NjMsNS4wODkyNjQ3MiBDNy4wODU3MzYwOCw0Ljk2Njk4OTI0IDcuNTU0NDUzNzQsNC44MjMwMDgwNSA4LjQxODEwOTQzLDQuNzgzMjE0MjUgQzkuMjM1NDcyMDMsNC43NDYzMTQ1NSA5LjU1MjI5MDQ1LDQuNzM1NDYxNyAxMS4yMDM2NTIyLDQuNzMzMjkxMTMgTDExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS4yMDM2NTIyLDQuNzM1NDYxNyBaIE0xMS45OTg1OTE2LDcuNDUwMTIyMDkgTDExLjk5Nzg2ODMsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IEM5LjQ4NTgzNzM3LDcuNDUwMTIyMDkgNy40NDg4NDc2LDkuNDg3NjU3NzIgNy40NDg4NDc2LDEyLjAwMTA4NTMgQzcuNDQ4ODQ3NiwxNC41MTQ1MTI5IDkuNDg1ODM3MzcsMTYuNTUyMDQ4NSAxMS45OTg1OTE2LDE2LjU1MjA0ODUgQzE0LjUxMTM0NTgsMTYuNTUyMDQ4NSAxNi41NDgzMzU2LDE0LjUxNDUxMjkgMTYuNTQ4MzM1NiwxMi4wMDEwODUzIEMxNi41NDgzMzU2LDkuNDg3NjU3NzIgMTQuNTExMzQ1OCw3LjQ1MDEyMjA5IDExLjk5ODU5MTYsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IFogTTExLjk5ODU5MTYsOS4wNDY5Mzg1OSBDMTMuMDUzNzIzOCw5LjA0NjkzODU3IDE0LjAyODcwNjIsOS42MDk5OTU3NCAxNC41NTYyNzIzLDEwLjUyNDAxMTkgQzE1LjA4MzgzODUsMTEuNDM4MDI4MSAxNS4wODM4Mzg1LDEyLjU2NDE0MjUgMTQuNTU2MjcyMywxMy40NzgxNTg3IEMxNC4wMjg3MDYyLDE0LjM5MjE3NDggMTMuMDUzNzIzOCwxNC45NTUyMzIgMTEuOTk4NTkxNiwxNC45NTUyMzIgQzEwLjM2NzQ5ODUsMTQuOTU1MjMxOSA5LjA0NTIzNjM3LDEzLjYzMjYxNTQgOS4wNDUyMzYzNywxMi4wMDEwODUzIEM5LjA0NTIzNjM3LDEwLjM2OTU1NTEgMTAuMzY3NDk4NSw5LjA0NjkzODYzIDExLjk5ODU5MTYsOS4wNDY5Mzg1OSBaIE0xNi43Mjc3MjEzLDYuMjA3MTA4NjIgQzE2LjM0Nzg0MjcsNi4yMDcxMDg2MSAxNS45OTY4MjA0LDYuNDA5ODI1NzQgMTUuODA2ODgxMSw2LjczODg5ODQzIEMxNS42MTY5NDE4LDcuMDY3OTcxMTEgMTUuNjE2OTQxOCw3LjQ3MzQwNTM5IDE1LjgwNjg4MTEsNy44MDI0NzgwOCBDMTUuOTk2ODIwNCw4LjEzMTU1MDc3IDE2LjM0Nzg0MjcsOC4zMzQyNjc5IDE2LjcyNzcyMTMsOC4zMzQyNjc4OCBDMTcuMzE0OTYyOCw4LjMzNDI2Nzg3IDE3Ljc5MTAxNiw3Ljg1ODA4NzA1IDE3Ljc5MTAxNiw3LjI3MDY4ODI1IEMxNy43OTEwMTYsNi42ODMyODk0NSAxNy4zMTQ5NjI4LDYuMjA3MTA4NjQgMTYuNzI3NzIxMyw2LjIwNzEwODYyIFoiIGlkPSJTaGFwZSIgZmlsbD0iI0NGQ0ZDRiIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);\n}\n.c0134 {\n  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtZmFjZWJvb2staWNvbjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJzb2NpYWwtZmFjZWJvb2staWNvbiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkd

In [ ]:
web_page = bs4.BeautifulSoup(requests.get(URL, {}).text, "lxml")

In [ ]:
web_page

<!DOCTYPE html>
<html><head><meta charset="utf-8"/><meta content="ie=edge" http-equiv="x-ua-compatible"/><meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/><style data-href="/styles.3bfbd3dd9436b814ee1a.css">body,html{height:auto;font:400 14px/22px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222;background-color:#efefef;margin:0}a,a:active,a:hover,a:visited{text-decoration:none;color:inherit}#truste-consent-track{display:block}#truste-consent-content{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;box-sizing:border-box}#truste-consent-text{margin:0 1rem 0 0}#truste-consent-buttons{display:flex;flex-direction:row;margin-top:1px!important;margin-left:10px!important}#truste-consent-button,#truste-show-consent{font-family:Open Sans,HelveticaNeue,HelveticaNeueu,Arial,sans-serif;font-size:14px;color:#fff;background-color:#4a4a4a;cursor:pointer;padding:5px 20px;margin:12px 0;border-radius:4px;border:none}#truste-show-consent{margin-left:1rem}#truste-consent-button:hover,#truste-show-consent:hover{background-color:#4a4a4a}#truste-cookie-button{color:#fff;margin:1rem;line-height:2}@media (max-width:1024px){#truste-consent-content{flex-direction:column;flex-wrap:nowrap}#truste-consent-text{margin:20px 20px 10px;text-align:center;width:unset!important}#truste-consent-buttons{display:block;text-align:center}#truste-consent-button,#truste-show-consent{padding-top:10px;padding-bottom:10px;width:100%;margin:5px 0}#truste-cookie-button{display:inline-block;margin:auto;padding:15px}#truste-show-consent{margin-left:0}}.truste_overlay{background:#fff!important;opacity:.8!important}.truste_box_overlay{background:none!important}.truste_box_overlay_inner{border:3px solid #e8e8e8}</style><meta content="Gatsby 2.4.2" name="generator"/><title data-react-helmet="true">Garmin Connect | </title><link data-react-helmet="true" href="https://static.garmincdn.com/favicon.ico" rel="shortcut icon"/><meta content="index,follow" data-react-helmet="true" name="robots"/><meta content="15 days" data-react-helmet="true" name="revisit-after"/><meta content="Garmin International" data-react-helmet="true" name="author"/><meta content="169380733077633" data-react-helmet="true" property="fb:app_id"/><meta content="website" data-react-helmet="true" property="og:type"/><meta content="Garmin Connect" data-react-helmet="true" property="og:site_name"/><meta content="summary" data-react-helmet="true" name="twitter:card"/><meta content="@GarminFitness" data-react-helmet="true" name="twitter:site"/><meta content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device." data-react-helmet="true" name="description"/><meta content="Garmin Connect | Sign In" data-react-helmet="true" property="og:title"/><meta content="https://connect.garmin.com/signin" data-react-helmet="true" property="og:url"/><meta content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device." data-react-helmet="true" property="og:description"/><meta content="http://static.garmincdn.com/com.garmin.connect/content/images/garmin-connect-fb3.gif" data-react-helmet="true" property="og:image"/><meta content="Garmin Connect | Sign In" data-react-helmet="true" name="twitter:title"/><script data-react-helmet="true" src="https://tags.tiqcdn.com/utag/garmin/main/prod/utag.js"></script><style id="server-side-jss" type="text/css">.c017 {
  height: 60px;
  display: flex;
  padding: 0 15% 0 15%;
  background: #1a1a1a;
  justify-content: space-between;
}
.c018 {
  top: 3px;
  width: 150px;
  height: 28px;
  display: block;
  position: relative;
  background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;
  background-size: 236px 271px;
}
.c019 {
  float: right;
  margin: 0;
  list-style: none;
}
.c0110 {
  display: inline-block;
  margin-right: 25px;
}
.c0110 a {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
.c0112 {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  margin-left: 5px;
  border-right: 4px solid transparent;
}
.c0113 {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 4px solid transparent;
  margin-left: 5px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}
.c0114 {
  display: none;
}
.c0115 {
  margin: 0;
  padding: 0;
}
.c0116 {
  font-size: inherit;
  font-weight: inherit;
  margin-block-end: 0em;
  margin-block-start: 0em;
}
.c0117 {
  margin-top: 12px;
}
.c0118 {
  margin-top: 12px;
}
@media only screen and (max-width: 767px) {
  .c018 {
    top: -3px;
  }
  .c0120 {
    height: 100%;
  }
  .c0121 {
    height: 100vh;
  }
  .c017 {
    margin: 0;
    display: flex;
    padding: 0;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .c0117 {
    display: none;
  }
  .c0114 {
    width: 20px;
    margin: 23px 25px;
    height: 14px;
    display: inline-flex;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMjAgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLW1lbnU8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iaWNvbi1tZW51IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNMCwwIEwyMCwwIEwyMCwyIEwwLDIgTDAsMCBaIE0wLDYgTDIwLDYgTDIwLDggTDAsOCBMMCw2IFogTTAsMTIgTDIwLDEyIEwyMCwxNCBMMCwxNCBMMCwxMiBaIiBpZD0iQ29tYmluZWQtU2hhcGUiIGZpbGw9IiNGRkZGRkYiPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat;
  }
  .c0122 {
    margin: 0;
    display: block;
    padding: 0;
    flex-flow: wrap;
    background: #121212;
    justify-content: space-between;
  }
  .c0122 .c018 {
    background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;
    background-size: 236px 271px;
  }
  .c0122 .c0117 {
    margin: 5px 0 10px 0;
    display: flex;
    flex-basis: 100%;
  }
  .c0122 .c0115 {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
  }
  .c0122 .c0110 {
    color: #fff;
    margin: 0;
    padding: 10px 25px;
    border-top: 1px solid #4d4d4d;
  }
  .c0122 .c0112 {
    float: right;
    margin-top: 10px;
    border-top: 4px solid #fff;
  }
  .c0122 .c0113 {
    float: right;
    margin-top: 10px;
    border-bottom: 4px solid #fff;
  }
  .c0122 .c0119 {
    width: 80%;
    margin-top: 20px;
    border-top: 0px;
    text-align: center;
    justify-self: center;
    margin-right: 0;
  }
  .c0122 .c0114 {
    width: 20px;
    right: 0;
    height: 18px;
    display: inline-block;
    position: absolute;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLWNsb3NlPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9Imljb24tY2xvc2UiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik02LjU0NTQ1NDU1LDggTC0xLjU5NzM4ODg5ZS0xMiwxLjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LC0xLjY0NDI0MDNlLTEyIEw4LDYuNTQ1NDU0NTUgTDE0LjU0NTQ1NDUsMS42NTIwMTE4NmUtMTIgTDE2LDEuNDU0NTQ1NDUgTDkuNDU0NTQ1NDUsOCBMMTYsMTQuNTQ1NDU0NSBMMTQuNTQ1NDU0NSwxNiBMOCw5LjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LDE2IEwtMS42MDI0OTU5MWUtMTIsMTQuNTQ1NDU0NSBMNi41NDU0NTQ1NSw4IFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0iI0ZGRkZGRiI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=) no-repeat ;
  }
  .c0122 .c0111 {
    margin: 0;
    padding: 0;
  }
  .c0122 .c0111 div {
    padding: 10px 25px;
  }
  .c0122 .c0111 ul {
    max-height: initial;
  }
  .c0122 .c0111 li {
    color: #000;
    padding: 10px 25px;
  }
  .c0122 .c0110:nth-last-child(2) {
    border-bottom: 1px solid #4d4d4d;
  }
  .c0122 .c0110 a {
    color: #fff;
  }
  .c0118 {
    display: inline-flex;
    padding: 10px 25px;
    flex-basis: 50%;
  }
}
.c0136 {
  display: inline;
}
.c0136 a {
  white-space: nowrap;
}
.c0137 {
  left: 0;
  width: 100%;
  color: #fff;
  bottom: 0;
  margin: 0 auto;
  z-index: 110;
  position: fixed;
  font-size: 14px;
  font-family: 'Open Sans','HelveticaNeue','HelveticaNeueu',Arial,sans-serif;
  background-color: #333;
}
.c0123 {
  left: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 60px 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #EFEFEF;
}
.c0124 {
  font-size: 1.3rem;
  font-weight: 200;
  padding-bottom: 30px;
}
.c0124 a {
  padding: 10px;
  border-color: #555555;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.c0124 a:visited, .c0124 a:hover, .c0124 a:active {
  color: #555555;
}
.c0125 {
  flex: 1;
  color: #6c6c6c;
  box-sizing: border-box;
  text-align: left;
  font-weight: 300;
  padding-left: 20px;
}
.c0126 {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}
.c0127 {
  color: #6c6c6c;
  display: inline-block;
  font-weight: 400;
}
.c0127 a:visited, .c0127 a:hover, .c0127 a:active {
  color: #6c6c6c;
  text-decoration: none;
}
.c0127:not(:first-of-type):before {
  width: 5px;
  height: 5px;
  margin: 0 10px 3px 10px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  background-color: #6c6c6c;
}
.c0128 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c0129 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0130 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0131 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0132 a {
  width: 24px;
  height: 24px;
  display: inline-block;
}
@media screen and (max-width:767px) {
  .c0128 {
    padding: 0 5px 0 5px;
    flex-wrap: wrap;
  }
  .c0126 {
    flex-basis: 100%;
    text-align: center;
  }
  .c0125 {
    text-align: center;
    padding-left: 0;
  }
}
.c0133 {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtaW5zdGFncmFtLWljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0ic29jaWFsLWluc3RhZ3JhbS1pY29uIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iaW5zdGFncmFtIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDIzLjQyMTE3NjUgMCAyMy40MjExNzY1IDIzLjQyMTE3NjUgMCAyMy40MjExNzY1Ij48L3BvbHlnb24+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNS45MDk2MzU0LDAgQzE4Ljc3ODM2MTEsMC4wMDUwNjQ2NjQ5MiAxOC44ODk3NTM5LDAuMDI4OTQwOTQyNCAxOS40NTAzMzQ0LDAuMTA5OTc1NTgxIEMyMC42MDY5Mzg3LDAuMjc3MTA5NTIzIDIxLjU3ODM3MDUsMC43Mzg3MTc1NTQgMjIuMzcxODYzMiwxLjQ5Njk3MDI1IEMyMi43OTgwNTU5LDEuODk4OTcyOTUgMjMuMTQ2MjgyOCwyLjM3NjMxODgxIDIzLjM5ODk5MTQsMi45MDQ5NDcwOSBDMjMuNzM1MzM5OCwzLjU4OTQwMDM4IDIzLjkwMDk4MjMsNC4yMzc2Nzc0OSAyMy45NzYyMDg2LDUuMjAxNDEwODcgQzIzLjk5Mjg0NTEsNS40MDgzMzg2MSAyNC4wMDAwNzg0LDguNjk4OTIzNzYgMjQuMDAwMDc4NCwxMS45OTI0MDMgQzI0LjAwMDA3ODQsMTUuMjg0NDM1MiAyMy45OTM1Njg1LDE4LjU4MTUzMjEgMjMuOTc2OTMxOSwxOC43ODg0NTk4IEMyMy45MDI0Mjg5LDE5LjczNjk5OTIgMjMuNzM2Nzg2NCwyMC4zOTAzNDEgMjMuNDExMjg4LDIxLjA2MjQ5NDMgQzIyLjc2NzQ2NTEsMjIuMzk1OTA0MSAyMS41Njg1OTA1LDIzLjM3NzQ5NzUgMjAuMTM0NjA0NCwyMy43NDUzMTk3IEMxOS42MTM4MDcsMjMuODc5ODk1MSAxOS4xNDIxOTYsMjMuOTQzNTY1MiAxOC4zMjk4OTY3LDIzLjk4MTE4ODQgQzE4LjAzOTg0MTUsMjMuOTk2MzgyNCAxNS4wMDkwODk5LDI0IDExLjk3ODMzODQsMjQgQzguOTQ3NTg2NzksMjQgNS45MTgyODE4OSwyMy45OTA1OTQyIDUuNjIwOTkzMzgsMjMuOTc3NTcwOCBDNC45MjAwODY4NywyMy45NDQyODg3IDQuMzczMjQ5NiwyMy44NzQxMDY5IDMuODc5MjE1MzksMjMuNzQ2NzY2OCBDMi40NDgxNzAzNiwyMy4zNzY2NDgyIDEuMjUwODM3MjcsMjIuMzk4NDMyIDAuNjAyNTMxNzI1LDIxLjA2OTcyOTYgQzAuMjcwNTIzMzgsMjAuMzgwOTM1MiAwLjExMzU2MDgyOSwxOS43NTE0Njk3IDAuMDMwMzc3OTEsMTguNzUwODM2NiBDMC4wMDY1MDgwMjg5NSwxOC40NjY0OTE4IDAuMDAwNzIxMzkxMTMxLDE3LjAwMjgwMzcgMC4wMDA3MjEzOTExMzEsMTEuOTk1Mjk3MSBDMC4wMDA3MjEzOTExMzEsMTAuMzA4MDQwMiAtMC4wMDA3MjUyNjgzMjUsOS4wNTA1NTYyMSAwLjAwMDcyMTM5MTEzMSw4LjA5NDc4MTU5IEMwLjAwNTc4NDY5OTIzLDUuMjI4MTgxMjQgMC4wMjg5MzEyNTA1LDUuMTEzODY0NTIgMC4xMTA2Njc1MSw0LjU1MjQxMDI0IEMwLjI3Nzc1NjY3NywzLjM5NjIxOTU5IDAuNzM5MjQxMDQzLDIuNDIzODAzOTMgMS41MDAxODM5MiwxLjYzMjk5MjY3IEMxLjg5NTY4MjgxLDEuMjE2NTg0MjcgMi4zNjI2MjgwNSwwLjg3NDQ5MDc1MiAyLjg3ODg1MDM4LDAuNjIyOTUzNzg1IEMzLjU3NjE0MDI0LDAuMjc2Mzg2IDQuMjE1NTYzNzIsMC4xMTQzMTY3MjIgNS4yNDQxMzg1OSwwLjAyODk0MDk0MjQgQzUuNTI5MTMwNSwwLjAwNTA2NDY2NDkyIDYuOTkzODczMiwwIDEyLjAwMzY1NDksMCBMMTUuOTA5NjM1NCwwIFogTTExLjk5NzE0NDksMy4xMzg2NDUyIEwxMS45OTg1OTE2LDMuMTM4NjQ1MiBMMTEuOTk1Njk4MywzLjEzODY0NTIgTDExLjk5NzE0NDksMy4xMzg2NDUyIEM5LjU5MjA3MzU4LDMuMTM4NjQ1MiA5LjI4OTcyMTc2LDMuMTQ5NDk4MDYgOC4zNDUwNTMxMywzLjE5MjE4NTk1IEM3LjQwMTgzMTE3LDMuMjM1NTk3MzYgNi43NTgwNjc3MSwzLjM4NDY0MzIxIDYuMTk0NTkzODUsMy42MDM4NzA4NSBDNS42MDMzMzQwMSwzLjgyNjUxNjUxIDUuMDY3Njk0MDIsNC4xNzUzOTMwNiA0LjYyNDk2ODM0LDQuNjI2MjA5NjQgQzQuMTc0MzYwMTksNS4wNjg4NDQzOCAzLjgyNTU4MjQ2LDUuNjA0MzcyNzcgMy42MDI5MDM0NCw2LjE5NTUzMjI0IEMzLjM4MzAxMTIsNi43NTkxNTcxIDMuMjMzMjgxOTQsNy40MDM4MTY1OSAzLjE5MTMyODgyLDguMzQ2NTY3NzkgQzMuMTQ4NjUyMzcsOS4yOTIyMTMwOCAzLjEzNzgwMjQyLDkuNTkzOTIyNCAzLjEzNzgwMjQyLDEyLjAwMTA4NTMgQzMuMTM3ODAyNDIsMTQuNDA3NTI0NiAzLjE0ODY1MjM3LDE0LjcwOTIzNCAzLjE5MTMyODgyLDE1LjY1NDE1NTcgQzMuMjM0NzI4NiwxNi41OTc2MzA1IDMuMzgzNzM0NTMsMTcuMjQxNTY2NCAzLjYwMjkwMzQ0LDE3LjgwNTE5MTMgQzMuODI1MzAxODMsMTguMzk2NzA0NSA0LjE3NDEwOTgsMTguOTMyNTI2MyA0LjYyNDk2ODM0LDE5LjM3NTIzNzQgQzUuMDY3MjY1MTcsMTkuODI2NDA4MyA1LjYwMjY5NzksMjAuMTc1NTU3NSA2LjE5Mzg3MDUyLDIwLjM5ODI5OTcgQzYuNzU3MzQ0MzgsMjAuNjE2ODAzOCA3LjQwMTEwNzg0LDIwLjc2NjU3MzIgOC4zNDQzMjk4LDIwLjgwOTk4NDYgQzkuMjg5NzIxNzYsMjAuODUyNjcyNSA5LjU5MTM1MDI1LDIwLjg2MzUyNTQgMTEuOTk3MTQ0OSwyMC44NjM1MjU0IEMxNC40MDM2NjI5LDIwLjg2MzUyNTQgMTQuNzA0NTY4MSwyMC44NTI2NzI1IDE1LjY0OTk2MDEsMjAuODA5OTg0NiBDMTYuNTkzMTgyLDIwLjc2NjU3MzIgMTcuMjM3NjY4OCwyMC42MTY4MDM4IDE3LjgwMTE0MjcsMjAuMzk4Mjk5NyBDMTguMzkyMTczMSwyMC4xNzU2OTQzIDE4LjkyNzM5NzYsMTkuODI2NTE5OSAxOS4zNjkzMjE1LDE5LjM3NTIzNzQgQzE5LjgyMDM4NjksMTguOTMyNTUzMiAyMC4xNjk0MzY5LDE4LjM5NjczODkgMjAuMzkyMTA5NywxNy44MDUxOTEzIEMyMC42MDk4MzIsMTcuMjQxNTY2NCAyMC43NTk1NjEzLDE2LjU5NzYzMDUgMjAuODAzNjg0NCwxNS42NTQxNTU3IEMyMC44NDYzNjA4LDE0LjcwOTIzNCAyMC44NTcyMTA4LDE0LjQwNzUyNDYgMjAuODU3MjEwOCwxMi4wMDEwODUzIEMyMC44NTcyMTA4LDkuNTkzOTIyNCAyMC44NDYzNjA4LDkuMjkyMjEzMDggMjAuODAzNjg0NCw4LjM0NjU2Nzc5IEMyMC43NTk1NjEzLDcuNDAzMDkzMDYgMjAuNjA5ODMyLDYuNzU5MTU3MSAyMC4zOTIxMDk3LDYuMTk1NTMyMjQgQzIwLjE2OTQyNzIsNS42MDQyMDEyIDE5LjgyMDM3MTUsNS4wNjg2MjQ5OSAxOS4zNjkzMjE1LDQuNjI2MjA5NjQgQzE4LjkyNzMxMDYsNC4xNzQ4NjM3NCAxOC4zOTE3ODA1LDMuODI1ODk3OTcgMTcuODAwNDE5MywzLjYwMzg3MDg1IEMxNy4yMzYyMjIxLDMuMzg0NjQzMjEgMTYuNTkxNzM1NCwzLjIzNTU5NzM2IDE1LjY0ODUxMzQsMy4xOTIxODU5NSBDMTQuNzAzODQ0OCwzLjE0OTQ5ODA2IDE0LjQwMjkzOTYsMy4xMzg2NDUyIDExLjk5NzE0NDksMy4xMzg2NDUyIFogTTExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS45OTg1OTE2LDQuNzM1NDYxNyBDMTQuMzYzODc5OCw0LjczNTQ2MTcgMTQuNjQ0NTMxNyw0Ljc0NDE0Mzk4IDE1LjU3ODM1MDQsNC43ODY4MzE4NyBDMTYuNDQyNzI5NCw0LjgyNTkwMjE0IDE2LjkxMTQ0NzEsNC45NzA2MDY4NiAxNy4yMjMyMDIyLDUuMDkyMTU4ODEgQzE3LjYzNjk0NjgsNS4yNTI3ODEwNCAxNy45MzIwNjUzLDUuNDQ0NTE0NzkgMTguMjQxNjUwNSw1Ljc1NDkwNjM5IEMxOC41NTE5NTg5LDYuMDY0NTc0NDggMTguNzQzNjQxMyw2LjM2MDQ5NTYxIDE4LjkwNDk0MzgsNi43NzM2Mjc1NyBDMTkuMDI1NzM5OSw3LjA4NjE4OTc0IDE5LjE3MDQwNTgsNy41NTUwMzMwMSAxOS4yMDk0NjU2LDguNDE4OTIwMTQgQzE5LjI1MjE0MjEsOS4zNTI5ODkwNiAxOS4yNjE1NDU0LDkuNjMzNzE2MiAxOS4yNjE1NDU0LDExLjk5ODkxNDcgQzE5LjI2MTU0NTQsMTQuMzY0MTEzMiAxOS4yNTIxNDIxLDE0LjY0NDg0MDQgMTkuMjA5NDY1NiwxNS41Nzg5MDkzIEMxOS4xNzA0MDU4LDE2LjQ0Mjc5NjQgMTkuMDI1NzM5OSwxNi45MTE2Mzk3IDE4LjkwNDk0MzgsMTcuMjI0MjAxOSBDMTguNzYyNjcxMSwxNy42MDg4NDc5IDE4LjUzNjAxOCwxNy45NTY3MDY1IDE4LjI0MTY1MDUsMTguMjQyMTk5NSBDMTcuOTU2MDQ2NSwxOC41MzY1ODkxIDE3LjYwODAwMzEsMTguNzYzMDc1NyAxNy4yMjMyMDIyLDE4LjkwNDk0NzEgQzE2LjkxMTQ0NzEsMTkuMDI2NDk5MSAxNi40NDI3Mjk0LDE5LjE3MDQ4MDIgMTUuNTc4MzUwNCwxOS4yMTAyNzQgQzE0LjY0NDUzMTcsMTkuMjUyOTYxOSAxNC4zNjM4Nzk4LDE5LjI2MTY0NDIgMTEuOTk4NTkxNiwxOS4yNjE2NDQyIEM5LjYzMjU4MDA1LDE5LjI2MTY0NDIgOS4zNTE5MjgxMSwxOS4yNTI5NjE5IDguNDE4MTA5NDMsMTkuMjEwMjc0IEM3LjU1NDQ1Mzc0LDE5LjE3MDQ4MDIgNy4wODU3MzYwOCwxOS4wMjU3NzU1IDYuNzczMjU3NjMsMTguOTA0OTQ3MSBDNi4zODgzNzQ4LDE4Ljc2MjgxODQgNi4wNDAxNDkzMywxOC41MzYzNzQxIDUuNzU0MDg2MDUsMTguMjQyMTk5NSBDNS40NTk3NzUzLDE3Ljk1NjUxOSA1LjIzMzM0OTM4LDE3LjYwODM4MjQgNS4wOTE1MTYwMiwxNy4yMjM0NzgzIEM0Ljk2OTk5NjYyLDE2LjkxMDkxNjIgNC44MjUzMzA2OCwxNi40NDIwNzI5IDQuNzg2MjcwODcsMTUuNTc4MTg1OCBDNC43NDM1OTQ0MiwxNC42NDQxMTY4IDQuNzM0OTE0NDYsMTQuMzYzMzg5NyA0LjczNDkxNDQ2LDExLjk5Njc0NDEgQzQuNzM0OTE0NDYsOS42MzAwOTg1OCA0Ljc0MzU5NDQyLDkuMzUwODE4NDkgNC43ODYyNzA4Nyw4LjQxNjc0OTU3IEM0LjgyNTMzMDY4LDcuNTUyODYyNDQgNC45Njk5OTY2Miw3LjA4NDAxOTE3IDUuMDkxNTE2MDIsNi43NzE0NTcgQzUuMjMzMzE5ODIsNi4zODYzMjcxNCA1LjQ1OTc0MjM5LDYuMDM3OTQ4NDQgNS43NTQwODYwNSw1Ljc1MjAxMjMgQzYuMDQwMTQ5MzMsNS40NTc4Mzc3IDYuMzg4Mzc0OCw1LjIzMTM5MzQxIDYuNzczMjU3NjMsNS4wODkyNjQ3MiBDNy4wODU3MzYwOCw0Ljk2Njk4OTI0IDcuNTU0NDUzNzQsNC44MjMwMDgwNSA4LjQxODEwOTQzLDQuNzgzMjE0MjUgQzkuMjM1NDcyMDMsNC43NDYzMTQ1NSA5LjU1MjI5MDQ1LDQuNzM1NDYxNyAxMS4yMDM2NTIyLDQuNzMzMjkxMTMgTDExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS4yMDM2NTIyLDQuNzM1NDYxNyBaIE0xMS45OTg1OTE2LDcuNDUwMTIyMDkgTDExLjk5Nzg2ODMsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IEM5LjQ4NTgzNzM3LDcuNDUwMTIyMDkgNy40NDg4NDc2LDkuNDg3NjU3NzIgNy40NDg4NDc2LDEyLjAwMTA4NTMgQzcuNDQ4ODQ3NiwxNC41MTQ1MTI5IDkuNDg1ODM3MzcsMTYuNTUyMDQ4NSAxMS45OTg1OTE2LDE2LjU1MjA0ODUgQzE0LjUxMTM0NTgsMTYuNTUyMDQ4NSAxNi41NDgzMzU2LDE0LjUxNDUxMjkgMTYuNTQ4MzM1NiwxMi4wMDEwODUzIEMxNi41NDgzMzU2LDkuNDg3NjU3NzIgMTQuNTExMzQ1OCw3LjQ1MDEyMjA5IDExLjk5ODU5MTYsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IFogTTExLjk5ODU5MTYsOS4wNDY5Mzg1OSBDMTMuMDUzNzIzOCw5LjA0NjkzODU3IDE0LjAyODcwNjIsOS42MDk5OTU3NCAxNC41NTYyNzIzLDEwLjUyNDAxMTkgQzE1LjA4MzgzODUsMTEuNDM4MDI4MSAxNS4wODM4Mzg1LDEyLjU2NDE0MjUgMTQuNTU2MjcyMywxMy40NzgxNTg3IEMxNC4wMjg3MDYyLDE0LjM5MjE3NDggMTMuMDUzNzIzOCwxNC45NTUyMzIgMTEuOTk4NTkxNiwxNC45NTUyMzIgQzEwLjM2NzQ5ODUsMTQuOTU1MjMxOSA5LjA0NTIzNjM3LDEzLjYzMjYxNTQgOS4wNDUyMzYzNywxMi4wMDEwODUzIEM5LjA0NTIzNjM3LDEwLjM2OTU1NTEgMTAuMzY3NDk4NSw5LjA0NjkzODYzIDExLjk5ODU5MTYsOS4wNDY5Mzg1OSBaIE0xNi43Mjc3MjEzLDYuMjA3MTA4NjIgQzE2LjM0Nzg0MjcsNi4yMDcxMDg2MSAxNS45OTY4MjA0LDYuNDA5ODI1NzQgMTUuODA2ODgxMSw2LjczODg5ODQzIEMxNS42MTY5NDE4LDcuMDY3OTcxMTEgMTUuNjE2OTQxOCw3LjQ3MzQwNTM5IDE1LjgwNjg4MTEsNy44MDI0NzgwOCBDMTUuOTk2ODIwNCw4LjEzMTU1MDc3IDE2LjM0Nzg0MjcsOC4zMzQyNjc5IDE2LjcyNzcyMTMsOC4zMzQyNjc4OCBDMTcuMzE0OTYyOCw4LjMzNDI2Nzg3IDE3Ljc5MTAxNiw3Ljg1ODA4NzA1IDE3Ljc5MTAxNiw3LjI3MDY4ODI1IEMxNy43OTEwMTYsNi42ODMyODk0NSAxNy4zMTQ5NjI4LDYuMjA3MTA4NjQgMTYuNzI3NzIxMyw2LjIwNzEwODYyIFoiIGlkPSJTaGFwZSIgZmlsbD0iI0NGQ0ZDRiIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);
}
.c0134 {

In [ ]:
web_page.head.title

In [ ]:
web_page.body

<body><noscript id="gatsby-noscript">This app works best with JavaScript enabled.</noscript><div id="___gatsby"><div role="group" style="outline:none" tabindex="-1"><div><header class="c017"><h1 class="c0116 c0118"><a class="c018" href="/" title="Connect"></a></h1><div class="c0114"></div></header><main class="c014 c016"><div class="c013"><div class="c011"><div class="c012" id="gauth-widget"><noscript>To sign in to your Garmin account, please enable JavaScript in your web browser.</noscript></div></div><div id="loginGauth"></div></div></main><footer class="c0123"><div></div><div class="c0132"><span class="c0129 c0133"><a href="https://www.instagram.com/garminfitness/" title="Instagram"></a></span><span class="c0130 c0134"><a href="https://www.facebook.com/garminfit" title="Facebook"></a></span><span class="c0131 c0135"><a href="https://twitter.com/garminfitness" title="Twitter"></a></span></div><div id="consent"></div></footer></div></div></div><script id="gatsby-script-loader">/*<![CDATA[*/window.page={"componentChunkName":"component---src-pages-signin-js","jsonName":"signin-59f","path":"/signin/"};window.dataPath="731/path---signin-59-f-ae5-0SUcWyAf8ecbYDsMhQkEfPzV8";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"app":["/app-f70ac04d1f56b78f3931.js"],"component---src-pages-404-js":["/component---src-pages-404-js-841e84ff797503ac048a.js"],"component---src-pages-features-coach-js":["/component---src-pages-features-coach-js-29876275865a0a2c7c1a.js"],"component---src-pages-features-index-js":["/component---src-pages-features-index-js-4d4a82516cad02ced3d8.js"],"component---src-pages-features-menstrual-cycle-tracking-js":["/component---src-pages-features-menstrual-cycle-tracking-js-f82b6a996c090a06f4e6.js"],"component---src-pages-index-js":["/component---src-pages-index-js-63d08c00a3a5730e5622.js"],"component---src-pages-signin-js":["/component---src-pages-signin-js-2cbe8560a833724ca935.js"],"component---src-pages-start-index-scale-express-js":["/component---src-pages-start-index-scale-express-js-4191a33b757912674795.js"],"component---src-pages-start-index-scale-help-js":["/component---src-pages-start-index-scale-help-js-fa0de611ea120d0cf195.js"],"component---src-pages-start-index-scale-index-js":["/component---src-pages-start-index-scale-index-js-7ac8a52212a94db2fab4.js"],"component---src-pages-start-index-scale-mobile-js":["/component---src-pages-start-index-scale-mobile-js-825c52b5de34c7e3fc6b.js"],"component---src-pages-start-index-scale-wps-js":["/component---src-pages-start-index-scale-wps-js-bd933d60ca0bc42292a4.js"],"component---src-pages-start-index-js":["/component---src-pages-start-index-js-d3a69576ea9d5117784e.js"],"component---src-pages-start-quickdraw-legal-js":["/component---src-pages-start-quickdraw-legal-js-cf2da0e15e8af7e20d6c.js"],"component---src-pages-start-quickdraw-js":["/component---src-pages-start-quickdraw-js-b1a8e022d6e90bebe5c0.js"],"component---src-pages-start-vivoki-js":["/component---src-pages-start-vivoki-js-2fee9b53b1a7130bc857.js"],"component---src-pages-status-js":["/component---src-pages-status-js-77f076abb7dc3adf65b2.js"],"component---src-pages-support-js":["/component---src-pages-support-js-28338b5a6bf95bb7f96d.js"],"pages-manifest":["/pages-manifest-30001a9f1ccc5a08342f.js"]};/*]]>*/</script><script async="" src="/webpack-runtime-726429aeeebf792fa865.js"></script><script async="" src="/styles-7f4ad17eaa2f84285347.js"></script><script async="" src="/app-f70ac04d1f56b78f3931.js"></script><script async="" src="/0-1b57d2d469aaeb0d9220.js"></script><script async="" src="/1-ce2bc733156e4b92652d.js"></script><script async="" src="/component---src-pages-signin-js-2cbe8560a833724ca935.js"></script></body>

In [ ]:
sub_webpage = web_page.find_all(name="li") #, attrs={'class': 'list-item animated row-fluid'}

In [ ]:
sub_webpage

[]

I would like to make searchable notes that I could go through with links to exercises for injuries and such. It would be really useful to be able to have the types of injuries that I have gone through before and be able to just immediately have the stretches and such that worked. Then I can the next time find out how that went and then adjust based upon the previous injury timeline and see what works best for recovery for me.