<a href="https://colab.research.google.com/github/lilfetz22/Running_data/blob/Joining-Notes-columns/Running_Log.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Running Log Analysis**

###Goals

By 9/17 - complete pre-Garmin Data Wrangling
1. check for any remaining information in Notes columns - done (9/17)
2. Fix Date column and fill it in and make it agree with weekday (10/1)
3. remove excess columns

By 10/1 - Complete post-Garmin analysis
1. Data Wrangling

    a. filtering out activities from one another 

    b. comparing overlap from pre-garmin to post-Garmin records and fill in missing data

# Pre-Garmin Data Wrangling

In [1]:
import pandas as pd
import re
import numpy as np
import math
import calendar
from datetime import timedelta

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
def findall_n_join_fx(df, note_col, new_col, search_string):
    df.loc[:,new_col] = df.loc[:,note_col].str.findall(search_string)
    df.loc[:,new_col] = df.loc[:,new_col].str.join('')
    df.loc[:,note_col] = df.loc[:,note_col].str.replace(search_string, '')
    return df

In [4]:
log_csv = pd.read_csv("/content/drive/My Drive/pre-garmin.csv",encoding='windows-1254')
log_csv.head(15)

   Running log 6/21/10      3/17/14  ... Unnamed: 16 Unnamed: 17
0      Saturday 5/29/10         NaN  ...         NaN         NaN
1        Monday 6/21/10     4 miles  ...         NaN         NaN
2       Tuesday 6/22/10     4 miles  ...         NaN         NaN
3     Wednesday 6/23/10   4.5 miles  ...         NaN         NaN
4      Thursday 6/25/10          5   ...         NaN         NaN
5        Friday 6/26/10           5  ...         NaN         NaN
6      Saturday 6/27/10           6  ...         NaN         NaN
7                   NaN         NaN  ...         NaN         NaN
8        Monday 6/28/10           4  ...         NaN         NaN
9       Tuesday 6/29/10           5  ...         NaN         NaN
10    Wednesday 6/30/10         5.5  ...         NaN         NaN
11      Thursday 7/1/10           5  ...         NaN         NaN
12        Friday 7/2/10           4  ...         NaN         NaN
13      Saturday 7/3/10         7.7  ...         NaN         NaN
14                  NaN         NaN  ...         NaN         NaN

[15 rows x 18 columns]

In [5]:
log_csv.tail()

                                   Running log 6/21/10   ... Unnamed: 17
1979                                       TOTAL - 48.5  ...         NaN
1980                            Monday - 12/21/15 - off  ...         NaN
1981  Tuesday - I've failed. Not going to be able to...  ...         NaN
1982                      Thursday - 12/25/15 - 3 miles  ...         NaN
1983  Thursday - 12/31/15 - 30 minutes biking - 9.5 ...  ...         NaN

[5 rows x 18 columns]

Creation of Raw string before manipulation of columns

In [6]:
log_csv.columns

Index(['Running log 6/21/10 ', ' 3/17/14', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17'],
      dtype='object')

In [7]:
raw_string = log_csv.copy()
raw_string['raw_note'] = raw_string['Running log 6/21/10 '].str.cat(raw_string[[' 3/17/14','Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7',
                                                     'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11','Unnamed: 12',
                                                     'Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17']].astype(str), sep="_")
raw_string2 = raw_string[['raw_note']]
raw_string2.loc[:, 'raw_note'] = raw_string2.loc[:, 'raw_note'].str.replace('_?nan_?', '')
raw_string2.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1783: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

                                            raw_note
0  Saturday 5/29/10 4 miles 27:19 it was a little...
1                            Monday 6/21/10_ 4 miles
2  Tuesday 6/22/10_ 4 miles_Swimming_ 10 laps of ...
3            Wednesday 6/23/10_ 4.5 miles_35 minutes
4                               Thursday 6/25/10_ 5

In [8]:
log_csv['Notes'] = log_csv['Unnamed: 2'].str.cat(log_csv[['Unnamed: 3', 'Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7',
                                                     'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11','Unnamed: 12',
                                                     'Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17']].astype(str), sep="_")
log_csv2 = log_csv[['Running log 6/21/10 ',' 3/17/14','Notes']]
log_csv2.head(10)

  Running log 6/21/10   ...                                              Notes
0     Saturday 5/29/10  ...   4 miles 27:19 it was a little short. 3.8 mile...
1       Monday 6/21/10  ...                                                NaN
2      Tuesday 6/22/10  ...  Swimming_ 10 laps of freestyle_5 laps of backs...
3    Wednesday 6/23/10  ...  35 minutes_nan_nan_nan_nan_nan_nan_nan_nan_nan...
4     Thursday 6/25/10  ...                                                NaN
5       Friday 6/26/10  ...  Swimming_ same as Tuesday_nan_nan_nan_nan_nan_...
6     Saturday 6/27/10  ...   41:04_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan...
7                  NaN  ...                                                NaN
8       Monday 6/28/10  ...  28:04:00_5 total_nan_nan_nan_nan_nan_nan_nan_n...
9      Tuesday 6/29/10  ...                                                NaN

[10 rows x 3 columns]

In [9]:
# columns = ['Weekday', 'Date', 'Mileage', 'Minutes', 'Notes']
log_csv2.columns = ['Beginning', 'Mileage', 'Notes']

In [311]:
m = '- 7 miles - warmup with maggie - 82.190 - 6:19:16 - 13.0 avg'
t = '- 8 miles - thanksgiving 18.229 mile'
e = '35 minutes_nan_nan_nan_nan_nan_nan_nan_nan_nan'
re.sub('_nan', '', e)

'35 minutes'

In [312]:
findall_n_join_fx(log_csv2, 'Beginning', 'Weekday', '\w+day')
log_csv2 = findall_n_join_fx(log_csv2, 'Beginning', 'Date', '\d+/\d+/\d\d')
log_csv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Beginning  1966 non-null   object
 1   Mileage    1217 non-null   object
 2   Notes      751 non-null    object
 3   Weekday    1966 non-null   object
 4   Date       1966 non-null   object
dtypes: object(5)
memory usage: 77.6+ KB

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1783: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [313]:
log_csv3 = log_csv2[log_csv2['Beginning'].str.startswith('TOTAL') == False]

In [314]:
log_csv3.loc[:,'Mileage_init'] = log_csv3.loc[:,'Beginning'].str.findall('\d+\.*\d*')
log_csv3.loc[:, 'length'] = log_csv3['Mileage_init'].str.len()
log_csv3['counter'] = range(len(log_csv3))
log_csv3['Workout_mins'] = np.nan
log_csv3['Swimming_meters'] = np.nan
log_csv3['Bike_Mileage'] = np.nan
log_csv3 = log_csv3.rename(columns = {'Beginning': 'Notes2'})
check_data = log_csv3[log_csv3.length >1]
check_data2 = check_data[['Notes2','Mileage','Mileage_init','counter']]
len(check_data2)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

157

#### Manipulations

In [ ]:
log_csv3.iloc[105,1] = 7.5
log_csv3.iloc[1099,1] = 5
log_csv3.iloc[1101,1] = 5.5
log_csv3.iloc[1105,1] = 6
log_csv3.iloc[1110,1] = 6.5
log_csv3.iloc[1111,1] = 8
log_csv3.iloc[1136, 1] = 7
log_csv3.iloc[1139, 1] = 7
log_csv3.iloc[1140, 1] = 8
log_csv3.iloc[1142, 1] = 8
log_csv3.iloc[1146, 1] = 8
log_csv3.iloc[1147, 1] = 12
log_csv3.iloc[1149, 1] = 6
log_csv3.iloc[1149, -1] = 19.8
log_csv3.iloc[1155, -1] = 101.83
log_csv3.iloc[1156, 1] = 6
log_csv3.iloc[1156, -1] = 21.334
log_csv3.iloc[1157, 1] = 6
log_csv3.iloc[1157, -1] = 32.497
log_csv3.iloc[1159, 1] = 6
log_csv3.iloc[1159, -1] = 19.783
log_csv3.iloc[1160, 1] = 8
log_csv3.iloc[1161, 1] = 12
log_csv3.iloc[1163, -1] = 20.391
log_csv3.iloc[1164, 1] = 7
log_csv3.iloc[1164, -1] = 40.865
log_csv3.iloc[1165, 1] = 6.62
log_csv3.iloc[1165, -1] = 61.266 - 40.865
log_csv3.iloc[1166, 1] = 6
log_csv3.iloc[1166, -1] =81.794 - 61.266
log_csv3.iloc[1167, 1] = 6
log_csv3.iloc[1167, -1] = 102.21 - 81.794
log_csv3.iloc[1171, 1] = 7
log_csv3.iloc[1171, -1] = 20.547
log_csv3.iloc[1172, 1] = 7
log_csv3.iloc[1172, -1] = 40.963 - 20.547
log_csv3.iloc[1174, -1] =61.538 - 40.963
log_csv3.iloc[1175, 1] = 7
log_csv3.iloc[1175, -1] = 82.190 - 61.538
log_csv3.iloc[1179, 1] = 7
log_csv3.iloc[1179, -1] = 20.771
log_csv3.iloc[1180, 1] = 7
log_csv3.iloc[1180, -1] = 41.447 - 20.771
log_csv3.iloc[1181, 1] = 7
log_csv3.iloc[1181, -1] = 62.151 - 41.447
log_csv3.iloc[1186, 1] = 7
log_csv3.iloc[1186, -1] =20.771
log_csv3.iloc[1187, 1] = 7
log_csv3.iloc[1187, -1] = 20.828
log_csv3.iloc[1188, 1] = 7
log_csv3.iloc[1188, -1] = 41.446 - 20.828
log_csv3.iloc[1190, 1] = 10
log_csv3.iloc[1191, 1] =14
log_csv3.iloc[1193, 1] = 7
log_csv3.iloc[1193, -1] = 20.510
log_csv3.iloc[1194, 1] = 7
log_csv3.iloc[1194, -1] =41.222 - 20.510
log_csv3.iloc[1195, 1] = 6
log_csv3.iloc[1195, -1] = 61.913 - 41.222
log_csv3.iloc[1196, 1] = 7
log_csv3.iloc[1196, -1] = 82.629 - 61.913
log_csv3.iloc[1200, 1] = 8
log_csv3.iloc[1205, 1] = 14
log_csv3.iloc[1208, 1] = 7
log_csv3.iloc[1208, -1] = 20.510
log_csv3.iloc[1209, 1] = 8
log_csv3.iloc[1209, -1] = 20.014
log_csv3.iloc[1210, 1] = 8
log_csv3.iloc[1210, -1] = 39.375-20.014
log_csv3.iloc[1211, 1] = 7
log_csv3.iloc[1211, -1] = 20
log_csv3.iloc[1213, 1] = 16
log_csv3.iloc[1215, 1] = 7
log_csv3.iloc[1215, -1] =20
log_csv3.iloc[1216, 1] = 7
log_csv3.iloc[1216, -1] = 20
log_csv3.iloc[1217, 1] = 6.5
log_csv3.iloc[1217, -1] = 21.067
log_csv3.iloc[1218, 1] = 6.5
log_csv3.iloc[1218, -1] = 43.657 - 21.067
log_csv3.iloc[1220, 1] = 16
log_csv3.iloc[1223, 1] = 10
log_csv3.iloc[1223, -1] = 10
log_csv3.iloc[1227, 1] = 17
log_csv3.iloc[1229, 1] = 8
log_csv3.iloc[1229, -1] = 6
log_csv3.iloc[1230, 1] = 8
log_csv3.iloc[1230, -1] = 35
log_csv3.iloc[1231, 1] = 8
log_csv3.iloc[1231, -3] = 120
log_csv3.iloc[1257, 1] = 18
log_csv3.iloc[1260, 1] = 9
log_csv3.iloc[1262, 1] = 13
log_csv3.iloc[1262, -3] = 60
log_csv3.iloc[1269, 1] = 17
log_csv3.iloc[1269, -3] = 60
log_csv3.iloc[1275, 1] = 12
log_csv3.iloc[1275, -3] = 60
log_csv3.iloc[1278, 1] = 13
log_csv3.iloc[1290, 1] = 12
log_csv3.iloc[1292, 1] = 13
log_csv3.iloc[1292, -3] = 60
log_csv3.iloc[1293, 1] = 11
log_csv3.iloc[1297, 1] =10
log_csv3.iloc[1299, 1] = 10
log_csv3.iloc[1301, 1] =10
log_csv3.iloc[1309, 1] = 27.5
log_csv3.iloc[1314, -2] = 1600
log_csv3.iloc[1318, -2] = 2100
log_csv3.iloc[1319, -1] = 8.5
log_csv3.iloc[1319, -3] = 60
log_csv3.iloc[1320, -1] = 82.917
log_csv3.iloc[1321, 1] =3
log_csv3.iloc[1321, -2] = 2300
log_csv3.iloc[1323, 1] =3
log_csv3.iloc[1323, -2] = 2300
log_csv3.iloc[1327, 1] = 3
log_csv3.iloc[1327, -2] = 2300
log_csv3.iloc[1328, 1] = 4
log_csv3.iloc[1328, -3] = 60
log_csv3.iloc[1328, -1] = 20
log_csv3.iloc[1335, -1] = 27.714
log_csv3.iloc[1336, 1] =4
log_csv3.iloc[1336, -1] = 14
log_csv3.iloc[1337, 1] =5
log_csv3.iloc[1337, -2] = 2300
log_csv3.iloc[1338, 1] =4
log_csv3.iloc[1338, -3] = 60
log_csv3.iloc[1338, -1] = 10
log_csv3.iloc[1342, 1] = 6.6
log_csv3.iloc[1342, -2] = 2300
log_csv3.iloc[1370, -1] = 32.382
log_csv3.iloc[1377, 1] = 13
log_csv3.iloc[1377, -3] = 60
log_csv3.iloc[1377, -1] =12
log_csv3.iloc[1385, 1] = 14.5
log_csv3.iloc[1387, -1] = 62.999
log_csv3.iloc[1402, 1] = 16
log_csv3.iloc[1418, 1] = 18
log_csv3.iloc[1430, 1] = 16
log_csv3.iloc[1431, 1] = 0
log_csv3.iloc[1431, -1] =12
log_csv3.iloc[1432, 1] =0
log_csv3.iloc[1432, -1] = 12
log_csv3.iloc[1433, 1] = 3
log_csv3.iloc[1433, -1] = 12
log_csv3.iloc[1438, 1] = 14
log_csv3.iloc[1438, -1] = 12
log_csv3.iloc[1452, 1] = 5
log_csv3.iloc[1455, 1] = 27.2
log_csv3.iloc[1482, 1] = 6
log_csv3.iloc[1482, -1] = 17
log_csv3.iloc[1482, -3] = 20
log_csv3.iloc[1485, 1] = 6
log_csv3.iloc[1485, -1] =16
log_csv3.iloc[1487, 1] = 8
log_csv3.iloc[1487, -1] =14.09
log_csv3.iloc[1498, 1] = 7
log_csv3.iloc[1498, -1] =16
log_csv3.iloc[1503, 1] = 8
log_csv3.iloc[1503, -1] = 15.79
log_csv3.iloc[1507, 1] =8
log_csv3.iloc[1507, -1] =15
log_csv3.iloc[1533, 1] = 6
log_csv3.iloc[1557, 1] = 6
log_csv3.iloc[1557, -1] = 20
log_csv3.iloc[1559, 1] = 6
log_csv3.iloc[1559, -1] = 20
log_csv3.iloc[1567, 1] = 8
log_csv3.iloc[1567, -1] = 20.609
log_csv3.iloc[1568, 1] =8
log_csv3.iloc[1568, -1] = 41.860 - 20.609
log_csv3.iloc[1570, 1] = 8
log_csv3.iloc[1570, -1] = 2.166
log_csv3.iloc[1572, -1] = 30.188
log_csv3.iloc[1574, 1] = 8
log_csv3.iloc[1574, -1] = 4.787
log_csv3.iloc[1575, 1] = 7
log_csv3.iloc[1575, -1] = 22.259
log_csv3.iloc[1576, 1] = 8
log_csv3.iloc[1576, -1] = 8.435
log_csv3.iloc[1577, 1] = 7
log_csv3.iloc[1577, -1] = 24.222
log_csv3.iloc[1578, 1] = 8
log_csv3.iloc[1578, -1] = 2.215
log_csv3.iloc[1579, 1] = 10.5
log_csv3.iloc[1579, -1] = 6.832
log_csv3.iloc[1580, -1] = 41.162
log_csv3.iloc[1582, 1] =8
log_csv3.iloc[1582, -1] = 6.471
log_csv3.iloc[1583, 1] = 7
log_csv3.iloc[1583, -1] = 26.625
log_csv3.iloc[1584, 1] =8
log_csv3.iloc[1584, -1] = 6.505
log_csv3.iloc[1585, 1] = 8
log_csv3.iloc[1585, -1] = 22.478
log_csv3.iloc[1586, 1] = 8
log_csv3.iloc[1586, -1] = 4.438
log_csv3.iloc[1587, 1] = 12
log_csv3.iloc[1587, -1] = 2.065
log_csv3.iloc[1588, -1] = 30.291
log_csv3.iloc[1590, 1] = 8
log_csv3.iloc[1590, -1] = 2.314 + 15.281
log_csv3.iloc[1591, 1] = 7
log_csv3.iloc[1591, -1] = 10 + .5 + 2.924
log_csv3.iloc[1592, 1] = 8.66
log_csv3.iloc[1592, -1] = 4.989
log_csv3.iloc[1593, 1] = 7
log_csv3.iloc[1593, -1] = 2.321 + 10.360
log_csv3.iloc[1594, 1] = 8 
log_csv3.iloc[1594, -1] = 4.231
log_csv3.iloc[1595, 1] = 12
log_csv3.iloc[1595, -1] = 11.938
log_csv3.iloc[1598, 1] = 8.5
log_csv3.iloc[1598, -1] = 10
log_csv3.iloc[1599, 1] = 7
log_csv3.iloc[1599, -1] =11.859
log_csv3.iloc[1602, 1] = 8
log_csv3.iloc[1602, -1] = 4.363
log_csv3.iloc[1603, 1] =13
log_csv3.iloc[1603, -1] = 2.063
log_csv3.iloc[1606, 1] = 8.66
log_csv3.iloc[1606, -1] = 2.063
log_csv3.iloc[1607, 1] = 8
log_csv3.iloc[1607, -1] = 4.338
log_csv3.iloc[1608, 1] =10.45
log_csv3.iloc[1608, -1] = 5.306 + 10.18
log_csv3.iloc[1609, 1] = 8.66
log_csv3.iloc[1609, -1] = 4.569
log_csv3.iloc[1610, -1] = 2.081 + 20.231
log_csv3.iloc[1615, 1] = 6
log_csv3.iloc[1615, -1] = 5.596
log_csv3.iloc[1616, 1] = 8
log_csv3.iloc[1616, -1] = 4.591
log_csv3.iloc[1617, 1] =9
log_csv3.iloc[1617, -1] = 5.671
log_csv3.iloc[1622, 1] = 9
log_csv3.iloc[1622, -1] = 4.842
log_csv3.iloc[1623, 1] = 8.5
log_csv3.iloc[1623, -1] = 4.21
log_csv3.iloc[1628, 1] = 8
log_csv3.iloc[1628, -1] = 14.124
log_csv3.iloc[1630, 1] = 8
log_csv3.iloc[1630, -1] = 3.454
log_csv3.iloc[1631, 1] = 10
log_csv3.iloc[1631, -1] = 2.719
log_csv3.iloc[1633, 1] =8
log_csv3.iloc[1633, -1] =4.312
log_csv3.iloc[1634, 1] = 8
log_csv3.iloc[1634, -1] = 2.091
log_csv3.iloc[1639, 1] =10
log_csv3.iloc[1639, -1] = 2.394
log_csv3.iloc[1640, 1] =4
log_csv3.iloc[1640, -1] = 3.679
log_csv3.iloc[1647, 1] = 8
log_csv3.iloc[1647, -1] = 3.540
log_csv3.iloc[1649, 1] =9
log_csv3.iloc[1649, -1] = 2.070
log_csv3.iloc[1665, 1] = 8
log_csv3.iloc[1704, 1] = 8
log_csv3.iloc[1722, -1] = 9.5
# Biking edits
log_csv3.iloc[1138,1] = 0
log_csv3.iloc[1138,-1] = 55.1
log_csv3.iloc[1138,5] = np.nan
log_csv3.iloc[1206,1] = 0
log_csv3.iloc[1206,-1] = 53
log_csv3.iloc[1206,5] = np.nan
log_csv3.iloc[1431,5] = np.nan
log_csv3.iloc[1432,5] = np.nan
log_csv3.iloc[1527,1] = 0
log_csv3.iloc[1527,-1] = 15
log_csv3.iloc[1527,5] = np.nan
log_csv3.iloc[1561,1] =0
log_csv3.iloc[1561,-1] =40
log_csv3.iloc[1561,5] = np.nan
log_csv3.iloc[1596,1] =0
log_csv3.iloc[1596,-1] = 1.25
log_csv3.iloc[1596,5] = np.nan
log_csv3.iloc[1614,1] =0
log_csv3.iloc[1614,-1] =6.362
log_csv3.iloc[1614,5] =np.nan
log_csv3.iloc[1632,1] =0
log_csv3.iloc[1632,-1] =4.474
log_csv3.iloc[1632,5] = np.nan
log_csv3.iloc[1648,1] =0
log_csv3.iloc[1648,-1] =2.93
log_csv3.iloc[1648,5] = np.nan
# Swimming workout edits
log_csv3.iloc[1316,-2] = 1600
log_csv3.iloc[1316,1] = 0
log_csv3.iloc[1316,5] = np.nan
log_csv3.iloc[1339,-2] = 1600
log_csv3.iloc[1346,-2] = 1600
log_csv3.iloc[1381,-2] = 1600
log_csv3.iloc[1389,-2] = 1600
log_csv3.iloc[1391,-2] = 1600
log_csv3.iloc[1397,-2] = 1600
log_csv3.iloc[1399,-2] = 1600
log_csv3.iloc[1496,-2] = 1600
log_csv3.iloc[1505,-2] = 1600
log_csv3.iloc[1515,-2] = 1600

#### New Log

In [226]:
new_log = log_csv3.copy()
new_log.head(10)

   Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                 NaN  ...             NaN          NaN
1             4 miles  ...             NaN          NaN
2             4 miles  ...             NaN          NaN
3           4.5 miles  ...             NaN          NaN
4                  5   ...             NaN          NaN
5                   5  ...             NaN          NaN
6                   6  ...             NaN          NaN
8                   4  ...             NaN          NaN
9                   5  ...             NaN          NaN
10                5.5  ...             NaN          NaN

[10 rows x 11 columns]

In [227]:
new_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1723 entries, 0 to 1983
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1665 non-null   object
 1   Mileage          1216 non-null   object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             139 non-null    object
 5   Mileage_init     1712 non-null   object
 6   length           1723 non-null   int64
 7   counter          1723 non-null   int64
 8   Workout_mins     10 non-null     float64
 9   Swimming_meters  18 non-null     float64
 10  Bike_Mileage     112 non-null    float64
dtypes: float64(3), int64(2), object(6)
memory usage: 161.5+ KB

In [228]:
to_be_nan = list(new_log.counter[new_log.length > 1])
for row_numb in to_be_nan:
    new_log.iloc[row_numb,5] = np.nan

In [229]:
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\[\'', '')
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\'\]', '')
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\[\]', '')

In [230]:
new_log.Mileage_init = pd.to_numeric(new_log.Mileage_init, errors='coerce')
new_log.head()

  Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                NaN  ...             NaN          NaN
1            4 miles  ...             NaN          NaN
2            4 miles  ...             NaN          NaN
3          4.5 miles  ...             NaN          NaN
4                 5   ...             NaN          NaN

[5 rows x 11 columns]

In [231]:
new_log.insert(8, 'Workout_type',None)

In [232]:
new_log.head()

  Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                NaN  ...             NaN          NaN
1            4 miles  ...             NaN          NaN
2            4 miles  ...             NaN          NaN
3          4.5 miles  ...             NaN          NaN
4                 5   ...             NaN          NaN

[5 rows x 12 columns]

In [233]:
# dropping two lines that just had "WORKOUTS TOTAL"
new_log = new_log.drop([30,143,187,334,360,442,610,789,969,1113,1121,1131,1258,1259,1260,
                        1261,1262,1453,1523,1598,1643,1652,1686,1727,1737,1747,1756,1757,
                        1767,1776,1777,1786,1787,1796,1797,1807,1816,1825,1834,1843,1852,
                        1861,1870,1879,1895,1904,1913,1922,1931])
new_log['counter'] = range(len(new_log))

In [234]:
def workout_finder_fx(df, col, str_search, minutes, workout_type, *exclude):
    w_o = list(df.loc[:, col].str.contains(str_search))
    for idx, n in enumerate(w_o):
        if n == None:
            continue
        elif n == True:
            enough_to_exclude = 0
            for e in exclude:
                o2 = re.search(e, df[col].iloc[idx])
                if o2:
                    enough_to_exclude += 1
            if enough_to_exclude < 1:
                df['Workout_type'].iloc[idx] = workout_type
                df['Workout_mins'].iloc[idx] = minutes
    return df

In [235]:
ab_workout_incl_log = workout_finder_fx(new_log, 'Notes2', '[Aa]b [Ww]orkout', 20, 'abs')
gym_workout_incl_log = workout_finder_fx(ab_workout_incl_log, 'Notes2', '[Ww]orkout',45, 'gym', '[Ss]wim', '[Aa]b')
print(gym_workout_incl_log.iloc[1084])
gym_workout_incl_log.iloc[1267]

Notes2              - mile warmup - 4.5 miles - dads loop - 3 mil...
Mileage                                                          5.5
Notes                                                            NaN
Weekday                                                     Saturday
Date                                                             NaN
Mileage_init                                                     NaN
length                                                             9
counter                                                         1084
Workout_type                                                    None
Workout_mins                                                     NaN
Swimming_meters                                                  NaN
Bike_Mileage                                                     NaN
Name: 1283, dtype: object

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Notes2              - workout between classes
Mileage                                   NaN
Notes                                     NaN
Weekday                              Thursday
Date                                      NaN
Mileage_init                              NaN
length                                      0
counter                                  1267
Workout_type                              gym
Workout_mins                               45
Swimming_meters                           NaN
Bike_Mileage                              NaN
Name: 1492, dtype: object

Mileage Column

In [236]:
gym_workout_incl_log.iloc[314]

Notes2
Mileage             6 miles greystone then dads loop
Notes                                            NaN
Weekday                                     Saturday
Date                                             NaN
Mileage_init                                     NaN
length                                             0
counter                                          314
Workout_type                                    None
Workout_mins                                     NaN
Swimming_meters                                  NaN
Bike_Mileage                                     NaN
Name: 376, dtype: object

In [237]:
# might need to try out the "try" in a function to see if it can be converted to 
# an integer if not, then put the note into a separate column and delete it from
# the mileage column
def remove_mileage_notes_fx(df, col):
    notes3_col = [''] * len(df[col])
    list_col = list(df.loc[:, col])
    for idx, a in enumerate(list_col):
        try:
            float_a = float(a)
            df[col].iloc[idx] = float_a
        except:
            notes3_col[idx] = a
            df[col].iloc[idx] = np.nan
    df['Notes3'] = notes3_col
    return df
sep_notes_from_mileage_col = remove_mileage_notes_fx(gym_workout_incl_log, 'Mileage')
sep_notes_from_mileage_col.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

   Notes2 Mileage  ... Bike_Mileage      Notes3
0             NaN  ...          NaN
1             NaN  ...          NaN     4 miles
2             NaN  ...          NaN     4 miles
3             NaN  ...          NaN   4.5 miles
4               5  ...          NaN
5               5  ...          NaN
6               6  ...          NaN
8               4  ...          NaN
9               5  ...          NaN
10            5.5  ...          NaN

[10 rows x 13 columns]

took all of the text that was in the mileage column and moved it to a separate column, and left any number that was purely a number and converted the column to be integers.

In [238]:
# now I need to go through the notes3 column and pull out any that have just mileage, 
#then I will need to go through and search those that have dates and other mess 
#in there, then I will need to apply the same functions to the Notes column

In [239]:
findall_n_join_fx(sep_notes_from_mileage_col, 'Notes3', 'Date2', '\d+/\d+/\d\d')

                                                 Notes2  ... Date2
0                                                        ...
1                                                        ...
2                                                        ...
3                                                        ...
4                                                        ...
...                                                 ...  ...   ...
1978                                         - 10 miles  ...
1980                                           -  - off  ...
1981   - I've failed. Not going to be able to run fo...  ...
1982                                       -  - 3 miles  ...
1983                 -  - 30 minutes biking - 9.5 miles  ...

[1674 rows x 14 columns]

In [240]:
sep_notes_from_mileage_col.loc[34]

Notes2
Mileage                               NaN
Notes                                 NaN
Weekday                         Wednesday
Date                              7/28/10
Mileage_init                          NaN
length                                  0
counter                                28
Workout_type                         None
Workout_mins                          NaN
Swimming_meters                       NaN
Bike_Mileage                          NaN
Notes3             2 miles / 5 miles hike
Date2
Name: 34, dtype: object

In [241]:
def date_finder_fx(df, new_date):
    date_col = list(df[new_date])
    for idx, date in enumerate(date_col):
        try:
            if math.isnan(date):
                continue
        except:
            if date == '':
                continue
            try:
                if math.isnan(df['Date'].iloc[idx]):
                    df['Date'].iloc[idx] = date
            except:
                continue

In [242]:
date_finder_fx(sep_notes_from_mileage_col, 'Date2')

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [243]:
sep_notes_from_mileage_col.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1674 entries, 0 to 1983
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1616 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            740 non-null    object
 3   Weekday          1616 non-null   object
 4   Date             292 non-null    object
 5   Mileage_init     381 non-null    float64
 6   length           1674 non-null   int64
 7   counter          1674 non-null   int64
 8   Workout_type     68 non-null     object
 9   Workout_mins     70 non-null     float64
 10  Swimming_meters  18 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1674 non-null   object
 13  Date2            1674 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 276.2+ KB

In [244]:
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('_nan', '')

In [245]:
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.lower()
sep_notes_from_mileage_col.loc[:, 'Notes2'] = sep_notes_from_mileage_col.loc[:, 'Notes2'].str.lower()
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.lower()

In [246]:
sep_notes_from_mileage_col['Mileage_init2'] = sep_notes_from_mileage_col.Notes3.str.findall('\d+\.?\d* miles?')
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.replace('\d+\.?\d* miles?', '')
sep_notes_from_mileage_col['Mileage_init3'] = sep_notes_from_mileage_col.Notes.str.findall('\d+\.?\d* miles?')
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('\d+\.?\d* miles?', '')
sep_notes_from_mileage_col['Mileage_init4'] = sep_notes_from_mileage_col.Notes3.str.findall('\d+\.?\d* total')
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.replace('\d+\.?\d* total', '')
sep_notes_from_mileage_col['Mileage_init5'] = sep_notes_from_mileage_col.Notes.str.findall('\d+\.?\d* total')
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('\d+\.?\d* total', '')

In [247]:
gym_workout_incl_log2 = workout_finder_fx(sep_notes_from_mileage_col, 'Notes', 'workout', 45, 'gym', 'swim', 'ab','pool')
gym_workout_incl_log2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1674 entries, 0 to 1983
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1616 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            740 non-null    object
 3   Weekday          1616 non-null   object
 4   Date             292 non-null    object
 5   Mileage_init     381 non-null    float64
 6   length           1674 non-null   int64
 7   counter          1674 non-null   int64
 8   Workout_type     73 non-null     object
 9   Workout_mins     75 non-null     float64
 10  Swimming_meters  18 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1674 non-null   object
 13  Date2            1674 non-null   object
 14  Mileage_init2    1674 non-null   object
 15  Mileage_init3    740 non-null    object
 16  Mileage_init4    1674 non-null   object
 17  Mileage_init5    740 non-null    object
dtypes: float64(4), int64(2), object(12)
memory usage: 328.5+ KB

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [248]:
def swim_workout_fx(df, col, str_search): 
    for s in str_search:
        w_o2 = list(df.loc[:, col].str.contains(s))
        for idx, w in enumerate(w_o2):
            if w == None:
                continue
            elif w == True:
                df['Swimming_meters'].iloc[idx] = 1600

In [249]:
swim_workout_fx(gym_workout_incl_log2, 'Notes', ['swim','pool'])
swim_workout_fx(gym_workout_incl_log2, 'Notes2', ['swim','pool'])
swim_workout_fx(gym_workout_incl_log2, 'Notes3', ['swim','pool'])
gym_workout_incl_log2.info()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1674 entries, 0 to 1983
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1616 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            740 non-null    object
 3   Weekday          1616 non-null   object
 4   Date             292 non-null    object
 5   Mileage_init     381 non-null    float64
 6   length           1674 non-null   int64
 7   counter          1674 non-null   int64
 8   Workout_type     73 non-null     object
 9   Workout_mins     75 non-null     float64
 10  Swimming_meters  39 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1674 non-null   object
 13  Date2            1674 non-null   object
 14  Mileage_init2    1674 non-null   object
 15  Mileage_init3    740 non-null    object
 16  Mileage_init4    1674 non-null   object
 17  Mileage_init5    740 non-null    object
dtypes: float64(4), int64(2), object(12)
memory usage: 328.5+ KB

In [250]:
def mileage_finder_fx(df, init, total_or_miles):
    multiple_miles = []
    too_big = []
    already_in_col = []
    for idx, row in enumerate(df.loc[:, init]):
        try:
            if math.isnan(row):
                continue
        except:
            if len(row) > 1:
                multiple_miles.append(idx)
            elif len(row) == 1:
                mile_str = row[0].replace(total_or_miles, '')
                try:
                    mile_float = float(mile_str)
                    if math.isnan(df['Mileage'].iloc[idx]):
                        if mile_float > 27.2:
                            too_big.append(idx)
                        else:
                            df['Mileage'].iloc[idx] = mile_float
                    else:
                        already_in_col.append(idx)
                except:
                    continue
    return multiple_miles, too_big, already_in_col

In [251]:
mm3, tb3, aic3 = mileage_finder_fx(gym_workout_incl_log2,'Mileage_init4','total')
print(len(mm3),len(tb3),len(aic3))
mm4, tb4, aic4 = mileage_finder_fx(gym_workout_incl_log2, 'Mileage_init5', 'total')
print(len(mm4),len(tb4),len(aic4))
mm, tb, aic = mileage_finder_fx(gym_workout_incl_log2,'Mileage_init2','miles')
print(len(mm),len(tb),len(aic))
mm2, tb2, aic2 = mileage_finder_fx(gym_workout_incl_log2, 'Mileage_init3', 'miles')
print(len(mm2),len(tb2),len(aic2))

0 0 0

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

1 0 3
5 3 36
67 0 89

For each of the following I will be manually putting in the data to fix the issue since they are outliers in being able to conform nicely to a computer function.

In [252]:
comb = mm4 + aic4 + mm + tb + aic + mm2 + aic2
comb_array = np.array(comb)
comb_uni = np.unique(comb_array)

In [253]:
time_added = gym_workout_incl_log2.copy()
time_added.insert(2, 'Time', None)

In [254]:
raw_string_added = pd.merge(time_added, raw_string2, how='left',left_index=True, right_index=True)

In [255]:
def manual_input_desc(df, list_name):
    for ind in list_name:
        print(df[['Mileage','Bike_Mileage', 'Time','Weekday', 'Date','Workout_type', 'Workout_mins', 'Swimming_meters']].iloc[ind])
        print('RAW: ', df['raw_note'].iloc[ind])

In [256]:
#manual_input_desc(raw_string_added, mm4)

In [257]:
#manual_input_desc(raw_string_added, aic4)

In [258]:
#manual_input_desc(raw_string_added, mm)

In [259]:
#manual_input_desc(raw_string_added, tb)

In [260]:
#manual_input_desc(raw_string_added, aic)

In [261]:
#manual_input_desc(raw_string_added, mm2)

In [262]:
#manual_input_desc(raw_string_added, aic2)

In [263]:
mil = list(raw_string_added.Mileage_init)
multi = []
for idx, m in enumerate(mil):
    if math.isnan(m):
        continue
    elif math.isnan(raw_string_added['Mileage'].iloc[idx]):
        raw_string_added['Mileage'].iloc[idx] = m
    else:
        multi.append(idx)
len(multi)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

0

Search for more data inside of the Notes columns

In [264]:
raw_string_added['Notes'] = raw_string_added['Notes'].replace(np.nan, '')
raw_string_added['Notes2'] = raw_string_added['Notes2'].replace(np.nan, '')

In [265]:
raw_string_added['Notes_comb'] = raw_string_added['Notes'].str.cat(raw_string_added[['Notes2','Notes3']].astype(str), sep="_")
raw_string_added.head()

  Notes2  ...                                         Notes_comb
0         ...                   27:19 it was a little short. _ _
1         ...                                               _ _
2         ...  swimming_ 10 laps of freestyle_5 laps of backs...
3         ...                                     35 minutes_ _
4         ...                                                _ _

[5 rows x 21 columns]

In [266]:
raw_string_added['numbers'] = raw_string_added.Notes_comb.str.findall('\d+\.*\d*')

In [267]:
greater_2 = []
two = []
one = []
for idx, num in enumerate(raw_string_added.numbers):
    if (len(num) > 2) and (idx not in comb_uni) and (math.isnan(raw_string_added['Mileage'].iloc[idx])):
        greater_2.append(idx)
    elif (len(num) == 2) and (idx not in comb_uni) and (math.isnan(raw_string_added['Mileage'].iloc[idx])):
        two.append(idx)
    elif (len(num) == 1) and (idx not in comb_uni) and (math.isnan(raw_string_added['Mileage'].iloc[idx])):
        one.append(idx)
print(len(greater_2), len(two), len(one))

48 22 48

In [268]:
#manual_input_desc(raw_string_added, greater_2)

In [269]:
#manual_input_desc(raw_string_added, two)

In [270]:
#manual_input_desc(raw_string_added, one)

need to look at every row that is null for mileage and see whether it should be null or not

In [271]:
l_comb_uni = list(comb_uni)

In [272]:
comb_2 = l_comb_uni + greater_2 + two + one

In [273]:
missing_mileage = []
for idx, w in enumerate(raw_string_added['Mileage']):
    if (math.isnan(w)) and (idx not in comb_2):
        missing_mileage.append(idx)

In [274]:
manual_changes = {'Mileage': [[339,6.5],[8,5],[729,13],[23,6.5],[34,2],[53,8],[1247,21],[0,3.8],[43,6.5],[223,9],[373,5],[383,9],[514,9],[534,7],[542,13],[547,9],[551,7],[591,9],[756,9],[832,6],[901,10],
                          [903,8],[908,10.5],[910,8.19],[924,11.5],[1074,8],[1099,9],[1102,13.1],[1107,8],[1108,11.3],[1114,11],[1122,7],[1247,21],[1255,26.2],[11,6],[16,5],[22,7],[32,9.25],[39,4],
                          [55,6],[64,4],[88,5],[164,8],[20, 8],[50,4],[100,4.2],[102,8],[125,4.2],[181,8.5],[186, 12],[218,4],[222,8],[241,4],[252,5.5],[264,7],[304,10],[316,10.5],[337,8],[358,11],
                          [359,8],[371,8],[394,4.2],[412,7.5],[419,5.5],[426,4],[428,6],[447,3],[493,9.5],[541,10.5],[543,5.5],[544,5],[560,9.5],[572,4.5],[582,9],[601,9.5],[670,6],[699,5.5],[714,11],
                          [28,5.5],[181,8.5],[206,6],[303,2.5],[382,4],[483,10.5],[484,10.5],[486,13],[491,16],[498,16],[511,11.5],[537,7.5],[584,11],[587,9],[632,9.5],[642,4],[665,7.5],[25,4],[31,3.5],
                          [137,6.5],[139,3],[202,2],[219,7.5],[285,6],[287,2.5],[289,5],[302,2.5],[326,3],[327,4.5],[332,1.5],[374,4.5],[379,4],[439,1],[443,3],[444,3],[445,3],[446,3],[450,3],[465,13],
                          [472,15],[488,3],[490,10.5],[500,8.5],[540,7],[548,4.2],[605,2],[624,7.5],[636,4.5],[637,3],[643,5],[688,4.5],[738,8.5],[747,13],[750,19],[857,3],[862,2],[933,7],[978,4],[1093,4],
                          [1100,8],[1127,1],[1130,2],[1243,13],[134,1],[233,3],[281,3],[469,10],[601,10],[966,1],[1670,0],[1685,1.5],[1061,0],[1277,0],[1522,1.2]], 
                  'Time': [[8, '28:04'],[23, '35:32'],[558,'40:00'],[357,'66:01'],[351,'70:00'],[166,'34:00'],[107,'75:00'],[90,'39:00'],[63,'53:40'],[61,'50:50'],[48,'42:59'],[40,'40:47'],[36,'19:42'],
                           [17,'28:38'],[0,'27:19'],[11,'32:04'],[37,'47:13'], [20, '55:53'], [181,'64:00'],[186, '68:00'],[222,'56:37'],[316,'71:23'],[412,'16:31'],[582,'60:00'],[714,'61:10'],
                           [181,'64:00'],[537,'51:00'],[584,'80:00'],[632,'66:00'],[642,'30:00'],[665,'60:00'],[31,'25:00'],[219,'54:00']],
                  'Date': [[95, '9/20/10'], [110, '10/4/10'],[183,'1/3/11'],[4,'6/24/10'],[5,'6/25/10'],[6,'6/26/10'],[67,'8/30/10'],[913,'3/25/13'],[1005,'7/15/13'],[1480,'9/29/14'],[1677,'3/16/15'],
                           [39,'8/2/10'],[46,'8/9/10'],[88,'9/13/10'],[130,'10/25/10'],[124,'10/18/10'],[180,'12/28/10'],[181,'1/1/11'],[102,'9/27/10'],[272,'5/8/11'],[343,'8/2/11'],[369,'8/28/11'],
                           [624,'5/21/12'],[649,'6/18/12'],[1078,'9/17/13'],[1092,'10/1/13'],[1107,'10/15/13'],[1134,'11/19/13'],[1148,'12/3/13'],[1192,'1/14/14'],[1244,'3/5/14'],[1287,'4/22/14'],
                           [1375,'7/4/14'],[1383,'7/11/14'],[1389,'7/16/14'],[1501,'10/17/14'],[1705,'5/21/15'],[1853,'9/7/15']],
                  'Bike_Mileage': [[505,24],[1013,30],[1021,30],[1029,30],[54,14.9],[37,14.9],[328,20.7],[1362,102.21],[303,14.8],[405,30],[311,23],[452,37],[615,41],[353,20.5],[973,16],[1061,20.158],
                                   [1371,82.190],[1395,82.629],[1462,42.131],[1277,54.8]],
                  'Swimming_meters': [[31,1600],[677,1600]],
                  'Weekday': [[1982,'Friday'],[93,'Saturday'],[1859,'Sunday'],[1877,'Sunday']],
                  'Workout_type': [[214,'gym'],[1431,'gym'],[1440,'gym'],[1457,'gym'],[1466,'gym'],[1601,'gym']],
                  'Workout_mins': [[214,30],[1440,60],[1457,60],[1601,60]]}

In [275]:
raw_string_added.loc[102,'raw_note'] = raw_string_added.loc[102,'raw_note'] + raw_string_added.loc[103,'raw_note']
raw_string_added = raw_string_added.drop(103)

In [276]:
manual_inputs_df = raw_string_added.copy()

In [277]:
def input_manual_fx(df, loc_dict):
    for key, value in loc_dict.items():
        for v in value:
            df.loc[v[0], key] = v[1]

In [278]:
input_manual_fx(manual_inputs_df, manual_changes)

In [279]:
manual_inputs_df['Mileage'] = manual_inputs_df['Mileage'].replace(np.nan, 0)

In [280]:
bike_notes = list(manual_inputs_df.Notes2.str.contains('bike total'))
bike_totals = []
for idx, b in enumerate(bike_notes):
    if b is True:
        try:
            if math.isnan(manual_inputs_df.Bike_Mileage.iloc[idx]):
                bike_totals.append(idx)
        except:
            continue
for i_bike in bike_totals:
    manual_inputs_df.Bike_Mileage.iloc[i_bike] = manual_inputs_df.Mileage.iloc[i_bike]
    manual_inputs_df.Mileage.iloc[i_bike] = 0

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

#### Time to mess with the Date.

In [281]:
date_list = list(manual_inputs_df.Date)
differences = []
indices =[]
for idx, d in enumerate(date_list):
    try:
        if math.isnan(d):
            continue
    except:
        if idx > 0:
            indices.append(idx)
            
            #diff = d-date_list[idx-1]
            # print(diff)
            # if diff is not 7:
            #     differences.append(diff)
            #     indices.append(idx)
print(indices)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 38, 44, 50, 56, 62, 68, 74, 80, 86, 98, 103, 109, 114, 119, 125, 130, 135, 140, 145, 146, 147, 152, 154, 159, 164, 169, 175, 180, 185, 191, 196, 201, 206, 211, 214, 219, 224, 225, 231, 237, 243, 249, 254, 260, 266, 270, 276, 278, 284, 285, 289, 296, 302, 307, 308, 314, 320, 326, 332, 339, 346, 352, 357, 363, 369, 375, 381, 387, 393, 398, 403, 409, 415, 421, 427, 433, 439, 445, 452, 458, 463, 469, 476, 481, 487, 494, 500, 506, 512, 517, 523, 530, 536, 538, 544, 550, 556, 562, 568, 572, 578, 584, 590, 596, 603, 609, 615, 621, 627, 633, 639, 646, 652, 658, 665, 671, 676, 682, 688, 694, 700, 706, 712, 718, 722, 726, 727, 733, 739, 745, 751, 758, 764, 770, 776, 781, 787, 793, 799, 805, 811, 818, 819, 825, 831, 837, 842, 848, 856, 863, 870, 877, 884, 891, 898, 905, 911, 912, 917, 923, 924, 930, 936, 937, 942, 948, 955, 956, 958, 963, 969, 970, 975, 981, 987, 994, 996, 1001, 1007, 1008, 1013, 1019, 1025, 1032, 1039, 1045, 1051, 1053, 1057, 1064, 1065, 1071, 1078, 1085, 1086, 1092, 1100, 1108, 1116, 1124, 1131, 1138, 1145, 1153, 1161, 1162, 1164, 1168, 1171, 1175, 1176, 1182, 1190, 1197, 1204, 1211, 1218, 1226, 1232, 1240, 1247, 1255, 1263, 1271, 1274, 1278, 1285, 1292, 1293, 1294, 1301, 1307, 1314, 1322, 1329, 1337, 1344, 1347, 1352, 1359, 1367, 1375, 1383, 1391, 1398, 1405, 1412, 1426, 1433, 1434, 1441, 1448, 1450, 1454, 1461, 1469, 1477, 1485, 1492, 1500, 1507, 1514, 1521, 1529, 1536, 1543, 1550, 1557, 1564, 1571, 1578, 1585, 1592, 1599, 1606, 1613, 1620, 1627, 1634, 1641, 1648, 1655, 1662, 1669, 1671, 1672]

In [282]:
manual_inputs_df.Date = pd.to_datetime(manual_inputs_df.Date, errors='coerce')

In [283]:
differences = []
for idx, da in enumerate(indices):
    diff = manual_inputs_df['Date'].iloc[da] - manual_inputs_df['Date'].iloc[indices[idx - 1]]
    day = diff.days
    if day is not 7:
        diff_list = [day, da, idx]
        differences.append(diff_list)
differences

[[-2019, 1, 0],
 [1, 2, 1],
 [1, 3, 2],
 [1, 4, 3],
 [1, 5, 4],
 [1, 6, 5],
 [2, 7, 6],
 [1, 8, 7],
 [1, 9, 8],
 [1, 10, 9],
 [1, 11, 10],
 [1, 12, 11],
 [2, 13, 12],
 [1, 14, 13],
 [1, 15, 14],
 [1, 16, 15],
 [1, 17, 16],
 [1, 18, 17],
 [2, 19, 18],
 [1, 20, 19],
 [1, 21, 20],
 [1, 22, 21],
 [1, 23, 22],
 [6, 24, 23],
 [3, 25, 24],
 [1, 26, 25],
 [1, 27, 26],
 [1, 28, 27],
 [1, 29, 28],
 [1, 30, 29],
 [1, 31, 30],
 [2, 32, 31],
 [14, 98, 41],
 [14, 114, 44],
 [8, 145, 50],
 [4, 146, 51],
 [2, 147, 52],
 [14, 201, 63],
 [15, 211, 65],
 [6, 214, 66],
 [6, 224, 68],
 [1, 225, 69],
 [13, 278, 79],
 [2, 285, 81],
 [5, 289, 82],
 [8, 296, 83],
 [6, 307, 85],
 [1, 308, 86],
 [14, 369, 96],
 [15, 512, 120],
 [6, 517, 121],
 [9, 568, 130],
 [5, 572, 131],
 [14, 665, 146],
 [8, 722, 156],
 [6, 727, 158],
 [27, 818, 173],
 [1, 819, 174],
 [6, 911, 188],
 [2, 912, 189],
 [6, 917, 190],
 [6, 923, 191],
 [2, 924, 192],
 [6, 930, 193],
 [6, 936, 194],
 [2, 937, 195],
 [6, 942, 196],
 [12, 956, 199],
 [3, 958, 200],
 [6, 963, 201],
 [6, 969, 202],
 [2, 970, 203],
 [6, 975, 204],
 [6, 987, 206],
 [8, 994, 207],
 [2, 996, 208],
 [5, 1001, 209],
 [6, 1007, 210],
 [2, 1008, 211],
 [6, 1013, 212],
 [6, 1025, 214],
 [8, 1032, 215],
 [6, 1051, 218],
 [3, 1053, 219],
 [5, 1057, 220],
 [14, 1065, 222],
 [6, 1085, 225],
 [2, 1086, 226],
 [6, 1092, 227],
 [1, 1162, 237],
 [3, 1164, 238],
 [3, 1168, 239],
 [4, 1171, 240],
 [3, 1175, 241],
 [2, 1176, 242],
 [5, 1182, 243],
 [4, 1274, 256],
 [4, 1278, 257],
 [6, 1292, 259],
 [3, 1293, 260],
 [4, 1294, 261],
 [6, 1314, 264],
 [8, 1322, 265],
 [3, 1347, 269],
 [4, 1352, 270],
 [8, 1405, 277],
 [6, 1412, 278],
 [14, 1426, 279],
 [41, 1434, 281],
 [8, 1448, 283],
 [3, 1450, 284],
 [4, 1454, 285],
 [6, 1461, 286],
 [8, 1477, 288],
 [4, 1671, 316],
 [6, 1672, 317]]

In [284]:
# my_date = manual_inputs_df.Date.iloc[674]
# calendar.day_name[my_date.weekday()] 
new_list = []
for dates in manual_inputs_df['Date']:
    dayofweek = dates.weekday()

    if math.isnan(dayofweek):
        new_list.append(np.nan)
    else:
        new_list.append(calendar.day_name[dayofweek])
manual_inputs_df['dayofweekcheck'] = new_list

In [285]:
wrong_day_of_week = []
for idx, dayof in enumerate(manual_inputs_df.dayofweekcheck):
    try:
        if math.isnan(dayof):
            continue
    except:
        if manual_inputs_df.Weekday.iloc[idx] != manual_inputs_df.dayofweekcheck.iloc[idx]:
            pos_correct = manual_inputs_df.Weekday.iloc[idx]
            day_list = [idx, dayof, pos_correct]
            wrong_day_of_week.append(day_list)
wrong_day_of_week

[]

In [286]:
# now I need to use fillna to fill in all of the NaT's, but I will need to go and check all of the differences above, that are listed below, 
# and look at the surrounding 20 to make sure that the dates are correct.

In [287]:
for idx, row in enumerate(manual_inputs_df.Date):
    if (pd.isnull(row)) and (bike_notes[idx] != True):
        prev = manual_inputs_df.Date.iloc[idx - 1]
        manual_inputs_df.Date.iloc[idx] = prev + timedelta(days = 1)
manual_inputs_df.Date

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

0      2010-05-29
1      2010-06-21
2      2010-06-22
3      2010-06-23
4      2010-06-24
          ...
1978   2015-12-20
1980   2015-12-21
1981   2015-12-22
1982   2015-12-25
1983   2015-12-31
Name: Date, Length: 1673, dtype: datetime64[ns]

In [288]:
diff_idx = 0

In [289]:
diff_idx = diff_idx + 1
diff_value = differences[diff_idx][1]
idx_lower = diff_value - 15

idx_upper = diff_value + 15
if (diff_value >= 15) and (diff_value <= 1702):
    a = manual_inputs_df.iloc[idx_lower:idx_upper]
    
elif diff_value <15:
    a = manual_inputs_df.iloc[:idx_upper]
    
else:
    a = manual_inputs_df.iloc[idx_lower:]

In [290]:
#fix the data issue above as well with having to import a new csv file.

In [291]:
pre_garmin_edited = manual_inputs_df.drop(['Notes2', 'Notes','Mileage_init', 'length','counter', 'Notes3','Date2','Mileage_init2',
                                           'Mileage_init3', 'Mileage_init4','Mileage_init5','numbers','dayofweekcheck','Notes_comb'], axis=1)
pre_garmin_edited.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1673 entries, 0 to 1983
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mileage          1673 non-null   float64
 1   Time             32 non-null     object
 2   Weekday          1617 non-null   object
 3   Date             1618 non-null   datetime64[ns]
 4   Workout_type     77 non-null     object
 5   Workout_mins     79 non-null     float64
 6   Swimming_meters  40 non-null     float64
 7   Bike_Mileage     176 non-null    float64
 8   raw_note         1673 non-null   object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 210.7+ KB

# Garmin Data Wrangling

# Future Garmin Data Web Scraping

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.4.5.1)

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [ ]:
import numpy as np
import pandas as pd
import requests
import bs4
import lxml.etree as xml

In [ ]:
URL = "https://connect.garmin.com/modern/activities"

requests.get(URL)

In [ ]:
requests.get(URL, {}).text

'<!DOCTYPE html><html><head><meta charSet="utf-8"/><meta http-equiv="x-ua-compatible" content="ie=edge"/><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/><style data-href="/styles.3bfbd3dd9436b814ee1a.css">body,html{height:auto;font:400 14px/22px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222;background-color:#efefef;margin:0}a,a:active,a:hover,a:visited{text-decoration:none;color:inherit}#truste-consent-track{display:block}#truste-consent-content{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;box-sizing:border-box}#truste-consent-text{margin:0 1rem 0 0}#truste-consent-buttons{display:flex;flex-direction:row;margin-top:1px!important;margin-left:10px!important}#truste-consent-button,#truste-show-consent{font-family:Open Sans,HelveticaNeue,HelveticaNeueu,Arial,sans-serif;font-size:14px;color:#fff;background-color:#4a4a4a;cursor:pointer;padding:5px 20px;margin:12px 0;border-radius:4px;border:none}#truste-show-consent{margin-left:1rem}#truste-consent-button:hover,#truste-show-consent:hover{background-color:#4a4a4a}#truste-cookie-button{color:#fff;margin:1rem;line-height:2}@media (max-width:1024px){#truste-consent-content{flex-direction:column;flex-wrap:nowrap}#truste-consent-text{margin:20px 20px 10px;text-align:center;width:unset!important}#truste-consent-buttons{display:block;text-align:center}#truste-consent-button,#truste-show-consent{padding-top:10px;padding-bottom:10px;width:100%;margin:5px 0}#truste-cookie-button{display:inline-block;margin:auto;padding:15px}#truste-show-consent{margin-left:0}}.truste_overlay{background:#fff!important;opacity:.8!important}.truste_box_overlay{background:none!important}.truste_box_overlay_inner{border:3px solid #e8e8e8}</style><meta name="generator" content="Gatsby 2.4.2"/><title data-react-helmet="true">Garmin Connect | </title><link data-react-helmet="true" rel="shortcut icon" href="https://static.garmincdn.com/favicon.ico"/><meta data-react-helmet="true" name="robots" content="index,follow"/><meta data-react-helmet="true" name="revisit-after" content="15 days"/><meta data-react-helmet="true" name="author" content="Garmin International"/><meta data-react-helmet="true" property="fb:app_id" content="169380733077633"/><meta data-react-helmet="true" property="og:type" content="website"/><meta data-react-helmet="true" property="og:site_name" content="Garmin Connect"/><meta data-react-helmet="true" name="twitter:card" content="summary"/><meta data-react-helmet="true" name="twitter:site" content="@GarminFitness"/><meta data-react-helmet="true" name="description" content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device."/><meta data-react-helmet="true" property="og:title" content="Garmin Connect | Sign In"/><meta data-react-helmet="true" property="og:url" content="https://connect.garmin.com/signin"/><meta data-react-helmet="true" property="og:description" content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device."/><meta data-react-helmet="true" property="og:image" content="http://static.garmincdn.com/com.garmin.connect/content/images/garmin-connect-fb3.gif"/><meta data-react-helmet="true" name="twitter:title" content="Garmin Connect | Sign In"/><script data-react-helmet="true" src="https://tags.tiqcdn.com/utag/garmin/main/prod/utag.js"></script><style type="text/css" id="server-side-jss">.c017 {\n  height: 60px;\n  display: flex;\n  padding: 0 15% 0 15%;\n  background: #1a1a1a;\n  justify-content: space-between;\n}\n.c018 {\n  top: 3px;\n  width: 150px;\n  height: 28px;\n  display: block;\n  position: relative;\n  background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;\n  background-size: 236px 271px;\n}\n.c019 {\n  float: right;\n  margin: 0;\n  list-style: none;\n}\n.c0110 {\n  display: inline-block;\n  margin-right: 25px;\n}\n.c0110 a {\n  color: #fff;\n  font-size: 1em;\n  font-weight: 300;\n}\n.c0112 {\n  width: 0;\n  height: 0;\n  display: inline-block;\n  border-top: 4px solid #fff;\n  border-left: 4px solid transparent;\n  margin-left: 5px;\n  border-right: 4px solid transparent;\n}\n.c0113 {\n  width: 0;\n  height: 0;\n  display: inline-block;\n  border-left: 4px solid transparent;\n  margin-left: 5px;\n  border-right: 4px solid transparent;\n  border-bottom: 4px solid #fff;\n}\n.c0114 {\n  display: none;\n}\n.c0115 {\n  margin: 0;\n  padding: 0;\n}\n.c0116 {\n  font-size: inherit;\n  font-weight: inherit;\n  margin-block-end: 0em;\n  margin-block-start: 0em;\n}\n.c0117 {\n  margin-top: 12px;\n}\n.c0118 {\n  margin-top: 12px;\n}\n@media only screen and (max-width: 767px) {\n  .c018 {\n    top: -3px;\n  }\n  .c0120 {\n    height: 100%;\n  }\n  .c0121 {\n    height: 100vh;\n  }\n  .c017 {\n    margin: 0;\n    display: flex;\n    padding: 0;\n    flex-flow: wrap;\n    justify-content: space-between;\n  }\n  .c0117 {\n    display: none;\n  }\n  .c0114 {\n    width: 20px;\n    margin: 23px 25px;\n    height: 14px;\n    display: inline-flex;\n    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMjAgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLW1lbnU8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iaWNvbi1tZW51IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNMCwwIEwyMCwwIEwyMCwyIEwwLDIgTDAsMCBaIE0wLDYgTDIwLDYgTDIwLDggTDAsOCBMMCw2IFogTTAsMTIgTDIwLDEyIEwyMCwxNCBMMCwxNCBMMCwxMiBaIiBpZD0iQ29tYmluZWQtU2hhcGUiIGZpbGw9IiNGRkZGRkYiPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat;\n  }\n  .c0122 {\n    margin: 0;\n    display: block;\n    padding: 0;\n    flex-flow: wrap;\n    background: #121212;\n    justify-content: space-between;\n  }\n  .c0122 .c018 {\n    background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;\n    background-size: 236px 271px;\n  }\n  .c0122 .c0117 {\n    margin: 5px 0 10px 0;\n    display: flex;\n    flex-basis: 100%;\n  }\n  .c0122 .c0115 {\n    width: 100%;\n    margin: 0;\n    padding: 0;\n    display: grid;\n  }\n  .c0122 .c0110 {\n    color: #fff;\n    margin: 0;\n    padding: 10px 25px;\n    border-top: 1px solid #4d4d4d;\n  }\n  .c0122 .c0112 {\n    float: right;\n    margin-top: 10px;\n    border-top: 4px solid #fff;\n  }\n  .c0122 .c0113 {\n    float: right;\n    margin-top: 10px;\n    border-bottom: 4px solid #fff;\n  }\n  .c0122 .c0119 {\n    width: 80%;\n    margin-top: 20px;\n    border-top: 0px;\n    text-align: center;\n    justify-self: center;\n    margin-right: 0;\n  }\n  .c0122 .c0114 {\n    width: 20px;\n    right: 0;\n    height: 18px;\n    display: inline-block;\n    position: absolute;\n    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLWNsb3NlPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9Imljb24tY2xvc2UiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik02LjU0NTQ1NDU1LDggTC0xLjU5NzM4ODg5ZS0xMiwxLjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LC0xLjY0NDI0MDNlLTEyIEw4LDYuNTQ1NDU0NTUgTDE0LjU0NTQ1NDUsMS42NTIwMTE4NmUtMTIgTDE2LDEuNDU0NTQ1NDUgTDkuNDU0NTQ1NDUsOCBMMTYsMTQuNTQ1NDU0NSBMMTQuNTQ1NDU0NSwxNiBMOCw5LjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LDE2IEwtMS42MDI0OTU5MWUtMTIsMTQuNTQ1NDU0NSBMNi41NDU0NTQ1NSw4IFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0iI0ZGRkZGRiI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=) no-repeat ;\n  }\n  .c0122 .c0111 {\n    margin: 0;\n    padding: 0;\n  }\n  .c0122 .c0111 div {\n    padding: 10px 25px;\n  }\n  .c0122 .c0111 ul {\n    max-height: initial;\n  }\n  .c0122 .c0111 li {\n    color: #000;\n    padding: 10px 25px;\n  }\n  .c0122 .c0110:nth-last-child(2) {\n    border-bottom: 1px solid #4d4d4d;\n  }\n  .c0122 .c0110 a {\n    color: #fff;\n  }\n  .c0118 {\n    display: inline-flex;\n    padding: 10px 25px;\n    flex-basis: 50%;\n  }\n}\n.c0136 {\n  display: inline;\n}\n.c0136 a {\n  white-space: nowrap;\n}\n.c0137 {\n  left: 0;\n  width: 100%;\n  color: #fff;\n  bottom: 0;\n  margin: 0 auto;\n  z-index: 110;\n  position: fixed;\n  font-size: 14px;\n  font-family: \'Open Sans\',\'HelveticaNeue\',\'HelveticaNeueu\',Arial,sans-serif;\n  background-color: #333;\n}\n.c0123 {\n  left: 0;\n  width: 100%;\n  bottom: 0;\n  display: flex;\n  padding: 60px 0;\n  text-align: center;\n  flex-direction: column;\n  justify-content: center;\n  background-color: #EFEFEF;\n}\n.c0124 {\n  font-size: 1.3rem;\n  font-weight: 200;\n  padding-bottom: 30px;\n}\n.c0124 a {\n  padding: 10px;\n  border-color: #555555;\n  border-style: solid;\n  border-width: 1px;\n  border-radius: 3px;\n}\n.c0124 a:visited, .c0124 a:hover, .c0124 a:active {\n  color: #555555;\n}\n.c0125 {\n  flex: 1;\n  color: #6c6c6c;\n  box-sizing: border-box;\n  text-align: left;\n  font-weight: 300;\n  padding-left: 20px;\n}\n.c0126 {\n  flex: 1;\n  padding: 0;\n  box-sizing: border-box;\n  text-align: right;\n}\n.c0127 {\n  color: #6c6c6c;\n  display: inline-block;\n  font-weight: 400;\n}\n.c0127 a:visited, .c0127 a:hover, .c0127 a:active {\n  color: #6c6c6c;\n  text-decoration: none;\n}\n.c0127:not(:first-of-type):before {\n  width: 5px;\n  height: 5px;\n  margin: 0 10px 3px 10px;\n  content: "";\n  display: inline-block;\n  border-radius: 50%;\n  background-color: #6c6c6c;\n}\n.c0128 {\n  display: flex;\n  align-items: center;\n  justify-content: center;\n}\n.c0129 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0130 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0131 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0132 a {\n  width: 24px;\n  height: 24px;\n  display: inline-block;\n}\n@media screen and (max-width:767px) {\n  .c0128 {\n    padding: 0 5px 0 5px;\n    flex-wrap: wrap;\n  }\n  .c0126 {\n    flex-basis: 100%;\n    text-align: center;\n  }\n  .c0125 {\n    text-align: center;\n    padding-left: 0;\n  }\n}\n.c0133 {\n  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtaW5zdGFncmFtLWljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0ic29jaWFsLWluc3RhZ3JhbS1pY29uIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iaW5zdGFncmFtIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDIzLjQyMTE3NjUgMCAyMy40MjExNzY1IDIzLjQyMTE3NjUgMCAyMy40MjExNzY1Ij48L3BvbHlnb24+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNS45MDk2MzU0LDAgQzE4Ljc3ODM2MTEsMC4wMDUwNjQ2NjQ5MiAxOC44ODk3NTM5LDAuMDI4OTQwOTQyNCAxOS40NTAzMzQ0LDAuMTA5OTc1NTgxIEMyMC42MDY5Mzg3LDAuMjc3MTA5NTIzIDIxLjU3ODM3MDUsMC43Mzg3MTc1NTQgMjIuMzcxODYzMiwxLjQ5Njk3MDI1IEMyMi43OTgwNTU5LDEuODk4OTcyOTUgMjMuMTQ2MjgyOCwyLjM3NjMxODgxIDIzLjM5ODk5MTQsMi45MDQ5NDcwOSBDMjMuNzM1MzM5OCwzLjU4OTQwMDM4IDIzLjkwMDk4MjMsNC4yMzc2Nzc0OSAyMy45NzYyMDg2LDUuMjAxNDEwODcgQzIzLjk5Mjg0NTEsNS40MDgzMzg2MSAyNC4wMDAwNzg0LDguNjk4OTIzNzYgMjQuMDAwMDc4NCwxMS45OTI0MDMgQzI0LjAwMDA3ODQsMTUuMjg0NDM1MiAyMy45OTM1Njg1LDE4LjU4MTUzMjEgMjMuOTc2OTMxOSwxOC43ODg0NTk4IEMyMy45MDI0Mjg5LDE5LjczNjk5OTIgMjMuNzM2Nzg2NCwyMC4zOTAzNDEgMjMuNDExMjg4LDIxLjA2MjQ5NDMgQzIyLjc2NzQ2NTEsMjIuMzk1OTA0MSAyMS41Njg1OTA1LDIzLjM3NzQ5NzUgMjAuMTM0NjA0NCwyMy43NDUzMTk3IEMxOS42MTM4MDcsMjMuODc5ODk1MSAxOS4xNDIxOTYsMjMuOTQzNTY1MiAxOC4zMjk4OTY3LDIzLjk4MTE4ODQgQzE4LjAzOTg0MTUsMjMuOTk2MzgyNCAxNS4wMDkwODk5LDI0IDExLjk3ODMzODQsMjQgQzguOTQ3NTg2NzksMjQgNS45MTgyODE4OSwyMy45OTA1OTQyIDUuNjIwOTkzMzgsMjMuOTc3NTcwOCBDNC45MjAwODY4NywyMy45NDQyODg3IDQuMzczMjQ5NiwyMy44NzQxMDY5IDMuODc5MjE1MzksMjMuNzQ2NzY2OCBDMi40NDgxNzAzNiwyMy4zNzY2NDgyIDEuMjUwODM3MjcsMjIuMzk4NDMyIDAuNjAyNTMxNzI1LDIxLjA2OTcyOTYgQzAuMjcwNTIzMzgsMjAuMzgwOTM1MiAwLjExMzU2MDgyOSwxOS43NTE0Njk3IDAuMDMwMzc3OTEsMTguNzUwODM2NiBDMC4wMDY1MDgwMjg5NSwxOC40NjY0OTE4IDAuMDAwNzIxMzkxMTMxLDE3LjAwMjgwMzcgMC4wMDA3MjEzOTExMzEsMTEuOTk1Mjk3MSBDMC4wMDA3MjEzOTExMzEsMTAuMzA4MDQwMiAtMC4wMDA3MjUyNjgzMjUsOS4wNTA1NTYyMSAwLjAwMDcyMTM5MTEzMSw4LjA5NDc4MTU5IEMwLjAwNTc4NDY5OTIzLDUuMjI4MTgxMjQgMC4wMjg5MzEyNTA1LDUuMTEzODY0NTIgMC4xMTA2Njc1MSw0LjU1MjQxMDI0IEMwLjI3Nzc1NjY3NywzLjM5NjIxOTU5IDAuNzM5MjQxMDQzLDIuNDIzODAzOTMgMS41MDAxODM5MiwxLjYzMjk5MjY3IEMxLjg5NTY4MjgxLDEuMjE2NTg0MjcgMi4zNjI2MjgwNSwwLjg3NDQ5MDc1MiAyLjg3ODg1MDM4LDAuNjIyOTUzNzg1IEMzLjU3NjE0MDI0LDAuMjc2Mzg2IDQuMjE1NTYzNzIsMC4xMTQzMTY3MjIgNS4yNDQxMzg1OSwwLjAyODk0MDk0MjQgQzUuNTI5MTMwNSwwLjAwNTA2NDY2NDkyIDYuOTkzODczMiwwIDEyLjAwMzY1NDksMCBMMTUuOTA5NjM1NCwwIFogTTExLjk5NzE0NDksMy4xMzg2NDUyIEwxMS45OTg1OTE2LDMuMTM4NjQ1MiBMMTEuOTk1Njk4MywzLjEzODY0NTIgTDExLjk5NzE0NDksMy4xMzg2NDUyIEM5LjU5MjA3MzU4LDMuMTM4NjQ1MiA5LjI4OTcyMTc2LDMuMTQ5NDk4MDYgOC4zNDUwNTMxMywzLjE5MjE4NTk1IEM3LjQwMTgzMTE3LDMuMjM1NTk3MzYgNi43NTgwNjc3MSwzLjM4NDY0MzIxIDYuMTk0NTkzODUsMy42MDM4NzA4NSBDNS42MDMzMzQwMSwzLjgyNjUxNjUxIDUuMDY3Njk0MDIsNC4xNzUzOTMwNiA0LjYyNDk2ODM0LDQuNjI2MjA5NjQgQzQuMTc0MzYwMTksNS4wNjg4NDQzOCAzLjgyNTU4MjQ2LDUuNjA0MzcyNzcgMy42MDI5MDM0NCw2LjE5NTUzMjI0IEMzLjM4MzAxMTIsNi43NTkxNTcxIDMuMjMzMjgxOTQsNy40MDM4MTY1OSAzLjE5MTMyODgyLDguMzQ2NTY3NzkgQzMuMTQ4NjUyMzcsOS4yOTIyMTMwOCAzLjEzNzgwMjQyLDkuNTkzOTIyNCAzLjEzNzgwMjQyLDEyLjAwMTA4NTMgQzMuMTM3ODAyNDIsMTQuNDA3NTI0NiAzLjE0ODY1MjM3LDE0LjcwOTIzNCAzLjE5MTMyODgyLDE1LjY1NDE1NTcgQzMuMjM0NzI4NiwxNi41OTc2MzA1IDMuMzgzNzM0NTMsMTcuMjQxNTY2NCAzLjYwMjkwMzQ0LDE3LjgwNTE5MTMgQzMuODI1MzAxODMsMTguMzk2NzA0NSA0LjE3NDEwOTgsMTguOTMyNTI2MyA0LjYyNDk2ODM0LDE5LjM3NTIzNzQgQzUuMDY3MjY1MTcsMTkuODI2NDA4MyA1LjYwMjY5NzksMjAuMTc1NTU3NSA2LjE5Mzg3MDUyLDIwLjM5ODI5OTcgQzYuNzU3MzQ0MzgsMjAuNjE2ODAzOCA3LjQwMTEwNzg0LDIwLjc2NjU3MzIgOC4zNDQzMjk4LDIwLjgwOTk4NDYgQzkuMjg5NzIxNzYsMjAuODUyNjcyNSA5LjU5MTM1MDI1LDIwLjg2MzUyNTQgMTEuOTk3MTQ0OSwyMC44NjM1MjU0IEMxNC40MDM2NjI5LDIwLjg2MzUyNTQgMTQuNzA0NTY4MSwyMC44NTI2NzI1IDE1LjY0OTk2MDEsMjAuODA5OTg0NiBDMTYuNTkzMTgyLDIwLjc2NjU3MzIgMTcuMjM3NjY4OCwyMC42MTY4MDM4IDE3LjgwMTE0MjcsMjAuMzk4Mjk5NyBDMTguMzkyMTczMSwyMC4xNzU2OTQzIDE4LjkyNzM5NzYsMTkuODI2NTE5OSAxOS4zNjkzMjE1LDE5LjM3NTIzNzQgQzE5LjgyMDM4NjksMTguOTMyNTUzMiAyMC4xNjk0MzY5LDE4LjM5NjczODkgMjAuMzkyMTA5NywxNy44MDUxOTEzIEMyMC42MDk4MzIsMTcuMjQxNTY2NCAyMC43NTk1NjEzLDE2LjU5NzYzMDUgMjAuODAzNjg0NCwxNS42NTQxNTU3IEMyMC44NDYzNjA4LDE0LjcwOTIzNCAyMC44NTcyMTA4LDE0LjQwNzUyNDYgMjAuODU3MjEwOCwxMi4wMDEwODUzIEMyMC44NTcyMTA4LDkuNTkzOTIyNCAyMC44NDYzNjA4LDkuMjkyMjEzMDggMjAuODAzNjg0NCw4LjM0NjU2Nzc5IEMyMC43NTk1NjEzLDcuNDAzMDkzMDYgMjAuNjA5ODMyLDYuNzU5MTU3MSAyMC4zOTIxMDk3LDYuMTk1NTMyMjQgQzIwLjE2OTQyNzIsNS42MDQyMDEyIDE5LjgyMDM3MTUsNS4wNjg2MjQ5OSAxOS4zNjkzMjE1LDQuNjI2MjA5NjQgQzE4LjkyNzMxMDYsNC4xNzQ4NjM3NCAxOC4zOTE3ODA1LDMuODI1ODk3OTcgMTcuODAwNDE5MywzLjYwMzg3MDg1IEMxNy4yMzYyMjIxLDMuMzg0NjQzMjEgMTYuNTkxNzM1NCwzLjIzNTU5NzM2IDE1LjY0ODUxMzQsMy4xOTIxODU5NSBDMTQuNzAzODQ0OCwzLjE0OTQ5ODA2IDE0LjQwMjkzOTYsMy4xMzg2NDUyIDExLjk5NzE0NDksMy4xMzg2NDUyIFogTTExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS45OTg1OTE2LDQuNzM1NDYxNyBDMTQuMzYzODc5OCw0LjczNTQ2MTcgMTQuNjQ0NTMxNyw0Ljc0NDE0Mzk4IDE1LjU3ODM1MDQsNC43ODY4MzE4NyBDMTYuNDQyNzI5NCw0LjgyNTkwMjE0IDE2LjkxMTQ0NzEsNC45NzA2MDY4NiAxNy4yMjMyMDIyLDUuMDkyMTU4ODEgQzE3LjYzNjk0NjgsNS4yNTI3ODEwNCAxNy45MzIwNjUzLDUuNDQ0NTE0NzkgMTguMjQxNjUwNSw1Ljc1NDkwNjM5IEMxOC41NTE5NTg5LDYuMDY0NTc0NDggMTguNzQzNjQxMyw2LjM2MDQ5NTYxIDE4LjkwNDk0MzgsNi43NzM2Mjc1NyBDMTkuMDI1NzM5OSw3LjA4NjE4OTc0IDE5LjE3MDQwNTgsNy41NTUwMzMwMSAxOS4yMDk0NjU2LDguNDE4OTIwMTQgQzE5LjI1MjE0MjEsOS4zNTI5ODkwNiAxOS4yNjE1NDU0LDkuNjMzNzE2MiAxOS4yNjE1NDU0LDExLjk5ODkxNDcgQzE5LjI2MTU0NTQsMTQuMzY0MTEzMiAxOS4yNTIxNDIxLDE0LjY0NDg0MDQgMTkuMjA5NDY1NiwxNS41Nzg5MDkzIEMxOS4xNzA0MDU4LDE2LjQ0Mjc5NjQgMTkuMDI1NzM5OSwxNi45MTE2Mzk3IDE4LjkwNDk0MzgsMTcuMjI0MjAxOSBDMTguNzYyNjcxMSwxNy42MDg4NDc5IDE4LjUzNjAxOCwxNy45NTY3MDY1IDE4LjI0MTY1MDUsMTguMjQyMTk5NSBDMTcuOTU2MDQ2NSwxOC41MzY1ODkxIDE3LjYwODAwMzEsMTguNzYzMDc1NyAxNy4yMjMyMDIyLDE4LjkwNDk0NzEgQzE2LjkxMTQ0NzEsMTkuMDI2NDk5MSAxNi40NDI3Mjk0LDE5LjE3MDQ4MDIgMTUuNTc4MzUwNCwxOS4yMTAyNzQgQzE0LjY0NDUzMTcsMTkuMjUyOTYxOSAxNC4zNjM4Nzk4LDE5LjI2MTY0NDIgMTEuOTk4NTkxNiwxOS4yNjE2NDQyIEM5LjYzMjU4MDA1LDE5LjI2MTY0NDIgOS4zNTE5MjgxMSwxOS4yNTI5NjE5IDguNDE4MTA5NDMsMTkuMjEwMjc0IEM3LjU1NDQ1Mzc0LDE5LjE3MDQ4MDIgNy4wODU3MzYwOCwxOS4wMjU3NzU1IDYuNzczMjU3NjMsMTguOTA0OTQ3MSBDNi4zODgzNzQ4LDE4Ljc2MjgxODQgNi4wNDAxNDkzMywxOC41MzYzNzQxIDUuNzU0MDg2MDUsMTguMjQyMTk5NSBDNS40NTk3NzUzLDE3Ljk1NjUxOSA1LjIzMzM0OTM4LDE3LjYwODM4MjQgNS4wOTE1MTYwMiwxNy4yMjM0NzgzIEM0Ljk2OTk5NjYyLDE2LjkxMDkxNjIgNC44MjUzMzA2OCwxNi40NDIwNzI5IDQuNzg2MjcwODcsMTUuNTc4MTg1OCBDNC43NDM1OTQ0MiwxNC42NDQxMTY4IDQuNzM0OTE0NDYsMTQuMzYzMzg5NyA0LjczNDkxNDQ2LDExLjk5Njc0NDEgQzQuNzM0OTE0NDYsOS42MzAwOTg1OCA0Ljc0MzU5NDQyLDkuMzUwODE4NDkgNC43ODYyNzA4Nyw4LjQxNjc0OTU3IEM0LjgyNTMzMDY4LDcuNTUyODYyNDQgNC45Njk5OTY2Miw3LjA4NDAxOTE3IDUuMDkxNTE2MDIsNi43NzE0NTcgQzUuMjMzMzE5ODIsNi4zODYzMjcxNCA1LjQ1OTc0MjM5LDYuMDM3OTQ4NDQgNS43NTQwODYwNSw1Ljc1MjAxMjMgQzYuMDQwMTQ5MzMsNS40NTc4Mzc3IDYuMzg4Mzc0OCw1LjIzMTM5MzQxIDYuNzczMjU3NjMsNS4wODkyNjQ3MiBDNy4wODU3MzYwOCw0Ljk2Njk4OTI0IDcuNTU0NDUzNzQsNC44MjMwMDgwNSA4LjQxODEwOTQzLDQuNzgzMjE0MjUgQzkuMjM1NDcyMDMsNC43NDYzMTQ1NSA5LjU1MjI5MDQ1LDQuNzM1NDYxNyAxMS4yMDM2NTIyLDQuNzMzMjkxMTMgTDExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS4yMDM2NTIyLDQuNzM1NDYxNyBaIE0xMS45OTg1OTE2LDcuNDUwMTIyMDkgTDExLjk5Nzg2ODMsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IEM5LjQ4NTgzNzM3LDcuNDUwMTIyMDkgNy40NDg4NDc2LDkuNDg3NjU3NzIgNy40NDg4NDc2LDEyLjAwMTA4NTMgQzcuNDQ4ODQ3NiwxNC41MTQ1MTI5IDkuNDg1ODM3MzcsMTYuNTUyMDQ4NSAxMS45OTg1OTE2LDE2LjU1MjA0ODUgQzE0LjUxMTM0NTgsMTYuNTUyMDQ4NSAxNi41NDgzMzU2LDE0LjUxNDUxMjkgMTYuNTQ4MzM1NiwxMi4wMDEwODUzIEMxNi41NDgzMzU2LDkuNDg3NjU3NzIgMTQuNTExMzQ1OCw3LjQ1MDEyMjA5IDExLjk5ODU5MTYsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IFogTTExLjk5ODU5MTYsOS4wNDY5Mzg1OSBDMTMuMDUzNzIzOCw5LjA0NjkzODU3IDE0LjAyODcwNjIsOS42MDk5OTU3NCAxNC41NTYyNzIzLDEwLjUyNDAxMTkgQzE1LjA4MzgzODUsMTEuNDM4MDI4MSAxNS4wODM4Mzg1LDEyLjU2NDE0MjUgMTQuNTU2MjcyMywxMy40NzgxNTg3IEMxNC4wMjg3MDYyLDE0LjM5MjE3NDggMTMuMDUzNzIzOCwxNC45NTUyMzIgMTEuOTk4NTkxNiwxNC45NTUyMzIgQzEwLjM2NzQ5ODUsMTQuOTU1MjMxOSA5LjA0NTIzNjM3LDEzLjYzMjYxNTQgOS4wNDUyMzYzNywxMi4wMDEwODUzIEM5LjA0NTIzNjM3LDEwLjM2OTU1NTEgMTAuMzY3NDk4NSw5LjA0NjkzODYzIDExLjk5ODU5MTYsOS4wNDY5Mzg1OSBaIE0xNi43Mjc3MjEzLDYuMjA3MTA4NjIgQzE2LjM0Nzg0MjcsNi4yMDcxMDg2MSAxNS45OTY4MjA0LDYuNDA5ODI1NzQgMTUuODA2ODgxMSw2LjczODg5ODQzIEMxNS42MTY5NDE4LDcuMDY3OTcxMTEgMTUuNjE2OTQxOCw3LjQ3MzQwNTM5IDE1LjgwNjg4MTEsNy44MDI0NzgwOCBDMTUuOTk2ODIwNCw4LjEzMTU1MDc3IDE2LjM0Nzg0MjcsOC4zMzQyNjc5IDE2LjcyNzcyMTMsOC4zMzQyNjc4OCBDMTcuMzE0OTYyOCw4LjMzNDI2Nzg3IDE3Ljc5MTAxNiw3Ljg1ODA4NzA1IDE3Ljc5MTAxNiw3LjI3MDY4ODI1IEMxNy43OTEwMTYsNi42ODMyODk0NSAxNy4zMTQ5NjI4LDYuMjA3MTA4NjQgMTYuNzI3NzIxMyw2LjIwNzEwODYyIFoiIGlkPSJTaGFwZSIgZmlsbD0iI0NGQ0ZDRiIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);\n}\n.c0134 {\n  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtZmFjZWJvb2staWNvbjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJzb2NpYWwtZmFjZWJvb2staWNvbiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkd

In [ ]:
web_page = bs4.BeautifulSoup(requests.get(URL, {}).text, "lxml")

In [ ]:
web_page

<!DOCTYPE html>
<html><head><meta charset="utf-8"/><meta content="ie=edge" http-equiv="x-ua-compatible"/><meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/><style data-href="/styles.3bfbd3dd9436b814ee1a.css">body,html{height:auto;font:400 14px/22px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222;background-color:#efefef;margin:0}a,a:active,a:hover,a:visited{text-decoration:none;color:inherit}#truste-consent-track{display:block}#truste-consent-content{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;box-sizing:border-box}#truste-consent-text{margin:0 1rem 0 0}#truste-consent-buttons{display:flex;flex-direction:row;margin-top:1px!important;margin-left:10px!important}#truste-consent-button,#truste-show-consent{font-family:Open Sans,HelveticaNeue,HelveticaNeueu,Arial,sans-serif;font-size:14px;color:#fff;background-color:#4a4a4a;cursor:pointer;padding:5px 20px;margin:12px 0;border-radius:4px;border:none}#truste-show-consent{margin-left:1rem}#truste-consent-button:hover,#truste-show-consent:hover{background-color:#4a4a4a}#truste-cookie-button{color:#fff;margin:1rem;line-height:2}@media (max-width:1024px){#truste-consent-content{flex-direction:column;flex-wrap:nowrap}#truste-consent-text{margin:20px 20px 10px;text-align:center;width:unset!important}#truste-consent-buttons{display:block;text-align:center}#truste-consent-button,#truste-show-consent{padding-top:10px;padding-bottom:10px;width:100%;margin:5px 0}#truste-cookie-button{display:inline-block;margin:auto;padding:15px}#truste-show-consent{margin-left:0}}.truste_overlay{background:#fff!important;opacity:.8!important}.truste_box_overlay{background:none!important}.truste_box_overlay_inner{border:3px solid #e8e8e8}</style><meta content="Gatsby 2.4.2" name="generator"/><title data-react-helmet="true">Garmin Connect | </title><link data-react-helmet="true" href="https://static.garmincdn.com/favicon.ico" rel="shortcut icon"/><meta content="index,follow" data-react-helmet="true" name="robots"/><meta content="15 days" data-react-helmet="true" name="revisit-after"/><meta content="Garmin International" data-react-helmet="true" name="author"/><meta content="169380733077633" data-react-helmet="true" property="fb:app_id"/><meta content="website" data-react-helmet="true" property="og:type"/><meta content="Garmin Connect" data-react-helmet="true" property="og:site_name"/><meta content="summary" data-react-helmet="true" name="twitter:card"/><meta content="@GarminFitness" data-react-helmet="true" name="twitter:site"/><meta content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device." data-react-helmet="true" name="description"/><meta content="Garmin Connect | Sign In" data-react-helmet="true" property="og:title"/><meta content="https://connect.garmin.com/signin" data-react-helmet="true" property="og:url"/><meta content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device." data-react-helmet="true" property="og:description"/><meta content="http://static.garmincdn.com/com.garmin.connect/content/images/garmin-connect-fb3.gif" data-react-helmet="true" property="og:image"/><meta content="Garmin Connect | Sign In" data-react-helmet="true" name="twitter:title"/><script data-react-helmet="true" src="https://tags.tiqcdn.com/utag/garmin/main/prod/utag.js"></script><style id="server-side-jss" type="text/css">.c017 {
  height: 60px;
  display: flex;
  padding: 0 15% 0 15%;
  background: #1a1a1a;
  justify-content: space-between;
}
.c018 {
  top: 3px;
  width: 150px;
  height: 28px;
  display: block;
  position: relative;
  background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;
  background-size: 236px 271px;
}
.c019 {
  float: right;
  margin: 0;
  list-style: none;
}
.c0110 {
  display: inline-block;
  margin-right: 25px;
}
.c0110 a {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
.c0112 {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  margin-left: 5px;
  border-right: 4px solid transparent;
}
.c0113 {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 4px solid transparent;
  margin-left: 5px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}
.c0114 {
  display: none;
}
.c0115 {
  margin: 0;
  padding: 0;
}
.c0116 {
  font-size: inherit;
  font-weight: inherit;
  margin-block-end: 0em;
  margin-block-start: 0em;
}
.c0117 {
  margin-top: 12px;
}
.c0118 {
  margin-top: 12px;
}
@media only screen and (max-width: 767px) {
  .c018 {
    top: -3px;
  }
  .c0120 {
    height: 100%;
  }
  .c0121 {
    height: 100vh;
  }
  .c017 {
    margin: 0;
    display: flex;
    padding: 0;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .c0117 {
    display: none;
  }
  .c0114 {
    width: 20px;
    margin: 23px 25px;
    height: 14px;
    display: inline-flex;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMjAgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLW1lbnU8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iaWNvbi1tZW51IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNMCwwIEwyMCwwIEwyMCwyIEwwLDIgTDAsMCBaIE0wLDYgTDIwLDYgTDIwLDggTDAsOCBMMCw2IFogTTAsMTIgTDIwLDEyIEwyMCwxNCBMMCwxNCBMMCwxMiBaIiBpZD0iQ29tYmluZWQtU2hhcGUiIGZpbGw9IiNGRkZGRkYiPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat;
  }
  .c0122 {
    margin: 0;
    display: block;
    padding: 0;
    flex-flow: wrap;
    background: #121212;
    justify-content: space-between;
  }
  .c0122 .c018 {
    background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;
    background-size: 236px 271px;
  }
  .c0122 .c0117 {
    margin: 5px 0 10px 0;
    display: flex;
    flex-basis: 100%;
  }
  .c0122 .c0115 {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
  }
  .c0122 .c0110 {
    color: #fff;
    margin: 0;
    padding: 10px 25px;
    border-top: 1px solid #4d4d4d;
  }
  .c0122 .c0112 {
    float: right;
    margin-top: 10px;
    border-top: 4px solid #fff;
  }
  .c0122 .c0113 {
    float: right;
    margin-top: 10px;
    border-bottom: 4px solid #fff;
  }
  .c0122 .c0119 {
    width: 80%;
    margin-top: 20px;
    border-top: 0px;
    text-align: center;
    justify-self: center;
    margin-right: 0;
  }
  .c0122 .c0114 {
    width: 20px;
    right: 0;
    height: 18px;
    display: inline-block;
    position: absolute;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLWNsb3NlPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9Imljb24tY2xvc2UiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik02LjU0NTQ1NDU1LDggTC0xLjU5NzM4ODg5ZS0xMiwxLjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LC0xLjY0NDI0MDNlLTEyIEw4LDYuNTQ1NDU0NTUgTDE0LjU0NTQ1NDUsMS42NTIwMTE4NmUtMTIgTDE2LDEuNDU0NTQ1NDUgTDkuNDU0NTQ1NDUsOCBMMTYsMTQuNTQ1NDU0NSBMMTQuNTQ1NDU0NSwxNiBMOCw5LjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LDE2IEwtMS42MDI0OTU5MWUtMTIsMTQuNTQ1NDU0NSBMNi41NDU0NTQ1NSw4IFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0iI0ZGRkZGRiI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=) no-repeat ;
  }
  .c0122 .c0111 {
    margin: 0;
    padding: 0;
  }
  .c0122 .c0111 div {
    padding: 10px 25px;
  }
  .c0122 .c0111 ul {
    max-height: initial;
  }
  .c0122 .c0111 li {
    color: #000;
    padding: 10px 25px;
  }
  .c0122 .c0110:nth-last-child(2) {
    border-bottom: 1px solid #4d4d4d;
  }
  .c0122 .c0110 a {
    color: #fff;
  }
  .c0118 {
    display: inline-flex;
    padding: 10px 25px;
    flex-basis: 50%;
  }
}
.c0136 {
  display: inline;
}
.c0136 a {
  white-space: nowrap;
}
.c0137 {
  left: 0;
  width: 100%;
  color: #fff;
  bottom: 0;
  margin: 0 auto;
  z-index: 110;
  position: fixed;
  font-size: 14px;
  font-family: 'Open Sans','HelveticaNeue','HelveticaNeueu',Arial,sans-serif;
  background-color: #333;
}
.c0123 {
  left: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 60px 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #EFEFEF;
}
.c0124 {
  font-size: 1.3rem;
  font-weight: 200;
  padding-bottom: 30px;
}
.c0124 a {
  padding: 10px;
  border-color: #555555;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.c0124 a:visited, .c0124 a:hover, .c0124 a:active {
  color: #555555;
}
.c0125 {
  flex: 1;
  color: #6c6c6c;
  box-sizing: border-box;
  text-align: left;
  font-weight: 300;
  padding-left: 20px;
}
.c0126 {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}
.c0127 {
  color: #6c6c6c;
  display: inline-block;
  font-weight: 400;
}
.c0127 a:visited, .c0127 a:hover, .c0127 a:active {
  color: #6c6c6c;
  text-decoration: none;
}
.c0127:not(:first-of-type):before {
  width: 5px;
  height: 5px;
  margin: 0 10px 3px 10px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  background-color: #6c6c6c;
}
.c0128 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c0129 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0130 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0131 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0132 a {
  width: 24px;
  height: 24px;
  display: inline-block;
}
@media screen and (max-width:767px) {
  .c0128 {
    padding: 0 5px 0 5px;
    flex-wrap: wrap;
  }
  .c0126 {
    flex-basis: 100%;
    text-align: center;
  }
  .c0125 {
    text-align: center;
    padding-left: 0;
  }
}
.c0133 {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtaW5zdGFncmFtLWljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0ic29jaWFsLWluc3RhZ3JhbS1pY29uIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iaW5zdGFncmFtIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDIzLjQyMTE3NjUgMCAyMy40MjExNzY1IDIzLjQyMTE3NjUgMCAyMy40MjExNzY1Ij48L3BvbHlnb24+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNS45MDk2MzU0LDAgQzE4Ljc3ODM2MTEsMC4wMDUwNjQ2NjQ5MiAxOC44ODk3NTM5LDAuMDI4OTQwOTQyNCAxOS40NTAzMzQ0LDAuMTA5OTc1NTgxIEMyMC42MDY5Mzg3LDAuMjc3MTA5NTIzIDIxLjU3ODM3MDUsMC43Mzg3MTc1NTQgMjIuMzcxODYzMiwxLjQ5Njk3MDI1IEMyMi43OTgwNTU5LDEuODk4OTcyOTUgMjMuMTQ2MjgyOCwyLjM3NjMxODgxIDIzLjM5ODk5MTQsMi45MDQ5NDcwOSBDMjMuNzM1MzM5OCwzLjU4OTQwMDM4IDIzLjkwMDk4MjMsNC4yMzc2Nzc0OSAyMy45NzYyMDg2LDUuMjAxNDEwODcgQzIzLjk5Mjg0NTEsNS40MDgzMzg2MSAyNC4wMDAwNzg0LDguNjk4OTIzNzYgMjQuMDAwMDc4NCwxMS45OTI0MDMgQzI0LjAwMDA3ODQsMTUuMjg0NDM1MiAyMy45OTM1Njg1LDE4LjU4MTUzMjEgMjMuOTc2OTMxOSwxOC43ODg0NTk4IEMyMy45MDI0Mjg5LDE5LjczNjk5OTIgMjMuNzM2Nzg2NCwyMC4zOTAzNDEgMjMuNDExMjg4LDIxLjA2MjQ5NDMgQzIyLjc2NzQ2NTEsMjIuMzk1OTA0MSAyMS41Njg1OTA1LDIzLjM3NzQ5NzUgMjAuMTM0NjA0NCwyMy43NDUzMTk3IEMxOS42MTM4MDcsMjMuODc5ODk1MSAxOS4xNDIxOTYsMjMuOTQzNTY1MiAxOC4zMjk4OTY3LDIzLjk4MTE4ODQgQzE4LjAzOTg0MTUsMjMuOTk2MzgyNCAxNS4wMDkwODk5LDI0IDExLjk3ODMzODQsMjQgQzguOTQ3NTg2NzksMjQgNS45MTgyODE4OSwyMy45OTA1OTQyIDUuNjIwOTkzMzgsMjMuOTc3NTcwOCBDNC45MjAwODY4NywyMy45NDQyODg3IDQuMzczMjQ5NiwyMy44NzQxMDY5IDMuODc5MjE1MzksMjMuNzQ2NzY2OCBDMi40NDgxNzAzNiwyMy4zNzY2NDgyIDEuMjUwODM3MjcsMjIuMzk4NDMyIDAuNjAyNTMxNzI1LDIxLjA2OTcyOTYgQzAuMjcwNTIzMzgsMjAuMzgwOTM1MiAwLjExMzU2MDgyOSwxOS43NTE0Njk3IDAuMDMwMzc3OTEsMTguNzUwODM2NiBDMC4wMDY1MDgwMjg5NSwxOC40NjY0OTE4IDAuMDAwNzIxMzkxMTMxLDE3LjAwMjgwMzcgMC4wMDA3MjEzOTExMzEsMTEuOTk1Mjk3MSBDMC4wMDA3MjEzOTExMzEsMTAuMzA4MDQwMiAtMC4wMDA3MjUyNjgzMjUsOS4wNTA1NTYyMSAwLjAwMDcyMTM5MTEzMSw4LjA5NDc4MTU5IEMwLjAwNTc4NDY5OTIzLDUuMjI4MTgxMjQgMC4wMjg5MzEyNTA1LDUuMTEzODY0NTIgMC4xMTA2Njc1MSw0LjU1MjQxMDI0IEMwLjI3Nzc1NjY3NywzLjM5NjIxOTU5IDAuNzM5MjQxMDQzLDIuNDIzODAzOTMgMS41MDAxODM5MiwxLjYzMjk5MjY3IEMxLjg5NTY4MjgxLDEuMjE2NTg0MjcgMi4zNjI2MjgwNSwwLjg3NDQ5MDc1MiAyLjg3ODg1MDM4LDAuNjIyOTUzNzg1IEMzLjU3NjE0MDI0LDAuMjc2Mzg2IDQuMjE1NTYzNzIsMC4xMTQzMTY3MjIgNS4yNDQxMzg1OSwwLjAyODk0MDk0MjQgQzUuNTI5MTMwNSwwLjAwNTA2NDY2NDkyIDYuOTkzODczMiwwIDEyLjAwMzY1NDksMCBMMTUuOTA5NjM1NCwwIFogTTExLjk5NzE0NDksMy4xMzg2NDUyIEwxMS45OTg1OTE2LDMuMTM4NjQ1MiBMMTEuOTk1Njk4MywzLjEzODY0NTIgTDExLjk5NzE0NDksMy4xMzg2NDUyIEM5LjU5MjA3MzU4LDMuMTM4NjQ1MiA5LjI4OTcyMTc2LDMuMTQ5NDk4MDYgOC4zNDUwNTMxMywzLjE5MjE4NTk1IEM3LjQwMTgzMTE3LDMuMjM1NTk3MzYgNi43NTgwNjc3MSwzLjM4NDY0MzIxIDYuMTk0NTkzODUsMy42MDM4NzA4NSBDNS42MDMzMzQwMSwzLjgyNjUxNjUxIDUuMDY3Njk0MDIsNC4xNzUzOTMwNiA0LjYyNDk2ODM0LDQuNjI2MjA5NjQgQzQuMTc0MzYwMTksNS4wNjg4NDQzOCAzLjgyNTU4MjQ2LDUuNjA0MzcyNzcgMy42MDI5MDM0NCw2LjE5NTUzMjI0IEMzLjM4MzAxMTIsNi43NTkxNTcxIDMuMjMzMjgxOTQsNy40MDM4MTY1OSAzLjE5MTMyODgyLDguMzQ2NTY3NzkgQzMuMTQ4NjUyMzcsOS4yOTIyMTMwOCAzLjEzNzgwMjQyLDkuNTkzOTIyNCAzLjEzNzgwMjQyLDEyLjAwMTA4NTMgQzMuMTM3ODAyNDIsMTQuNDA3NTI0NiAzLjE0ODY1MjM3LDE0LjcwOTIzNCAzLjE5MTMyODgyLDE1LjY1NDE1NTcgQzMuMjM0NzI4NiwxNi41OTc2MzA1IDMuMzgzNzM0NTMsMTcuMjQxNTY2NCAzLjYwMjkwMzQ0LDE3LjgwNTE5MTMgQzMuODI1MzAxODMsMTguMzk2NzA0NSA0LjE3NDEwOTgsMTguOTMyNTI2MyA0LjYyNDk2ODM0LDE5LjM3NTIzNzQgQzUuMDY3MjY1MTcsMTkuODI2NDA4MyA1LjYwMjY5NzksMjAuMTc1NTU3NSA2LjE5Mzg3MDUyLDIwLjM5ODI5OTcgQzYuNzU3MzQ0MzgsMjAuNjE2ODAzOCA3LjQwMTEwNzg0LDIwLjc2NjU3MzIgOC4zNDQzMjk4LDIwLjgwOTk4NDYgQzkuMjg5NzIxNzYsMjAuODUyNjcyNSA5LjU5MTM1MDI1LDIwLjg2MzUyNTQgMTEuOTk3MTQ0OSwyMC44NjM1MjU0IEMxNC40MDM2NjI5LDIwLjg2MzUyNTQgMTQuNzA0NTY4MSwyMC44NTI2NzI1IDE1LjY0OTk2MDEsMjAuODA5OTg0NiBDMTYuNTkzMTgyLDIwLjc2NjU3MzIgMTcuMjM3NjY4OCwyMC42MTY4MDM4IDE3LjgwMTE0MjcsMjAuMzk4Mjk5NyBDMTguMzkyMTczMSwyMC4xNzU2OTQzIDE4LjkyNzM5NzYsMTkuODI2NTE5OSAxOS4zNjkzMjE1LDE5LjM3NTIzNzQgQzE5LjgyMDM4NjksMTguOTMyNTUzMiAyMC4xNjk0MzY5LDE4LjM5NjczODkgMjAuMzkyMTA5NywxNy44MDUxOTEzIEMyMC42MDk4MzIsMTcuMjQxNTY2NCAyMC43NTk1NjEzLDE2LjU5NzYzMDUgMjAuODAzNjg0NCwxNS42NTQxNTU3IEMyMC44NDYzNjA4LDE0LjcwOTIzNCAyMC44NTcyMTA4LDE0LjQwNzUyNDYgMjAuODU3MjEwOCwxMi4wMDEwODUzIEMyMC44NTcyMTA4LDkuNTkzOTIyNCAyMC44NDYzNjA4LDkuMjkyMjEzMDggMjAuODAzNjg0NCw4LjM0NjU2Nzc5IEMyMC43NTk1NjEzLDcuNDAzMDkzMDYgMjAuNjA5ODMyLDYuNzU5MTU3MSAyMC4zOTIxMDk3LDYuMTk1NTMyMjQgQzIwLjE2OTQyNzIsNS42MDQyMDEyIDE5LjgyMDM3MTUsNS4wNjg2MjQ5OSAxOS4zNjkzMjE1LDQuNjI2MjA5NjQgQzE4LjkyNzMxMDYsNC4xNzQ4NjM3NCAxOC4zOTE3ODA1LDMuODI1ODk3OTcgMTcuODAwNDE5MywzLjYwMzg3MDg1IEMxNy4yMzYyMjIxLDMuMzg0NjQzMjEgMTYuNTkxNzM1NCwzLjIzNTU5NzM2IDE1LjY0ODUxMzQsMy4xOTIxODU5NSBDMTQuNzAzODQ0OCwzLjE0OTQ5ODA2IDE0LjQwMjkzOTYsMy4xMzg2NDUyIDExLjk5NzE0NDksMy4xMzg2NDUyIFogTTExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS45OTg1OTE2LDQuNzM1NDYxNyBDMTQuMzYzODc5OCw0LjczNTQ2MTcgMTQuNjQ0NTMxNyw0Ljc0NDE0Mzk4IDE1LjU3ODM1MDQsNC43ODY4MzE4NyBDMTYuNDQyNzI5NCw0LjgyNTkwMjE0IDE2LjkxMTQ0NzEsNC45NzA2MDY4NiAxNy4yMjMyMDIyLDUuMDkyMTU4ODEgQzE3LjYzNjk0NjgsNS4yNTI3ODEwNCAxNy45MzIwNjUzLDUuNDQ0NTE0NzkgMTguMjQxNjUwNSw1Ljc1NDkwNjM5IEMxOC41NTE5NTg5LDYuMDY0NTc0NDggMTguNzQzNjQxMyw2LjM2MDQ5NTYxIDE4LjkwNDk0MzgsNi43NzM2Mjc1NyBDMTkuMDI1NzM5OSw3LjA4NjE4OTc0IDE5LjE3MDQwNTgsNy41NTUwMzMwMSAxOS4yMDk0NjU2LDguNDE4OTIwMTQgQzE5LjI1MjE0MjEsOS4zNTI5ODkwNiAxOS4yNjE1NDU0LDkuNjMzNzE2MiAxOS4yNjE1NDU0LDExLjk5ODkxNDcgQzE5LjI2MTU0NTQsMTQuMzY0MTEzMiAxOS4yNTIxNDIxLDE0LjY0NDg0MDQgMTkuMjA5NDY1NiwxNS41Nzg5MDkzIEMxOS4xNzA0MDU4LDE2LjQ0Mjc5NjQgMTkuMDI1NzM5OSwxNi45MTE2Mzk3IDE4LjkwNDk0MzgsMTcuMjI0MjAxOSBDMTguNzYyNjcxMSwxNy42MDg4NDc5IDE4LjUzNjAxOCwxNy45NTY3MDY1IDE4LjI0MTY1MDUsMTguMjQyMTk5NSBDMTcuOTU2MDQ2NSwxOC41MzY1ODkxIDE3LjYwODAwMzEsMTguNzYzMDc1NyAxNy4yMjMyMDIyLDE4LjkwNDk0NzEgQzE2LjkxMTQ0NzEsMTkuMDI2NDk5MSAxNi40NDI3Mjk0LDE5LjE3MDQ4MDIgMTUuNTc4MzUwNCwxOS4yMTAyNzQgQzE0LjY0NDUzMTcsMTkuMjUyOTYxOSAxNC4zNjM4Nzk4LDE5LjI2MTY0NDIgMTEuOTk4NTkxNiwxOS4yNjE2NDQyIEM5LjYzMjU4MDA1LDE5LjI2MTY0NDIgOS4zNTE5MjgxMSwxOS4yNTI5NjE5IDguNDE4MTA5NDMsMTkuMjEwMjc0IEM3LjU1NDQ1Mzc0LDE5LjE3MDQ4MDIgNy4wODU3MzYwOCwxOS4wMjU3NzU1IDYuNzczMjU3NjMsMTguOTA0OTQ3MSBDNi4zODgzNzQ4LDE4Ljc2MjgxODQgNi4wNDAxNDkzMywxOC41MzYzNzQxIDUuNzU0MDg2MDUsMTguMjQyMTk5NSBDNS40NTk3NzUzLDE3Ljk1NjUxOSA1LjIzMzM0OTM4LDE3LjYwODM4MjQgNS4wOTE1MTYwMiwxNy4yMjM0NzgzIEM0Ljk2OTk5NjYyLDE2LjkxMDkxNjIgNC44MjUzMzA2OCwxNi40NDIwNzI5IDQuNzg2MjcwODcsMTUuNTc4MTg1OCBDNC43NDM1OTQ0MiwxNC42NDQxMTY4IDQuNzM0OTE0NDYsMTQuMzYzMzg5NyA0LjczNDkxNDQ2LDExLjk5Njc0NDEgQzQuNzM0OTE0NDYsOS42MzAwOTg1OCA0Ljc0MzU5NDQyLDkuMzUwODE4NDkgNC43ODYyNzA4Nyw4LjQxNjc0OTU3IEM0LjgyNTMzMDY4LDcuNTUyODYyNDQgNC45Njk5OTY2Miw3LjA4NDAxOTE3IDUuMDkxNTE2MDIsNi43NzE0NTcgQzUuMjMzMzE5ODIsNi4zODYzMjcxNCA1LjQ1OTc0MjM5LDYuMDM3OTQ4NDQgNS43NTQwODYwNSw1Ljc1MjAxMjMgQzYuMDQwMTQ5MzMsNS40NTc4Mzc3IDYuMzg4Mzc0OCw1LjIzMTM5MzQxIDYuNzczMjU3NjMsNS4wODkyNjQ3MiBDNy4wODU3MzYwOCw0Ljk2Njk4OTI0IDcuNTU0NDUzNzQsNC44MjMwMDgwNSA4LjQxODEwOTQzLDQuNzgzMjE0MjUgQzkuMjM1NDcyMDMsNC43NDYzMTQ1NSA5LjU1MjI5MDQ1LDQuNzM1NDYxNyAxMS4yMDM2NTIyLDQuNzMzMjkxMTMgTDExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS4yMDM2NTIyLDQuNzM1NDYxNyBaIE0xMS45OTg1OTE2LDcuNDUwMTIyMDkgTDExLjk5Nzg2ODMsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IEM5LjQ4NTgzNzM3LDcuNDUwMTIyMDkgNy40NDg4NDc2LDkuNDg3NjU3NzIgNy40NDg4NDc2LDEyLjAwMTA4NTMgQzcuNDQ4ODQ3NiwxNC41MTQ1MTI5IDkuNDg1ODM3MzcsMTYuNTUyMDQ4NSAxMS45OTg1OTE2LDE2LjU1MjA0ODUgQzE0LjUxMTM0NTgsMTYuNTUyMDQ4NSAxNi41NDgzMzU2LDE0LjUxNDUxMjkgMTYuNTQ4MzM1NiwxMi4wMDEwODUzIEMxNi41NDgzMzU2LDkuNDg3NjU3NzIgMTQuNTExMzQ1OCw3LjQ1MDEyMjA5IDExLjk5ODU5MTYsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IFogTTExLjk5ODU5MTYsOS4wNDY5Mzg1OSBDMTMuMDUzNzIzOCw5LjA0NjkzODU3IDE0LjAyODcwNjIsOS42MDk5OTU3NCAxNC41NTYyNzIzLDEwLjUyNDAxMTkgQzE1LjA4MzgzODUsMTEuNDM4MDI4MSAxNS4wODM4Mzg1LDEyLjU2NDE0MjUgMTQuNTU2MjcyMywxMy40NzgxNTg3IEMxNC4wMjg3MDYyLDE0LjM5MjE3NDggMTMuMDUzNzIzOCwxNC45NTUyMzIgMTEuOTk4NTkxNiwxNC45NTUyMzIgQzEwLjM2NzQ5ODUsMTQuOTU1MjMxOSA5LjA0NTIzNjM3LDEzLjYzMjYxNTQgOS4wNDUyMzYzNywxMi4wMDEwODUzIEM5LjA0NTIzNjM3LDEwLjM2OTU1NTEgMTAuMzY3NDk4NSw5LjA0NjkzODYzIDExLjk5ODU5MTYsOS4wNDY5Mzg1OSBaIE0xNi43Mjc3MjEzLDYuMjA3MTA4NjIgQzE2LjM0Nzg0MjcsNi4yMDcxMDg2MSAxNS45OTY4MjA0LDYuNDA5ODI1NzQgMTUuODA2ODgxMSw2LjczODg5ODQzIEMxNS42MTY5NDE4LDcuMDY3OTcxMTEgMTUuNjE2OTQxOCw3LjQ3MzQwNTM5IDE1LjgwNjg4MTEsNy44MDI0NzgwOCBDMTUuOTk2ODIwNCw4LjEzMTU1MDc3IDE2LjM0Nzg0MjcsOC4zMzQyNjc5IDE2LjcyNzcyMTMsOC4zMzQyNjc4OCBDMTcuMzE0OTYyOCw4LjMzNDI2Nzg3IDE3Ljc5MTAxNiw3Ljg1ODA4NzA1IDE3Ljc5MTAxNiw3LjI3MDY4ODI1IEMxNy43OTEwMTYsNi42ODMyODk0NSAxNy4zMTQ5NjI4LDYuMjA3MTA4NjQgMTYuNzI3NzIxMyw2LjIwNzEwODYyIFoiIGlkPSJTaGFwZSIgZmlsbD0iI0NGQ0ZDRiIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);
}
.c0134 {

In [ ]:
web_page.head.title

In [ ]:
web_page.body

<body><noscript id="gatsby-noscript">This app works best with JavaScript enabled.</noscript><div id="___gatsby"><div role="group" style="outline:none" tabindex="-1"><div><header class="c017"><h1 class="c0116 c0118"><a class="c018" href="/" title="Connect"></a></h1><div class="c0114"></div></header><main class="c014 c016"><div class="c013"><div class="c011"><div class="c012" id="gauth-widget"><noscript>To sign in to your Garmin account, please enable JavaScript in your web browser.</noscript></div></div><div id="loginGauth"></div></div></main><footer class="c0123"><div></div><div class="c0132"><span class="c0129 c0133"><a href="https://www.instagram.com/garminfitness/" title="Instagram"></a></span><span class="c0130 c0134"><a href="https://www.facebook.com/garminfit" title="Facebook"></a></span><span class="c0131 c0135"><a href="https://twitter.com/garminfitness" title="Twitter"></a></span></div><div id="consent"></div></footer></div></div></div><script id="gatsby-script-loader">/*<![CDATA[*/window.page={"componentChunkName":"component---src-pages-signin-js","jsonName":"signin-59f","path":"/signin/"};window.dataPath="731/path---signin-59-f-ae5-0SUcWyAf8ecbYDsMhQkEfPzV8";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"app":["/app-f70ac04d1f56b78f3931.js"],"component---src-pages-404-js":["/component---src-pages-404-js-841e84ff797503ac048a.js"],"component---src-pages-features-coach-js":["/component---src-pages-features-coach-js-29876275865a0a2c7c1a.js"],"component---src-pages-features-index-js":["/component---src-pages-features-index-js-4d4a82516cad02ced3d8.js"],"component---src-pages-features-menstrual-cycle-tracking-js":["/component---src-pages-features-menstrual-cycle-tracking-js-f82b6a996c090a06f4e6.js"],"component---src-pages-index-js":["/component---src-pages-index-js-63d08c00a3a5730e5622.js"],"component---src-pages-signin-js":["/component---src-pages-signin-js-2cbe8560a833724ca935.js"],"component---src-pages-start-index-scale-express-js":["/component---src-pages-start-index-scale-express-js-4191a33b757912674795.js"],"component---src-pages-start-index-scale-help-js":["/component---src-pages-start-index-scale-help-js-fa0de611ea120d0cf195.js"],"component---src-pages-start-index-scale-index-js":["/component---src-pages-start-index-scale-index-js-7ac8a52212a94db2fab4.js"],"component---src-pages-start-index-scale-mobile-js":["/component---src-pages-start-index-scale-mobile-js-825c52b5de34c7e3fc6b.js"],"component---src-pages-start-index-scale-wps-js":["/component---src-pages-start-index-scale-wps-js-bd933d60ca0bc42292a4.js"],"component---src-pages-start-index-js":["/component---src-pages-start-index-js-d3a69576ea9d5117784e.js"],"component---src-pages-start-quickdraw-legal-js":["/component---src-pages-start-quickdraw-legal-js-cf2da0e15e8af7e20d6c.js"],"component---src-pages-start-quickdraw-js":["/component---src-pages-start-quickdraw-js-b1a8e022d6e90bebe5c0.js"],"component---src-pages-start-vivoki-js":["/component---src-pages-start-vivoki-js-2fee9b53b1a7130bc857.js"],"component---src-pages-status-js":["/component---src-pages-status-js-77f076abb7dc3adf65b2.js"],"component---src-pages-support-js":["/component---src-pages-support-js-28338b5a6bf95bb7f96d.js"],"pages-manifest":["/pages-manifest-30001a9f1ccc5a08342f.js"]};/*]]>*/</script><script async="" src="/webpack-runtime-726429aeeebf792fa865.js"></script><script async="" src="/styles-7f4ad17eaa2f84285347.js"></script><script async="" src="/app-f70ac04d1f56b78f3931.js"></script><script async="" src="/0-1b57d2d469aaeb0d9220.js"></script><script async="" src="/1-ce2bc733156e4b92652d.js"></script><script async="" src="/component---src-pages-signin-js-2cbe8560a833724ca935.js"></script></body>

In [ ]:
sub_webpage = web_page.find_all(name="li") #, attrs={'class': 'list-item animated row-fluid'}

In [ ]:
sub_webpage

[]

I would like to make searchable notes that I could go through with links to exercises for injuries and such. It would be really useful to be able to have the types of injuries that I have gone through before and be able to just immediately have the stretches and such that worked. Then I can the next time find out how that went and then adjust based upon the previous injury timeline and see what works best for recovery for me.