<a href="https://colab.research.google.com/github/lilfetz22/Running_data/blob/Joining-Notes-columns/Running_Log.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pre-Garmin Data Wrangling

In [45]:
import pandas as pd
import re
import numpy as np
import math

In [46]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [47]:
def findall_n_join_fx(df, note_col, new_col, search_string):
    df.loc[:,new_col] = df.loc[:,note_col].str.findall(search_string)
    df.loc[:,new_col] = df.loc[:,new_col].str.join('')
    df.loc[:,note_col] = df.loc[:,note_col].str.replace(search_string, '')
    return df

In [ ]:
log_csv = pd.read_csv("/content/drive/My Drive/pre-garmin.csv",encoding='windows-1254')
log_csv.head(15)

   Running log 6/21/10      3/17/14  ... Unnamed: 16 Unnamed: 17
0      Saturday 5/29/10         NaN  ...         NaN         NaN
1        Monday 6/21/10     4 miles  ...         NaN         NaN
2       Tuesday 6/22/10     4 miles  ...         NaN         NaN
3     Wednesday 6/23/10   4.5 miles  ...         NaN         NaN
4      Thursday 6/25/10          5   ...         NaN         NaN
5        Friday 6/26/10           5  ...         NaN         NaN
6      Saturday 6/27/10           6  ...         NaN         NaN
7                   NaN         NaN  ...         NaN         NaN
8        Monday 6/28/10           4  ...         NaN         NaN
9       Tuesday 6/29/10           5  ...         NaN         NaN
10    Wednesday 6/30/10         5.5  ...         NaN         NaN
11      Thursday 7/1/10           5  ...         NaN         NaN
12        Friday 7/2/10           4  ...         NaN         NaN
13      Saturday 7/3/10         7.7  ...         NaN         NaN
14                  NaN         NaN  ...         NaN         NaN

[15 rows x 18 columns]

In [ ]:
log_csv.tail()

                                   Running log 6/21/10   ... Notes
1979                                       TOTAL - 48.5  ...   NaN
1980                            Monday - 12/21/15 - off  ...   NaN
1981  Tuesday - I've failed. Not going to be able to...  ...   NaN
1982                      Thursday - 12/25/15 - 3 miles  ...   NaN
1983  Thursday - 12/31/15 - 30 minutes biking - 9.5 ...  ...   NaN

[5 rows x 19 columns]

In [ ]:
log_csv['Notes'] = log_csv['Unnamed: 2'].str.cat(log_csv[['Unnamed: 3', 'Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7',
                                                     'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11','Unnamed: 12',
                                                     'Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17']].astype(str), sep="_")
log_csv2 = log_csv[['Running log 6/21/10 ',' 3/17/14','Notes']]
log_csv2.head(10)

  Running log 6/21/10   ...                                              Notes
0     Saturday 5/29/10  ...   4 miles 27:19 it was a little short. 3.8 mile...
1       Monday 6/21/10  ...                                                NaN
2      Tuesday 6/22/10  ...  Swimming_ 10 laps of freestyle_5 laps of backs...
3    Wednesday 6/23/10  ...  35 minutes_nan_nan_nan_nan_nan_nan_nan_nan_nan...
4     Thursday 6/25/10  ...                                                NaN
5       Friday 6/26/10  ...  Swimming_ same as Tuesday_nan_nan_nan_nan_nan_...
6     Saturday 6/27/10  ...   41:04_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan...
7                  NaN  ...                                                NaN
8       Monday 6/28/10  ...  28:04:00_5 total_nan_nan_nan_nan_nan_nan_nan_n...
9      Tuesday 6/29/10  ...                                                NaN

[10 rows x 3 columns]

In [ ]:
# columns = ['Weekday', 'Date', 'Mileage', 'Minutes', 'Notes']
log_csv2.columns = ['Beginning', 'Mileage', 'Notes']

In [ ]:
m = '- 7 miles - warmup with maggie - 82.190 - 6:19:16 - 13.0 avg'
t = '- 8 miles - thanksgiving 18.229 mile'
e = '35 minutes_nan_nan_nan_nan_nan_nan_nan_nan_nan'
re.sub('_nan', '', e)

'35 minutes'

In [ ]:
findall_n_join_fx(log_csv2, 'Beginning', 'Weekday', '\w+day')
log_csv2 = findall_n_join_fx(log_csv2, 'Beginning', 'Date', '\d+/\d+/\d\d')
log_csv2.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1048: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

  Beginning     Mileage  ...    Weekday     Date
0                   NaN  ...   Saturday  5/29/10
1               4 miles  ...     Monday  6/21/10
2               4 miles  ...    Tuesday  6/22/10
3             4.5 miles  ...  Wednesday  6/23/10
4                    5   ...   Thursday  6/25/10

[5 rows x 5 columns]

In [ ]:
log_csv2.sample(20)

                             Beginning  ...     Date
1647                        - 13 miles  ...
1894                           TOTAL -  ...
492                                     ...
188                                     ...
1173                                    ...
1860                           TOTAL -  ...
1372   -  - 7 miles - 20.771 - 1:35:34  ...  6/30/14
296                                     ...
888                                     ...
1134                                    ...
750                                     ...
968                             TOTAL   ...
1305                         - 7 miles  ...
1383                         - 7 miles  ...
1807              WORKOUT TOTAL - none  ...
237                                     ...
1524      -  - workout between classes  ...  11/6/14
428                                     ...
784                                     ...
1177                                    ...

[20 rows x 5 columns]

In [ ]:
f_col = list(log_csv2.Beginning)
for row in f_col:
    if (row != '') or (row != ' ') or row != 'nan':
        print(row)

In [ ]:
log_csv3 = log_csv2[log_csv2['Beginning'].str.startswith('TOTAL') == False]

In [ ]:
log_csv3.loc[:,'Mileage_init'] = log_csv3.loc[:,'Beginning'].str.findall('\d+\.*\d*')
log_csv3.loc[:, 'length'] = log_csv3['Mileage_init'].str.len()
log_csv3['counter'] = range(len(log_csv3))
log_csv3['Workout_mins'] = np.nan
log_csv3['Swimming_meters'] = np.nan
log_csv3['Bike_Mileage'] = np.nan
log_csv3 = log_csv3.rename(columns = {'Beginning': 'Notes2'})
check_data = log_csv3[log_csv3.length >1]
check_data2 = check_data[['Notes2','Mileage','Mileage_init','counter']]
len(check_data2)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

157

In [ ]:
check_data2 = check_data2.reset_index()

In [ ]:
# log_csv3.to_csv("/content/drive/My Drive/mileage_manip.csv")

In [197]:
new_log = pd.read_csv("/content/drive/My Drive/mileage_manip.csv",index_col=0)
new_log.head(10)

   Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                 NaN  ...             NaN          NaN
1             4 miles  ...             NaN          NaN
2             4 miles  ...             NaN          NaN
3           4.5 miles  ...             NaN          NaN
4                  5   ...             NaN          NaN
5                   5  ...             NaN          NaN
6                   6  ...             NaN          NaN
8                   4  ...             NaN          NaN
9                   5  ...             NaN          NaN
10                5.5  ...             NaN          NaN

[10 rows x 11 columns]

In [198]:
to_be_nan = list(new_log.counter[new_log.length > 1])
for row_numb in to_be_nan:
    new_log.iloc[row_numb,5] = np.nan

In [199]:
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\[\'', '')
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\'\]', '')
new_log.loc[:,'Mileage_init'] = new_log.loc[:,'Mileage_init'].str.replace('\[\]', '')

In [200]:
new_log.Mileage_init = pd.to_numeric(new_log.Mileage_init, errors='coerce')
new_log.head()

  Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                NaN  ...             NaN          NaN
1            4 miles  ...             NaN          NaN
2            4 miles  ...             NaN          NaN
3          4.5 miles  ...             NaN          NaN
4                 5   ...             NaN          NaN

[5 rows x 11 columns]

In [201]:
new_log.insert(8, 'Workout_type',None)

In [202]:
new_log.head()

  Notes2     Mileage  ... Swimming_meters Bike_Mileage
0                NaN  ...             NaN          NaN
1            4 miles  ...             NaN          NaN
2            4 miles  ...             NaN          NaN
3          4.5 miles  ...             NaN          NaN
4                 5   ...             NaN          NaN

[5 rows x 12 columns]

In [203]:
# dropping two lines that just had "WORKOUTS TOTAL"
new_log = new_log.drop([1727,1747])
new_log['counter'] = range(len(new_log))

In [204]:
def workout_finder_fx(df, col, str_search, minutes, workout_type, *exclude):
    w_o = list(df.loc[:, col].str.contains(str_search))
    for idx, n in enumerate(w_o):
        if n == None:
            continue
        elif n == True:
            enough_to_exclude = 0
            for e in exclude:
                o2 = re.search(e, df[col].iloc[idx])
                if o2:
                    enough_to_exclude += 1
            if enough_to_exclude < 1:
                df['Workout_type'].iloc[idx] = workout_type
                df['Workout_mins'].iloc[idx] = minutes
    return df

In [205]:
ab_workout_incl_log = workout_finder_fx(new_log, 'Notes2', '[Aa]b [Ww]orkout', 20, 'abs')
gym_workout_incl_log = workout_finder_fx(ab_workout_incl_log, 'Notes2', '[Ww]orkout',45, 'gym', '[Ss]wim', '[Aa]b')
print(gym_workout_incl_log.iloc[1084])
gym_workout_incl_log.iloc[1267]

Notes2              - 4 miles - ab workout - ran with Keith
Mileage                                                 NaN
Notes                                                   NaN
Weekday                                             Tuesday
Date                                                    NaN
Mileage_init                                              4
length                                                    1
counter                                                1084
Workout_type                                            abs
Workout_mins                                             20
Swimming_meters                                         NaN
Bike_Mileage                                            NaN
Name: 1264, dtype: object

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

Notes2              - 14 miles - workout between classes
Mileage                                              NaN
Notes                                                NaN
Weekday                                          Tuesday
Date                                                 NaN
Mileage_init                                          14
length                                                 1
counter                                             1267
Workout_type                                         gym
Workout_mins                                          45
Swimming_meters                                      NaN
Bike_Mileage                                         NaN
Name: 1472, dtype: object

Mileage Column

In [206]:
gym_workout_incl_log.iloc[314]

Notes2
Mileage                                                     8/29/11
Notes               warmup _ 20 mins inside _ 2.5ish _ 2 with gir...
Weekday                                                       Monday
Date                                                             NaN
Mileage_init                                                     NaN
length                                                             0
counter                                                          314
Workout_type                                                    None
Workout_mins                                                     NaN
Swimming_meters                                                  NaN
Bike_Mileage                                                     NaN
Name: 371, dtype: object

In [207]:
# might need to try out the "try" in a function to see if it can be converted to 
# an integer if not, then put the note into a separate column and delete it from
# the mileage column
def remove_mileage_notes_fx(df, col):
    notes3_col = [''] * len(df[col])
    list_col = list(df.loc[:, col])
    for idx, a in enumerate(list_col):
        try:
            float_a = float(a)
            df[col].iloc[idx] = float_a
        except:
            notes3_col[idx] = a
            df[col].iloc[idx] = np.nan
    df['Notes3'] = notes3_col
    return df
sep_notes_from_mileage_col = remove_mileage_notes_fx(gym_workout_incl_log, 'Mileage')
sep_notes_from_mileage_col.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

   Notes2 Mileage  ... Bike_Mileage      Notes3
0             NaN  ...          NaN
1             NaN  ...          NaN     4 miles
2             NaN  ...          NaN     4 miles
3             NaN  ...          NaN   4.5 miles
4               5  ...          NaN
5               5  ...          NaN
6               6  ...          NaN
8               4  ...          NaN
9               5  ...          NaN
10            5.5  ...          NaN

[10 rows x 13 columns]

took all of the text that was in the mileage column and moved it to a separate column, and left any number that was purely a number and converted the column to be integers.

In [208]:
# now I need to go through the notes3 column and pull out any that have just mileage, 
#then I will need to go through and search those that have dates and other mess 
#in there, then I will need to apply the same functions to the Notes column

In [209]:
findall_n_join_fx(sep_notes_from_mileage_col, 'Notes3', 'Date', '\d+/\d+/\d\d')

                                                 Notes2  ...      Notes3
0                                                        ...
1                                                        ...     4 miles
2                                                        ...     4 miles
3                                                        ...   4.5 miles
4                                                        ...
...                                                 ...  ...         ...
1978                                         - 10 miles  ...
1980                                           -  - off  ...
1981   - I've failed. Not going to be able to run fo...  ...
1982                                       -  - 3 miles  ...
1983                 -  - 30 minutes biking - 9.5 miles  ...

[1721 rows x 13 columns]

In [210]:
sep_notes_from_mileage_col.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1983
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1663 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             1721 non-null   object
 5   Mileage_init     397 non-null    float64
 6   length           1721 non-null   int64
 7   counter          1721 non-null   int64
 8   Workout_type     68 non-null     object
 9   Workout_mins     70 non-null     float64
 10  Swimming_meters  18 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1721 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 188.2+ KB

In [211]:
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('_nan', '')

In [212]:
sep_notes_from_mileage_col.iloc[2,2].lower()

'swimming_ 10 laps of freestyle_5 laps of backstroke_5_laps of breaststroke_1 lap all out of freestyle'

In [213]:
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.lower()
sep_notes_from_mileage_col.loc[:, 'Notes2'] = sep_notes_from_mileage_col.loc[:, 'Notes2'].str.lower()
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.lower()

In [214]:
sep_notes_from_mileage_col['Mileage_init2'] = sep_notes_from_mileage_col.Notes3.str.findall('\d+\.?\d* miles?')
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.replace('\d+\.?\d* miles?', '')
sep_notes_from_mileage_col['Mileage_init3'] = sep_notes_from_mileage_col.Notes.str.findall('\d+\.?\d* miles?')
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('\d+\.?\d* miles?', '')
sep_notes_from_mileage_col['Mileage_init4'] = sep_notes_from_mileage_col.Notes3.str.findall('\d+\.?\d* total')
sep_notes_from_mileage_col.loc[:, 'Notes3'] = sep_notes_from_mileage_col.loc[:, 'Notes3'].str.replace('\d+\.?\d* total', '')
sep_notes_from_mileage_col['Mileage_init5'] = sep_notes_from_mileage_col.Notes.str.findall('\d+\.?\d* total')
sep_notes_from_mileage_col.loc[:, 'Notes'] = sep_notes_from_mileage_col.loc[:, 'Notes'].str.replace('\d+\.?\d* total', '')

In [225]:
gym_workout_incl_log2 = workout_finder_fx(sep_notes_from_mileage_col, 'Notes', 'workout', 45, 'gym', 'swim', 'ab','pool')
gym_workout_incl_log2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1983
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1663 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             1721 non-null   object
 5   Mileage_init     397 non-null    float64
 6   length           1721 non-null   int64
 7   counter          1721 non-null   int64
 8   Workout_type     73 non-null     object
 9   Workout_mins     75 non-null     float64
 10  Swimming_meters  18 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1721 non-null   object
 13  Mileage_init2    1721 non-null   object
 14  Mileage_init3    741 non-null    object
 15  Mileage_init4    1721 non-null   object
 16  Mileage_init5    741 non-null    object
dtypes: float64(4), int64(2), object(11)
memory usage: 322.0+ KB

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [239]:
def swim_workout_fx(df, col, str_search): 
    for s in str_search:
        w_o2 = list(df.loc[:, col].str.contains(s))
        for idx, w in enumerate(w_o2):
            if w == None:
                continue
            elif w == True:
                df['Swimming_meters'].iloc[idx] = 1600

In [240]:
swim_workout_fx(gym_workout_incl_log2, 'Notes', ['swim','pool'])
swim_workout_fx(gym_workout_incl_log2, 'Notes2', ['swim','pool'])
swim_workout_fx(gym_workout_incl_log2, 'Notes3', ['swim','pool'])
gym_workout_incl_log2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1983
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1663 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             1721 non-null   object
 5   Mileage_init     397 non-null    float64
 6   length           1721 non-null   int64
 7   counter          1721 non-null   int64
 8   Workout_type     73 non-null     object
 9   Workout_mins     75 non-null     float64
 10  Swimming_meters  38 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1721 non-null   object
 13  Mileage_init2    1721 non-null   object
 14  Mileage_init3    741 non-null    object
 15  Mileage_init4    1721 non-null   object
 16  Mileage_init5    741 non-null    object
dtypes: float64(4), int64(2), object(11)
memory usage: 322.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1983
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1663 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             1721 non-null   object
 5   Mileage_init     397 non-null    float64
 6   length           1721 non-null   int64
 7   counter          1721 non-null   int64
 8   Workout_type     73 non-null     object
 9   Workout_mins     75 non-null     float64
 10  Swimming_meters  38 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1721 non-null   object
 13  Mileage_init2    1721 non-null   object
 14  Mileage_init3    741 non-null    object
 15  Mileage_init4    1721 non-null   object
 16  Mileage_init5    741 non-null    object
dtypes: float64(4), int64(2), object(11)
memory usage: 322.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1721 entries, 0 to 1983
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Notes2           1663 non-null   object
 1   Mileage          192 non-null    object
 2   Notes            741 non-null    object
 3   Weekday          1618 non-null   object
 4   Date             1721 non-null   object
 5   Mileage_init     397 non-null    float64
 6   length           1721 non-null   int64
 7   counter          1721 non-null   int64
 8   Workout_type     73 non-null     object
 9   Workout_mins     75 non-null     float64
 10  Swimming_meters  39 non-null     float64
 11  Bike_Mileage     112 non-null    float64
 12  Notes3           1721 non-null   object
 13  Mileage_init2    1721 non-null   object
 14  Mileage_init3    741 non-null    object
 15  Mileage_init4    1721 non-null   object
 16  Mileage_init5    741 non-null    object
dtypes: float64(4), int64(2), object(11)
memory usage: 322.0+ KB

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [215]:
def mileage_finder_fx(df, init, total_or_miles):
    multiple_miles = []
    too_big = []
    already_in_col = []
    for idx, row in enumerate(df.loc[:, init]):
        try:
            if math.isnan(row):
                continue
        except:
            if len(row) > 1:
                multiple_miles.append(idx)
            elif len(row) == 1:
                mile_str = row[0].replace(total_or_miles, '')
                try:
                    mile_float = float(mile_str)
                    if math.isnan(df['Mileage'].iloc[idx]):
                        if mile_float > 27.2:
                            too_big.append(idx)
                        else:
                            df['Mileage'].iloc[idx] = mile_float
                    else:
                        already_in_col.append(idx)
                except:
                    continue
    return multiple_miles, too_big, already_in_col

In [195]:
mm, tb, aic = mileage_finder_fx(gym_workout_incl_log2,'Mileage_init2','miles')
print(len(mm),len(tb),len(aic))
mm2, tb2, aic2 = mileage_finder_fx(gym_workout_incl_log2, 'Mileage_init3', 'miles')
print(len(mm2),len(aic2),len(tb2))
mm3, tb3, aic3 = mileage_finder_fx(gym_workout_incl_log2,'Mileage_init4','total')
print(len(mm3),len(tb3),len(aic3))
mm4, tb4, aic4 = mileage_finder_fx(gym_workout_incl_log2, 'Mileage_init5', 'total')
print(len(mm4),len(aic4),len(tb4))

5 4 0
67 15 0
0 0 1
1 111 0

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

For each of the following I will be manually putting in the data to fix the issue since they are outliers in being able to conform nicely to a computer function.

In [ ]:
def manual_input_desc(df, list_name):
    for ind in list_name:
        print(df[['Mileage','counter']].iloc[ind])
        print(df['Notes3'].iloc[ind], df['Notes'].iloc[ind])
manual_input_desc(gym_workout_incl_log2, mm)

Mileage    NaN
counter     29
Name: 34, dtype: object
2 miles / 5 miles hike nan
Mileage    NaN
counter     45
Name: 53, dtype: object
3 miles in the morning 5 miles in the evening  nan
Mileage    NaN
counter    429
Name: 505, dtype: object
 3 miles and 24 miles bike and 3 around greystone   6 total_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan
Mileage    NaN
counter    656
Name: 769, dtype: object
 7.4 miles in am and 7.6 miles in pm   15 total_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan
Mileage     NaN
counter    1069
Name: 1247, dtype: object
 FIRE TOWER!!!! Ran 6 miles with Maggie than ran 3 miles to trail then 3.5 to cone manor then ran 2.5 up to the fire tower   so beautiful up there _ but misjudged the mileage so on way down tried to take a shortcut through trout lake _ it ended up being a lot longer than 18 miles cuz I hit 18 around trout lake and then at least another 3 miles _ 21 miles _nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan

In [ ]:
gym_workout_incl_log2.iloc[29, 1] = 2
gym_workout_incl_log2.iloc[45, 1] = 8
gym_workout_incl_log2.iloc[429, 1] = 6
gym_workout_incl_log2.iloc[656, 1] = 15
gym_workout_incl_log2.iloc[1069, 1] = 21

In [ ]:
manual_input_desc(gym_workout_incl_log2, tb)

Mileage    NaN
counter    865
Name: 1013, dtype: object
 30 miles  nan
Mileage    NaN
counter    872
Name: 1021, dtype: object
 30 miles  nan
Mileage    NaN
counter    877
Name: 1026, dtype: object
 8 .75 miles   sawmill to creedmoor to Strickland to falls to sawmill _ 9.75 total_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan_nan
Mileage    NaN
counter    879
Name: 1029, dtype: object
 30 miles  nan

In [ ]:
gym_workout_incl_log2.iloc[865, -3] = 30
gym_workout_incl_log2.iloc[872, -3] = 30
gym_workout_incl_log2.iloc[877,1] = 9.75
gym_workout_incl_log2.iloc[879, -3] = 30

In [ ]:
gym_workout_incl_log2['numbers'] = gym_workout_incl_log2.Notes3.str.findall('\d+\.*\d*')

In [ ]:
greater_2 = []
two = []
one = []
for idx, num in enumerate(gym_workout_incl_log2.numbers):
    if len(num) > 2:
        greater_2.append(idx)
    elif len(num) == 2:
        two.append(idx)
    elif len(num) == 1:
        one.append(idx)
print(len(greater_2), len(two), len(one))

25 33 114

In [ ]:
time_added = gym_workout_incl_log2.copy()
time_added.insert(2, 'Time', None)

More manual inputting of data since these numbers could litterally mean anything since they didn't have the "miles" designation they weren't originally caught in the first analysis, but they also have a multitude of possibilities

In [ ]:
manual_input_desc(time_added,two)

Mileage    NaN
counter     30
Name: 35, dtype: object
 race: 11:29 5 miles total
Mileage     6
counter    34
Name: 40, dtype: object
 40:47 7 total
Mileage    NaN
counter     35
Name: 41, dtype: object
5x1200 > 3:59,3:59,4:00,4:05,4:02_5 miles total
Mileage     4
counter    39
Name: 46, dtype: object
 + 3k course = 7miles total nan
Mileage     6
counter    41
Name: 48, dtype: object
 42:59 7 total
Mileage     7
counter    52
Name: 61, dtype: object
 50:50 8 total
Mileage    NaN
counter     70
Name: 89, dtype: object
 54 mins 9 total nan
Mileage    NaN
counter     76
Name: 96, dtype: object
 5k+3k  33 mins _ 6 total
Mileage     6
counter    77
Name: 97, dtype: object
 leesville meet 19:11 paced first two miles  total  nan
Mileage    NaN
counter     89
Name: 111, dtype: object
3k and 5k   6 total
Mileage    NaN
counter    103
Name: 127, dtype: object
 4x800   2:52 _ 4x300 _ 48,49,47,48 _ 5 miles
Mileage    NaN
counter    149
Name: 181, dtype: object
 8.5 64 mins nan
Mileage    8.4
counter    163
Name: 198, dtype: object
  58:30 nan
Mileage    NaN
counter    170
Name: 206, dtype: object
 6 at 630 pace  nan
Mileage    2.5
counter    212
Name: 254, dtype: object
 7 first  6 min pace nan
Mileage    NaN
counter    221
Name: 264, dtype: object
 3 at lunch, 4 afterschool nan
Mileage    8.5
counter    234
Name: 279, dtype: object
  59:30   8.5 bike
Mileage    NaN
counter    255
Name: 303, dtype: object
2.5 home, 14.8 bike nan
Mileage    NaN
counter    315
Name: 372, dtype: object
 5k course then 3k course   10 strides _ 6 miles
Mileage     10
counter    343
Name: 404, dtype: object
  in 64:46   it's a bit longer than 10 so more like 63 mins
Mileage    NaN
counter    362
Name: 426, dtype: object
 4x800   2:26,2:28,2:28,2:28_ 4x300 _ 46,47,48,47 _ 2x200 _ 4ish total
Mileage    NaN
counter    369
Name: 435, dtype: object
 2x800   2:25, 2:25 _ 2x400 _ 66,65 _ 4 miles total
Mileage    NaN
counter    371
Name: 437, dtype: object
 5x400   64,67,65,66,67 _ 1.5 cooldown _ 4 total
Mileage    NaN
counter    464
Name: 545, dtype: object
 6 min pace for 35 mins   11.5 total _ 74 mins
Mileage    NaN
counter    487
Name: 572, dtype: object
 10x400   all under 70 except for 2 where I ran 72 _4.5
Mileage    NaN
counter    514
Name: 604, dtype: object
 4x800   2:29, 2:31, 2:30, 2:32 _ 4x400 _ 69, 72, 72, 65 _ 2 mile cooldown _ 6 total
Mileage    NaN
counter    569
Name: 668, dtype: object
 1 hr 43 mins   12.4 miles
Mileage    NaN
counter    613
Name: 719, dtype: object
 1:40   to the beach and back _ 11 miles
Mileage    NaN
counter    826
Name: 967, dtype: object
 1/2 marathon! NCRC half marathon   1:24:10 _ got 6th or 7th _ 1st place in age group _ had to take a shit halfway through (eat good two nights before race and night before) _ great first six miles _ 6 min pace _ 36 mins for 6 miles then had to poop and all when down hill _ still did better than last race _ 13.1 miles _ mile or so warmup _ 14 total
Mileage    NaN
counter    956
Name: 1117, dtype: object
 7:30 pace   8 miles _ NEW SHOES!!
Mileage    NaN
counter    957
Name: 1118, dtype: object
 7:06 pace   9 miles
Mileage    NaN
counter    958
Name: 1119, dtype: object
 6:45 pace   11 miles
Mileage      21
counter    1069
Name: 1247, dtype: object
 FIRE TOWER!!!! Ran  with Maggie than ran  to trail then 3.5 to cone manor then ran 2.5 up to the fire tower   so beautiful up there _ but misjudged the mileage so on way down tried to take a shortcut through trout lake _ it ended up being a lot longer than 18 miles cuz I hit 18 around trout lake and then at least another 3 miles _ 21 miles

In [ ]:
manual_changes_mileage1 = [[27,9.25],[47,6],[51,6],[53,6.5],[56,15],[57,6],[59,5],[61,4],[69,5],[78,9.5],[80,4.2],
                  [81,7],[83,6],[106,5],[153,10],[190,6],[256,10],[266,10.5],[318,4],[504,4],[552,3],
                  [672,14.1],[903,12.67],[917,8],[30,5],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]
manual_changes_time2 = [[51,'29:30'],[56,'1:43:21'],[78,'60:47'],[81,'50:00'],[153,'1:03:00'],[256,'1:08:58'],
                       [266,'1:11:23'],[672,'1:11:23']]
manual_changes_date6 = [[552,'6/17/12']]
time_added.iloc[552,5] = '6/17/12'

In [ ]:
time_added.head()

  Notes2 Mileage  Time  ... Notes3 Mileage_init2 numbers
0            NaN  None  ...                   []      []
1              4  None  ...            [4 miles]      []
2              4  None  ...            [4 miles]      []
3            4.5  None  ...          [4.5 miles]      []
4              5  None  ...                   []      []

[5 rows x 16 columns]

# Garmin Data Wrangling

# Future Garmin Data Web Scraping

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.4.5.1)

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [ ]:
import numpy as np
import pandas as pd
import requests
import bs4
import lxml.etree as xml

In [ ]:
URL = "https://connect.garmin.com/modern/activities"

requests.get(URL)

In [ ]:
requests.get(URL, {}).text

'<!DOCTYPE html><html><head><meta charSet="utf-8"/><meta http-equiv="x-ua-compatible" content="ie=edge"/><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/><style data-href="/styles.3bfbd3dd9436b814ee1a.css">body,html{height:auto;font:400 14px/22px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222;background-color:#efefef;margin:0}a,a:active,a:hover,a:visited{text-decoration:none;color:inherit}#truste-consent-track{display:block}#truste-consent-content{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;box-sizing:border-box}#truste-consent-text{margin:0 1rem 0 0}#truste-consent-buttons{display:flex;flex-direction:row;margin-top:1px!important;margin-left:10px!important}#truste-consent-button,#truste-show-consent{font-family:Open Sans,HelveticaNeue,HelveticaNeueu,Arial,sans-serif;font-size:14px;color:#fff;background-color:#4a4a4a;cursor:pointer;padding:5px 20px;margin:12px 0;border-radius:4px;border:none}#truste-show-consent{margin-left:1rem}#truste-consent-button:hover,#truste-show-consent:hover{background-color:#4a4a4a}#truste-cookie-button{color:#fff;margin:1rem;line-height:2}@media (max-width:1024px){#truste-consent-content{flex-direction:column;flex-wrap:nowrap}#truste-consent-text{margin:20px 20px 10px;text-align:center;width:unset!important}#truste-consent-buttons{display:block;text-align:center}#truste-consent-button,#truste-show-consent{padding-top:10px;padding-bottom:10px;width:100%;margin:5px 0}#truste-cookie-button{display:inline-block;margin:auto;padding:15px}#truste-show-consent{margin-left:0}}.truste_overlay{background:#fff!important;opacity:.8!important}.truste_box_overlay{background:none!important}.truste_box_overlay_inner{border:3px solid #e8e8e8}</style><meta name="generator" content="Gatsby 2.4.2"/><title data-react-helmet="true">Garmin Connect | </title><link data-react-helmet="true" rel="shortcut icon" href="https://static.garmincdn.com/favicon.ico"/><meta data-react-helmet="true" name="robots" content="index,follow"/><meta data-react-helmet="true" name="revisit-after" content="15 days"/><meta data-react-helmet="true" name="author" content="Garmin International"/><meta data-react-helmet="true" property="fb:app_id" content="169380733077633"/><meta data-react-helmet="true" property="og:type" content="website"/><meta data-react-helmet="true" property="og:site_name" content="Garmin Connect"/><meta data-react-helmet="true" name="twitter:card" content="summary"/><meta data-react-helmet="true" name="twitter:site" content="@GarminFitness"/><meta data-react-helmet="true" name="description" content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device."/><meta data-react-helmet="true" property="og:title" content="Garmin Connect | Sign In"/><meta data-react-helmet="true" property="og:url" content="https://connect.garmin.com/signin"/><meta data-react-helmet="true" property="og:description" content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device."/><meta data-react-helmet="true" property="og:image" content="http://static.garmincdn.com/com.garmin.connect/content/images/garmin-connect-fb3.gif"/><meta data-react-helmet="true" name="twitter:title" content="Garmin Connect | Sign In"/><script data-react-helmet="true" src="https://tags.tiqcdn.com/utag/garmin/main/prod/utag.js"></script><style type="text/css" id="server-side-jss">.c017 {\n  height: 60px;\n  display: flex;\n  padding: 0 15% 0 15%;\n  background: #1a1a1a;\n  justify-content: space-between;\n}\n.c018 {\n  top: 3px;\n  width: 150px;\n  height: 28px;\n  display: block;\n  position: relative;\n  background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;\n  background-size: 236px 271px;\n}\n.c019 {\n  float: right;\n  margin: 0;\n  list-style: none;\n}\n.c0110 {\n  display: inline-block;\n  margin-right: 25px;\n}\n.c0110 a {\n  color: #fff;\n  font-size: 1em;\n  font-weight: 300;\n}\n.c0112 {\n  width: 0;\n  height: 0;\n  display: inline-block;\n  border-top: 4px solid #fff;\n  border-left: 4px solid transparent;\n  margin-left: 5px;\n  border-right: 4px solid transparent;\n}\n.c0113 {\n  width: 0;\n  height: 0;\n  display: inline-block;\n  border-left: 4px solid transparent;\n  margin-left: 5px;\n  border-right: 4px solid transparent;\n  border-bottom: 4px solid #fff;\n}\n.c0114 {\n  display: none;\n}\n.c0115 {\n  margin: 0;\n  padding: 0;\n}\n.c0116 {\n  font-size: inherit;\n  font-weight: inherit;\n  margin-block-end: 0em;\n  margin-block-start: 0em;\n}\n.c0117 {\n  margin-top: 12px;\n}\n.c0118 {\n  margin-top: 12px;\n}\n@media only screen and (max-width: 767px) {\n  .c018 {\n    top: -3px;\n  }\n  .c0120 {\n    height: 100%;\n  }\n  .c0121 {\n    height: 100vh;\n  }\n  .c017 {\n    margin: 0;\n    display: flex;\n    padding: 0;\n    flex-flow: wrap;\n    justify-content: space-between;\n  }\n  .c0117 {\n    display: none;\n  }\n  .c0114 {\n    width: 20px;\n    margin: 23px 25px;\n    height: 14px;\n    display: inline-flex;\n    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMjAgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLW1lbnU8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iaWNvbi1tZW51IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNMCwwIEwyMCwwIEwyMCwyIEwwLDIgTDAsMCBaIE0wLDYgTDIwLDYgTDIwLDggTDAsOCBMMCw2IFogTTAsMTIgTDIwLDEyIEwyMCwxNCBMMCwxNCBMMCwxMiBaIiBpZD0iQ29tYmluZWQtU2hhcGUiIGZpbGw9IiNGRkZGRkYiPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat;\n  }\n  .c0122 {\n    margin: 0;\n    display: block;\n    padding: 0;\n    flex-flow: wrap;\n    background: #121212;\n    justify-content: space-between;\n  }\n  .c0122 .c018 {\n    background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;\n    background-size: 236px 271px;\n  }\n  .c0122 .c0117 {\n    margin: 5px 0 10px 0;\n    display: flex;\n    flex-basis: 100%;\n  }\n  .c0122 .c0115 {\n    width: 100%;\n    margin: 0;\n    padding: 0;\n    display: grid;\n  }\n  .c0122 .c0110 {\n    color: #fff;\n    margin: 0;\n    padding: 10px 25px;\n    border-top: 1px solid #4d4d4d;\n  }\n  .c0122 .c0112 {\n    float: right;\n    margin-top: 10px;\n    border-top: 4px solid #fff;\n  }\n  .c0122 .c0113 {\n    float: right;\n    margin-top: 10px;\n    border-bottom: 4px solid #fff;\n  }\n  .c0122 .c0119 {\n    width: 80%;\n    margin-top: 20px;\n    border-top: 0px;\n    text-align: center;\n    justify-self: center;\n    margin-right: 0;\n  }\n  .c0122 .c0114 {\n    width: 20px;\n    right: 0;\n    height: 18px;\n    display: inline-block;\n    position: absolute;\n    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLWNsb3NlPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9Imljb24tY2xvc2UiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik02LjU0NTQ1NDU1LDggTC0xLjU5NzM4ODg5ZS0xMiwxLjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LC0xLjY0NDI0MDNlLTEyIEw4LDYuNTQ1NDU0NTUgTDE0LjU0NTQ1NDUsMS42NTIwMTE4NmUtMTIgTDE2LDEuNDU0NTQ1NDUgTDkuNDU0NTQ1NDUsOCBMMTYsMTQuNTQ1NDU0NSBMMTQuNTQ1NDU0NSwxNiBMOCw5LjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LDE2IEwtMS42MDI0OTU5MWUtMTIsMTQuNTQ1NDU0NSBMNi41NDU0NTQ1NSw4IFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0iI0ZGRkZGRiI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=) no-repeat ;\n  }\n  .c0122 .c0111 {\n    margin: 0;\n    padding: 0;\n  }\n  .c0122 .c0111 div {\n    padding: 10px 25px;\n  }\n  .c0122 .c0111 ul {\n    max-height: initial;\n  }\n  .c0122 .c0111 li {\n    color: #000;\n    padding: 10px 25px;\n  }\n  .c0122 .c0110:nth-last-child(2) {\n    border-bottom: 1px solid #4d4d4d;\n  }\n  .c0122 .c0110 a {\n    color: #fff;\n  }\n  .c0118 {\n    display: inline-flex;\n    padding: 10px 25px;\n    flex-basis: 50%;\n  }\n}\n.c0136 {\n  display: inline;\n}\n.c0136 a {\n  white-space: nowrap;\n}\n.c0137 {\n  left: 0;\n  width: 100%;\n  color: #fff;\n  bottom: 0;\n  margin: 0 auto;\n  z-index: 110;\n  position: fixed;\n  font-size: 14px;\n  font-family: \'Open Sans\',\'HelveticaNeue\',\'HelveticaNeueu\',Arial,sans-serif;\n  background-color: #333;\n}\n.c0123 {\n  left: 0;\n  width: 100%;\n  bottom: 0;\n  display: flex;\n  padding: 60px 0;\n  text-align: center;\n  flex-direction: column;\n  justify-content: center;\n  background-color: #EFEFEF;\n}\n.c0124 {\n  font-size: 1.3rem;\n  font-weight: 200;\n  padding-bottom: 30px;\n}\n.c0124 a {\n  padding: 10px;\n  border-color: #555555;\n  border-style: solid;\n  border-width: 1px;\n  border-radius: 3px;\n}\n.c0124 a:visited, .c0124 a:hover, .c0124 a:active {\n  color: #555555;\n}\n.c0125 {\n  flex: 1;\n  color: #6c6c6c;\n  box-sizing: border-box;\n  text-align: left;\n  font-weight: 300;\n  padding-left: 20px;\n}\n.c0126 {\n  flex: 1;\n  padding: 0;\n  box-sizing: border-box;\n  text-align: right;\n}\n.c0127 {\n  color: #6c6c6c;\n  display: inline-block;\n  font-weight: 400;\n}\n.c0127 a:visited, .c0127 a:hover, .c0127 a:active {\n  color: #6c6c6c;\n  text-decoration: none;\n}\n.c0127:not(:first-of-type):before {\n  width: 5px;\n  height: 5px;\n  margin: 0 10px 3px 10px;\n  content: "";\n  display: inline-block;\n  border-radius: 50%;\n  background-color: #6c6c6c;\n}\n.c0128 {\n  display: flex;\n  align-items: center;\n  justify-content: center;\n}\n.c0129 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0130 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0131 {\n  width: 24px;\n  height: 24px;\n  margin: 15px;\n  display: inline-block;\n}\n.c0132 a {\n  width: 24px;\n  height: 24px;\n  display: inline-block;\n}\n@media screen and (max-width:767px) {\n  .c0128 {\n    padding: 0 5px 0 5px;\n    flex-wrap: wrap;\n  }\n  .c0126 {\n    flex-basis: 100%;\n    text-align: center;\n  }\n  .c0125 {\n    text-align: center;\n    padding-left: 0;\n  }\n}\n.c0133 {\n  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtaW5zdGFncmFtLWljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0ic29jaWFsLWluc3RhZ3JhbS1pY29uIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iaW5zdGFncmFtIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDIzLjQyMTE3NjUgMCAyMy40MjExNzY1IDIzLjQyMTE3NjUgMCAyMy40MjExNzY1Ij48L3BvbHlnb24+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNS45MDk2MzU0LDAgQzE4Ljc3ODM2MTEsMC4wMDUwNjQ2NjQ5MiAxOC44ODk3NTM5LDAuMDI4OTQwOTQyNCAxOS40NTAzMzQ0LDAuMTA5OTc1NTgxIEMyMC42MDY5Mzg3LDAuMjc3MTA5NTIzIDIxLjU3ODM3MDUsMC43Mzg3MTc1NTQgMjIuMzcxODYzMiwxLjQ5Njk3MDI1IEMyMi43OTgwNTU5LDEuODk4OTcyOTUgMjMuMTQ2MjgyOCwyLjM3NjMxODgxIDIzLjM5ODk5MTQsMi45MDQ5NDcwOSBDMjMuNzM1MzM5OCwzLjU4OTQwMDM4IDIzLjkwMDk4MjMsNC4yMzc2Nzc0OSAyMy45NzYyMDg2LDUuMjAxNDEwODcgQzIzLjk5Mjg0NTEsNS40MDgzMzg2MSAyNC4wMDAwNzg0LDguNjk4OTIzNzYgMjQuMDAwMDc4NCwxMS45OTI0MDMgQzI0LjAwMDA3ODQsMTUuMjg0NDM1MiAyMy45OTM1Njg1LDE4LjU4MTUzMjEgMjMuOTc2OTMxOSwxOC43ODg0NTk4IEMyMy45MDI0Mjg5LDE5LjczNjk5OTIgMjMuNzM2Nzg2NCwyMC4zOTAzNDEgMjMuNDExMjg4LDIxLjA2MjQ5NDMgQzIyLjc2NzQ2NTEsMjIuMzk1OTA0MSAyMS41Njg1OTA1LDIzLjM3NzQ5NzUgMjAuMTM0NjA0NCwyMy43NDUzMTk3IEMxOS42MTM4MDcsMjMuODc5ODk1MSAxOS4xNDIxOTYsMjMuOTQzNTY1MiAxOC4zMjk4OTY3LDIzLjk4MTE4ODQgQzE4LjAzOTg0MTUsMjMuOTk2MzgyNCAxNS4wMDkwODk5LDI0IDExLjk3ODMzODQsMjQgQzguOTQ3NTg2NzksMjQgNS45MTgyODE4OSwyMy45OTA1OTQyIDUuNjIwOTkzMzgsMjMuOTc3NTcwOCBDNC45MjAwODY4NywyMy45NDQyODg3IDQuMzczMjQ5NiwyMy44NzQxMDY5IDMuODc5MjE1MzksMjMuNzQ2NzY2OCBDMi40NDgxNzAzNiwyMy4zNzY2NDgyIDEuMjUwODM3MjcsMjIuMzk4NDMyIDAuNjAyNTMxNzI1LDIxLjA2OTcyOTYgQzAuMjcwNTIzMzgsMjAuMzgwOTM1MiAwLjExMzU2MDgyOSwxOS43NTE0Njk3IDAuMDMwMzc3OTEsMTguNzUwODM2NiBDMC4wMDY1MDgwMjg5NSwxOC40NjY0OTE4IDAuMDAwNzIxMzkxMTMxLDE3LjAwMjgwMzcgMC4wMDA3MjEzOTExMzEsMTEuOTk1Mjk3MSBDMC4wMDA3MjEzOTExMzEsMTAuMzA4MDQwMiAtMC4wMDA3MjUyNjgzMjUsOS4wNTA1NTYyMSAwLjAwMDcyMTM5MTEzMSw4LjA5NDc4MTU5IEMwLjAwNTc4NDY5OTIzLDUuMjI4MTgxMjQgMC4wMjg5MzEyNTA1LDUuMTEzODY0NTIgMC4xMTA2Njc1MSw0LjU1MjQxMDI0IEMwLjI3Nzc1NjY3NywzLjM5NjIxOTU5IDAuNzM5MjQxMDQzLDIuNDIzODAzOTMgMS41MDAxODM5MiwxLjYzMjk5MjY3IEMxLjg5NTY4MjgxLDEuMjE2NTg0MjcgMi4zNjI2MjgwNSwwLjg3NDQ5MDc1MiAyLjg3ODg1MDM4LDAuNjIyOTUzNzg1IEMzLjU3NjE0MDI0LDAuMjc2Mzg2IDQuMjE1NTYzNzIsMC4xMTQzMTY3MjIgNS4yNDQxMzg1OSwwLjAyODk0MDk0MjQgQzUuNTI5MTMwNSwwLjAwNTA2NDY2NDkyIDYuOTkzODczMiwwIDEyLjAwMzY1NDksMCBMMTUuOTA5NjM1NCwwIFogTTExLjk5NzE0NDksMy4xMzg2NDUyIEwxMS45OTg1OTE2LDMuMTM4NjQ1MiBMMTEuOTk1Njk4MywzLjEzODY0NTIgTDExLjk5NzE0NDksMy4xMzg2NDUyIEM5LjU5MjA3MzU4LDMuMTM4NjQ1MiA5LjI4OTcyMTc2LDMuMTQ5NDk4MDYgOC4zNDUwNTMxMywzLjE5MjE4NTk1IEM3LjQwMTgzMTE3LDMuMjM1NTk3MzYgNi43NTgwNjc3MSwzLjM4NDY0MzIxIDYuMTk0NTkzODUsMy42MDM4NzA4NSBDNS42MDMzMzQwMSwzLjgyNjUxNjUxIDUuMDY3Njk0MDIsNC4xNzUzOTMwNiA0LjYyNDk2ODM0LDQuNjI2MjA5NjQgQzQuMTc0MzYwMTksNS4wNjg4NDQzOCAzLjgyNTU4MjQ2LDUuNjA0MzcyNzcgMy42MDI5MDM0NCw2LjE5NTUzMjI0IEMzLjM4MzAxMTIsNi43NTkxNTcxIDMuMjMzMjgxOTQsNy40MDM4MTY1OSAzLjE5MTMyODgyLDguMzQ2NTY3NzkgQzMuMTQ4NjUyMzcsOS4yOTIyMTMwOCAzLjEzNzgwMjQyLDkuNTkzOTIyNCAzLjEzNzgwMjQyLDEyLjAwMTA4NTMgQzMuMTM3ODAyNDIsMTQuNDA3NTI0NiAzLjE0ODY1MjM3LDE0LjcwOTIzNCAzLjE5MTMyODgyLDE1LjY1NDE1NTcgQzMuMjM0NzI4NiwxNi41OTc2MzA1IDMuMzgzNzM0NTMsMTcuMjQxNTY2NCAzLjYwMjkwMzQ0LDE3LjgwNTE5MTMgQzMuODI1MzAxODMsMTguMzk2NzA0NSA0LjE3NDEwOTgsMTguOTMyNTI2MyA0LjYyNDk2ODM0LDE5LjM3NTIzNzQgQzUuMDY3MjY1MTcsMTkuODI2NDA4MyA1LjYwMjY5NzksMjAuMTc1NTU3NSA2LjE5Mzg3MDUyLDIwLjM5ODI5OTcgQzYuNzU3MzQ0MzgsMjAuNjE2ODAzOCA3LjQwMTEwNzg0LDIwLjc2NjU3MzIgOC4zNDQzMjk4LDIwLjgwOTk4NDYgQzkuMjg5NzIxNzYsMjAuODUyNjcyNSA5LjU5MTM1MDI1LDIwLjg2MzUyNTQgMTEuOTk3MTQ0OSwyMC44NjM1MjU0IEMxNC40MDM2NjI5LDIwLjg2MzUyNTQgMTQuNzA0NTY4MSwyMC44NTI2NzI1IDE1LjY0OTk2MDEsMjAuODA5OTg0NiBDMTYuNTkzMTgyLDIwLjc2NjU3MzIgMTcuMjM3NjY4OCwyMC42MTY4MDM4IDE3LjgwMTE0MjcsMjAuMzk4Mjk5NyBDMTguMzkyMTczMSwyMC4xNzU2OTQzIDE4LjkyNzM5NzYsMTkuODI2NTE5OSAxOS4zNjkzMjE1LDE5LjM3NTIzNzQgQzE5LjgyMDM4NjksMTguOTMyNTUzMiAyMC4xNjk0MzY5LDE4LjM5NjczODkgMjAuMzkyMTA5NywxNy44MDUxOTEzIEMyMC42MDk4MzIsMTcuMjQxNTY2NCAyMC43NTk1NjEzLDE2LjU5NzYzMDUgMjAuODAzNjg0NCwxNS42NTQxNTU3IEMyMC44NDYzNjA4LDE0LjcwOTIzNCAyMC44NTcyMTA4LDE0LjQwNzUyNDYgMjAuODU3MjEwOCwxMi4wMDEwODUzIEMyMC44NTcyMTA4LDkuNTkzOTIyNCAyMC44NDYzNjA4LDkuMjkyMjEzMDggMjAuODAzNjg0NCw4LjM0NjU2Nzc5IEMyMC43NTk1NjEzLDcuNDAzMDkzMDYgMjAuNjA5ODMyLDYuNzU5MTU3MSAyMC4zOTIxMDk3LDYuMTk1NTMyMjQgQzIwLjE2OTQyNzIsNS42MDQyMDEyIDE5LjgyMDM3MTUsNS4wNjg2MjQ5OSAxOS4zNjkzMjE1LDQuNjI2MjA5NjQgQzE4LjkyNzMxMDYsNC4xNzQ4NjM3NCAxOC4zOTE3ODA1LDMuODI1ODk3OTcgMTcuODAwNDE5MywzLjYwMzg3MDg1IEMxNy4yMzYyMjIxLDMuMzg0NjQzMjEgMTYuNTkxNzM1NCwzLjIzNTU5NzM2IDE1LjY0ODUxMzQsMy4xOTIxODU5NSBDMTQuNzAzODQ0OCwzLjE0OTQ5ODA2IDE0LjQwMjkzOTYsMy4xMzg2NDUyIDExLjk5NzE0NDksMy4xMzg2NDUyIFogTTExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS45OTg1OTE2LDQuNzM1NDYxNyBDMTQuMzYzODc5OCw0LjczNTQ2MTcgMTQuNjQ0NTMxNyw0Ljc0NDE0Mzk4IDE1LjU3ODM1MDQsNC43ODY4MzE4NyBDMTYuNDQyNzI5NCw0LjgyNTkwMjE0IDE2LjkxMTQ0NzEsNC45NzA2MDY4NiAxNy4yMjMyMDIyLDUuMDkyMTU4ODEgQzE3LjYzNjk0NjgsNS4yNTI3ODEwNCAxNy45MzIwNjUzLDUuNDQ0NTE0NzkgMTguMjQxNjUwNSw1Ljc1NDkwNjM5IEMxOC41NTE5NTg5LDYuMDY0NTc0NDggMTguNzQzNjQxMyw2LjM2MDQ5NTYxIDE4LjkwNDk0MzgsNi43NzM2Mjc1NyBDMTkuMDI1NzM5OSw3LjA4NjE4OTc0IDE5LjE3MDQwNTgsNy41NTUwMzMwMSAxOS4yMDk0NjU2LDguNDE4OTIwMTQgQzE5LjI1MjE0MjEsOS4zNTI5ODkwNiAxOS4yNjE1NDU0LDkuNjMzNzE2MiAxOS4yNjE1NDU0LDExLjk5ODkxNDcgQzE5LjI2MTU0NTQsMTQuMzY0MTEzMiAxOS4yNTIxNDIxLDE0LjY0NDg0MDQgMTkuMjA5NDY1NiwxNS41Nzg5MDkzIEMxOS4xNzA0MDU4LDE2LjQ0Mjc5NjQgMTkuMDI1NzM5OSwxNi45MTE2Mzk3IDE4LjkwNDk0MzgsMTcuMjI0MjAxOSBDMTguNzYyNjcxMSwxNy42MDg4NDc5IDE4LjUzNjAxOCwxNy45NTY3MDY1IDE4LjI0MTY1MDUsMTguMjQyMTk5NSBDMTcuOTU2MDQ2NSwxOC41MzY1ODkxIDE3LjYwODAwMzEsMTguNzYzMDc1NyAxNy4yMjMyMDIyLDE4LjkwNDk0NzEgQzE2LjkxMTQ0NzEsMTkuMDI2NDk5MSAxNi40NDI3Mjk0LDE5LjE3MDQ4MDIgMTUuNTc4MzUwNCwxOS4yMTAyNzQgQzE0LjY0NDUzMTcsMTkuMjUyOTYxOSAxNC4zNjM4Nzk4LDE5LjI2MTY0NDIgMTEuOTk4NTkxNiwxOS4yNjE2NDQyIEM5LjYzMjU4MDA1LDE5LjI2MTY0NDIgOS4zNTE5MjgxMSwxOS4yNTI5NjE5IDguNDE4MTA5NDMsMTkuMjEwMjc0IEM3LjU1NDQ1Mzc0LDE5LjE3MDQ4MDIgNy4wODU3MzYwOCwxOS4wMjU3NzU1IDYuNzczMjU3NjMsMTguOTA0OTQ3MSBDNi4zODgzNzQ4LDE4Ljc2MjgxODQgNi4wNDAxNDkzMywxOC41MzYzNzQxIDUuNzU0MDg2MDUsMTguMjQyMTk5NSBDNS40NTk3NzUzLDE3Ljk1NjUxOSA1LjIzMzM0OTM4LDE3LjYwODM4MjQgNS4wOTE1MTYwMiwxNy4yMjM0NzgzIEM0Ljk2OTk5NjYyLDE2LjkxMDkxNjIgNC44MjUzMzA2OCwxNi40NDIwNzI5IDQuNzg2MjcwODcsMTUuNTc4MTg1OCBDNC43NDM1OTQ0MiwxNC42NDQxMTY4IDQuNzM0OTE0NDYsMTQuMzYzMzg5NyA0LjczNDkxNDQ2LDExLjk5Njc0NDEgQzQuNzM0OTE0NDYsOS42MzAwOTg1OCA0Ljc0MzU5NDQyLDkuMzUwODE4NDkgNC43ODYyNzA4Nyw4LjQxNjc0OTU3IEM0LjgyNTMzMDY4LDcuNTUyODYyNDQgNC45Njk5OTY2Miw3LjA4NDAxOTE3IDUuMDkxNTE2MDIsNi43NzE0NTcgQzUuMjMzMzE5ODIsNi4zODYzMjcxNCA1LjQ1OTc0MjM5LDYuMDM3OTQ4NDQgNS43NTQwODYwNSw1Ljc1MjAxMjMgQzYuMDQwMTQ5MzMsNS40NTc4Mzc3IDYuMzg4Mzc0OCw1LjIzMTM5MzQxIDYuNzczMjU3NjMsNS4wODkyNjQ3MiBDNy4wODU3MzYwOCw0Ljk2Njk4OTI0IDcuNTU0NDUzNzQsNC44MjMwMDgwNSA4LjQxODEwOTQzLDQuNzgzMjE0MjUgQzkuMjM1NDcyMDMsNC43NDYzMTQ1NSA5LjU1MjI5MDQ1LDQuNzM1NDYxNyAxMS4yMDM2NTIyLDQuNzMzMjkxMTMgTDExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS4yMDM2NTIyLDQuNzM1NDYxNyBaIE0xMS45OTg1OTE2LDcuNDUwMTIyMDkgTDExLjk5Nzg2ODMsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IEM5LjQ4NTgzNzM3LDcuNDUwMTIyMDkgNy40NDg4NDc2LDkuNDg3NjU3NzIgNy40NDg4NDc2LDEyLjAwMTA4NTMgQzcuNDQ4ODQ3NiwxNC41MTQ1MTI5IDkuNDg1ODM3MzcsMTYuNTUyMDQ4NSAxMS45OTg1OTE2LDE2LjU1MjA0ODUgQzE0LjUxMTM0NTgsMTYuNTUyMDQ4NSAxNi41NDgzMzU2LDE0LjUxNDUxMjkgMTYuNTQ4MzM1NiwxMi4wMDEwODUzIEMxNi41NDgzMzU2LDkuNDg3NjU3NzIgMTQuNTExMzQ1OCw3LjQ1MDEyMjA5IDExLjk5ODU5MTYsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IFogTTExLjk5ODU5MTYsOS4wNDY5Mzg1OSBDMTMuMDUzNzIzOCw5LjA0NjkzODU3IDE0LjAyODcwNjIsOS42MDk5OTU3NCAxNC41NTYyNzIzLDEwLjUyNDAxMTkgQzE1LjA4MzgzODUsMTEuNDM4MDI4MSAxNS4wODM4Mzg1LDEyLjU2NDE0MjUgMTQuNTU2MjcyMywxMy40NzgxNTg3IEMxNC4wMjg3MDYyLDE0LjM5MjE3NDggMTMuMDUzNzIzOCwxNC45NTUyMzIgMTEuOTk4NTkxNiwxNC45NTUyMzIgQzEwLjM2NzQ5ODUsMTQuOTU1MjMxOSA5LjA0NTIzNjM3LDEzLjYzMjYxNTQgOS4wNDUyMzYzNywxMi4wMDEwODUzIEM5LjA0NTIzNjM3LDEwLjM2OTU1NTEgMTAuMzY3NDk4NSw5LjA0NjkzODYzIDExLjk5ODU5MTYsOS4wNDY5Mzg1OSBaIE0xNi43Mjc3MjEzLDYuMjA3MTA4NjIgQzE2LjM0Nzg0MjcsNi4yMDcxMDg2MSAxNS45OTY4MjA0LDYuNDA5ODI1NzQgMTUuODA2ODgxMSw2LjczODg5ODQzIEMxNS42MTY5NDE4LDcuMDY3OTcxMTEgMTUuNjE2OTQxOCw3LjQ3MzQwNTM5IDE1LjgwNjg4MTEsNy44MDI0NzgwOCBDMTUuOTk2ODIwNCw4LjEzMTU1MDc3IDE2LjM0Nzg0MjcsOC4zMzQyNjc5IDE2LjcyNzcyMTMsOC4zMzQyNjc4OCBDMTcuMzE0OTYyOCw4LjMzNDI2Nzg3IDE3Ljc5MTAxNiw3Ljg1ODA4NzA1IDE3Ljc5MTAxNiw3LjI3MDY4ODI1IEMxNy43OTEwMTYsNi42ODMyODk0NSAxNy4zMTQ5NjI4LDYuMjA3MTA4NjQgMTYuNzI3NzIxMyw2LjIwNzEwODYyIFoiIGlkPSJTaGFwZSIgZmlsbD0iI0NGQ0ZDRiIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);\n}\n.c0134 {\n  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtZmFjZWJvb2staWNvbjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJzb2NpYWwtZmFjZWJvb2staWNvbiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkd

In [ ]:
web_page = bs4.BeautifulSoup(requests.get(URL, {}).text, "lxml")

In [ ]:
web_page

<!DOCTYPE html>
<html><head><meta charset="utf-8"/><meta content="ie=edge" http-equiv="x-ua-compatible"/><meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/><style data-href="/styles.3bfbd3dd9436b814ee1a.css">body,html{height:auto;font:400 14px/22px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;color:#222;background-color:#efefef;margin:0}a,a:active,a:hover,a:visited{text-decoration:none;color:inherit}#truste-consent-track{display:block}#truste-consent-content{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;box-sizing:border-box}#truste-consent-text{margin:0 1rem 0 0}#truste-consent-buttons{display:flex;flex-direction:row;margin-top:1px!important;margin-left:10px!important}#truste-consent-button,#truste-show-consent{font-family:Open Sans,HelveticaNeue,HelveticaNeueu,Arial,sans-serif;font-size:14px;color:#fff;background-color:#4a4a4a;cursor:pointer;padding:5px 20px;margin:12px 0;border-radius:4px;border:none}#truste-show-consent{margin-left:1rem}#truste-consent-button:hover,#truste-show-consent:hover{background-color:#4a4a4a}#truste-cookie-button{color:#fff;margin:1rem;line-height:2}@media (max-width:1024px){#truste-consent-content{flex-direction:column;flex-wrap:nowrap}#truste-consent-text{margin:20px 20px 10px;text-align:center;width:unset!important}#truste-consent-buttons{display:block;text-align:center}#truste-consent-button,#truste-show-consent{padding-top:10px;padding-bottom:10px;width:100%;margin:5px 0}#truste-cookie-button{display:inline-block;margin:auto;padding:15px}#truste-show-consent{margin-left:0}}.truste_overlay{background:#fff!important;opacity:.8!important}.truste_box_overlay{background:none!important}.truste_box_overlay_inner{border:3px solid #e8e8e8}</style><meta content="Gatsby 2.4.2" name="generator"/><title data-react-helmet="true">Garmin Connect | </title><link data-react-helmet="true" href="https://static.garmincdn.com/favicon.ico" rel="shortcut icon"/><meta content="index,follow" data-react-helmet="true" name="robots"/><meta content="15 days" data-react-helmet="true" name="revisit-after"/><meta content="Garmin International" data-react-helmet="true" name="author"/><meta content="169380733077633" data-react-helmet="true" property="fb:app_id"/><meta content="website" data-react-helmet="true" property="og:type"/><meta content="Garmin Connect" data-react-helmet="true" property="og:site_name"/><meta content="summary" data-react-helmet="true" name="twitter:card"/><meta content="@GarminFitness" data-react-helmet="true" name="twitter:site"/><meta content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device." data-react-helmet="true" name="description"/><meta content="Garmin Connect | Sign In" data-react-helmet="true" property="og:title"/><meta content="https://connect.garmin.com/signin" data-react-helmet="true" property="og:url"/><meta content="Sign in to Garmin Connect to track, analyze and share the activities from your Garmin device." data-react-helmet="true" property="og:description"/><meta content="http://static.garmincdn.com/com.garmin.connect/content/images/garmin-connect-fb3.gif" data-react-helmet="true" property="og:image"/><meta content="Garmin Connect | Sign In" data-react-helmet="true" name="twitter:title"/><script data-react-helmet="true" src="https://tags.tiqcdn.com/utag/garmin/main/prod/utag.js"></script><style id="server-side-jss" type="text/css">.c017 {
  height: 60px;
  display: flex;
  padding: 0 15% 0 15%;
  background: #1a1a1a;
  justify-content: space-between;
}
.c018 {
  top: 3px;
  width: 150px;
  height: 28px;
  display: block;
  position: relative;
  background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;
  background-size: 236px 271px;
}
.c019 {
  float: right;
  margin: 0;
  list-style: none;
}
.c0110 {
  display: inline-block;
  margin-right: 25px;
}
.c0110 a {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
.c0112 {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  margin-left: 5px;
  border-right: 4px solid transparent;
}
.c0113 {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 4px solid transparent;
  margin-left: 5px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}
.c0114 {
  display: none;
}
.c0115 {
  margin: 0;
  padding: 0;
}
.c0116 {
  font-size: inherit;
  font-weight: inherit;
  margin-block-end: 0em;
  margin-block-start: 0em;
}
.c0117 {
  margin-top: 12px;
}
.c0118 {
  margin-top: 12px;
}
@media only screen and (max-width: 767px) {
  .c018 {
    top: -3px;
  }
  .c0120 {
    height: 100%;
  }
  .c0121 {
    height: 100vh;
  }
  .c017 {
    margin: 0;
    display: flex;
    padding: 0;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .c0117 {
    display: none;
  }
  .c0114 {
    width: 20px;
    margin: 23px 25px;
    height: 14px;
    display: inline-flex;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMjAgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLW1lbnU8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iaWNvbi1tZW51IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNMCwwIEwyMCwwIEwyMCwyIEwwLDIgTDAsMCBaIE0wLDYgTDIwLDYgTDIwLDggTDAsOCBMMCw2IFogTTAsMTIgTDIwLDEyIEwyMCwxNCBMMCwxNCBMMCwxMiBaIiBpZD0iQ29tYmluZWQtU2hhcGUiIGZpbGw9IiNGRkZGRkYiPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat;
  }
  .c0122 {
    margin: 0;
    display: block;
    padding: 0;
    flex-flow: wrap;
    background: #121212;
    justify-content: space-between;
  }
  .c0122 .c018 {
    background: transparent url(/static/logo-sprite-@2x-87aa58de41a3347bb5fc1e8ad25c31b6.png) no-repeat 0 -23.47619px;
    background-size: 236px 271px;
  }
  .c0122 .c0117 {
    margin: 5px 0 10px 0;
    display: flex;
    flex-basis: 100%;
  }
  .c0122 .c0115 {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
  }
  .c0122 .c0110 {
    color: #fff;
    margin: 0;
    padding: 10px 25px;
    border-top: 1px solid #4d4d4d;
  }
  .c0122 .c0112 {
    float: right;
    margin-top: 10px;
    border-top: 4px solid #fff;
  }
  .c0122 .c0113 {
    float: right;
    margin-top: 10px;
    border-bottom: 4px solid #fff;
  }
  .c0122 .c0119 {
    width: 80%;
    margin-top: 20px;
    border-top: 0px;
    text-align: center;
    justify-self: center;
    margin-right: 0;
  }
  .c0122 .c0114 {
    width: 20px;
    right: 0;
    height: 18px;
    display: inline-block;
    position: absolute;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5pY29uLWNsb3NlPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9Imljb24tY2xvc2UiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik02LjU0NTQ1NDU1LDggTC0xLjU5NzM4ODg5ZS0xMiwxLjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LC0xLjY0NDI0MDNlLTEyIEw4LDYuNTQ1NDU0NTUgTDE0LjU0NTQ1NDUsMS42NTIwMTE4NmUtMTIgTDE2LDEuNDU0NTQ1NDUgTDkuNDU0NTQ1NDUsOCBMMTYsMTQuNTQ1NDU0NSBMMTQuNTQ1NDU0NSwxNiBMOCw5LjQ1NDU0NTQ1IEwxLjQ1NDU0NTQ1LDE2IEwtMS42MDI0OTU5MWUtMTIsMTQuNTQ1NDU0NSBMNi41NDU0NTQ1NSw4IFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0iI0ZGRkZGRiI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=) no-repeat ;
  }
  .c0122 .c0111 {
    margin: 0;
    padding: 0;
  }
  .c0122 .c0111 div {
    padding: 10px 25px;
  }
  .c0122 .c0111 ul {
    max-height: initial;
  }
  .c0122 .c0111 li {
    color: #000;
    padding: 10px 25px;
  }
  .c0122 .c0110:nth-last-child(2) {
    border-bottom: 1px solid #4d4d4d;
  }
  .c0122 .c0110 a {
    color: #fff;
  }
  .c0118 {
    display: inline-flex;
    padding: 10px 25px;
    flex-basis: 50%;
  }
}
.c0136 {
  display: inline;
}
.c0136 a {
  white-space: nowrap;
}
.c0137 {
  left: 0;
  width: 100%;
  color: #fff;
  bottom: 0;
  margin: 0 auto;
  z-index: 110;
  position: fixed;
  font-size: 14px;
  font-family: 'Open Sans','HelveticaNeue','HelveticaNeueu',Arial,sans-serif;
  background-color: #333;
}
.c0123 {
  left: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 60px 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #EFEFEF;
}
.c0124 {
  font-size: 1.3rem;
  font-weight: 200;
  padding-bottom: 30px;
}
.c0124 a {
  padding: 10px;
  border-color: #555555;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.c0124 a:visited, .c0124 a:hover, .c0124 a:active {
  color: #555555;
}
.c0125 {
  flex: 1;
  color: #6c6c6c;
  box-sizing: border-box;
  text-align: left;
  font-weight: 300;
  padding-left: 20px;
}
.c0126 {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}
.c0127 {
  color: #6c6c6c;
  display: inline-block;
  font-weight: 400;
}
.c0127 a:visited, .c0127 a:hover, .c0127 a:active {
  color: #6c6c6c;
  text-decoration: none;
}
.c0127:not(:first-of-type):before {
  width: 5px;
  height: 5px;
  margin: 0 10px 3px 10px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  background-color: #6c6c6c;
}
.c0128 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c0129 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0130 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0131 {
  width: 24px;
  height: 24px;
  margin: 15px;
  display: inline-block;
}
.c0132 a {
  width: 24px;
  height: 24px;
  display: inline-block;
}
@media screen and (max-width:767px) {
  .c0128 {
    padding: 0 5px 0 5px;
    flex-wrap: wrap;
  }
  .c0126 {
    flex-basis: 100%;
    text-align: center;
  }
  .c0125 {
    text-align: center;
    padding-left: 0;
  }
}
.c0133 {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjEgKDcyNjMxKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5zb2NpYWwtaW5zdGFncmFtLWljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0ic29jaWFsLWluc3RhZ3JhbS1pY29uIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iaW5zdGFncmFtIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhdGgiIHBvaW50cz0iMCAwIDIzLjQyMTE3NjUgMCAyMy40MjExNzY1IDIzLjQyMTE3NjUgMCAyMy40MjExNzY1Ij48L3BvbHlnb24+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xNS45MDk2MzU0LDAgQzE4Ljc3ODM2MTEsMC4wMDUwNjQ2NjQ5MiAxOC44ODk3NTM5LDAuMDI4OTQwOTQyNCAxOS40NTAzMzQ0LDAuMTA5OTc1NTgxIEMyMC42MDY5Mzg3LDAuMjc3MTA5NTIzIDIxLjU3ODM3MDUsMC43Mzg3MTc1NTQgMjIuMzcxODYzMiwxLjQ5Njk3MDI1IEMyMi43OTgwNTU5LDEuODk4OTcyOTUgMjMuMTQ2MjgyOCwyLjM3NjMxODgxIDIzLjM5ODk5MTQsMi45MDQ5NDcwOSBDMjMuNzM1MzM5OCwzLjU4OTQwMDM4IDIzLjkwMDk4MjMsNC4yMzc2Nzc0OSAyMy45NzYyMDg2LDUuMjAxNDEwODcgQzIzLjk5Mjg0NTEsNS40MDgzMzg2MSAyNC4wMDAwNzg0LDguNjk4OTIzNzYgMjQuMDAwMDc4NCwxMS45OTI0MDMgQzI0LjAwMDA3ODQsMTUuMjg0NDM1MiAyMy45OTM1Njg1LDE4LjU4MTUzMjEgMjMuOTc2OTMxOSwxOC43ODg0NTk4IEMyMy45MDI0Mjg5LDE5LjczNjk5OTIgMjMuNzM2Nzg2NCwyMC4zOTAzNDEgMjMuNDExMjg4LDIxLjA2MjQ5NDMgQzIyLjc2NzQ2NTEsMjIuMzk1OTA0MSAyMS41Njg1OTA1LDIzLjM3NzQ5NzUgMjAuMTM0NjA0NCwyMy43NDUzMTk3IEMxOS42MTM4MDcsMjMuODc5ODk1MSAxOS4xNDIxOTYsMjMuOTQzNTY1MiAxOC4zMjk4OTY3LDIzLjk4MTE4ODQgQzE4LjAzOTg0MTUsMjMuOTk2MzgyNCAxNS4wMDkwODk5LDI0IDExLjk3ODMzODQsMjQgQzguOTQ3NTg2NzksMjQgNS45MTgyODE4OSwyMy45OTA1OTQyIDUuNjIwOTkzMzgsMjMuOTc3NTcwOCBDNC45MjAwODY4NywyMy45NDQyODg3IDQuMzczMjQ5NiwyMy44NzQxMDY5IDMuODc5MjE1MzksMjMuNzQ2NzY2OCBDMi40NDgxNzAzNiwyMy4zNzY2NDgyIDEuMjUwODM3MjcsMjIuMzk4NDMyIDAuNjAyNTMxNzI1LDIxLjA2OTcyOTYgQzAuMjcwNTIzMzgsMjAuMzgwOTM1MiAwLjExMzU2MDgyOSwxOS43NTE0Njk3IDAuMDMwMzc3OTEsMTguNzUwODM2NiBDMC4wMDY1MDgwMjg5NSwxOC40NjY0OTE4IDAuMDAwNzIxMzkxMTMxLDE3LjAwMjgwMzcgMC4wMDA3MjEzOTExMzEsMTEuOTk1Mjk3MSBDMC4wMDA3MjEzOTExMzEsMTAuMzA4MDQwMiAtMC4wMDA3MjUyNjgzMjUsOS4wNTA1NTYyMSAwLjAwMDcyMTM5MTEzMSw4LjA5NDc4MTU5IEMwLjAwNTc4NDY5OTIzLDUuMjI4MTgxMjQgMC4wMjg5MzEyNTA1LDUuMTEzODY0NTIgMC4xMTA2Njc1MSw0LjU1MjQxMDI0IEMwLjI3Nzc1NjY3NywzLjM5NjIxOTU5IDAuNzM5MjQxMDQzLDIuNDIzODAzOTMgMS41MDAxODM5MiwxLjYzMjk5MjY3IEMxLjg5NTY4MjgxLDEuMjE2NTg0MjcgMi4zNjI2MjgwNSwwLjg3NDQ5MDc1MiAyLjg3ODg1MDM4LDAuNjIyOTUzNzg1IEMzLjU3NjE0MDI0LDAuMjc2Mzg2IDQuMjE1NTYzNzIsMC4xMTQzMTY3MjIgNS4yNDQxMzg1OSwwLjAyODk0MDk0MjQgQzUuNTI5MTMwNSwwLjAwNTA2NDY2NDkyIDYuOTkzODczMiwwIDEyLjAwMzY1NDksMCBMMTUuOTA5NjM1NCwwIFogTTExLjk5NzE0NDksMy4xMzg2NDUyIEwxMS45OTg1OTE2LDMuMTM4NjQ1MiBMMTEuOTk1Njk4MywzLjEzODY0NTIgTDExLjk5NzE0NDksMy4xMzg2NDUyIEM5LjU5MjA3MzU4LDMuMTM4NjQ1MiA5LjI4OTcyMTc2LDMuMTQ5NDk4MDYgOC4zNDUwNTMxMywzLjE5MjE4NTk1IEM3LjQwMTgzMTE3LDMuMjM1NTk3MzYgNi43NTgwNjc3MSwzLjM4NDY0MzIxIDYuMTk0NTkzODUsMy42MDM4NzA4NSBDNS42MDMzMzQwMSwzLjgyNjUxNjUxIDUuMDY3Njk0MDIsNC4xNzUzOTMwNiA0LjYyNDk2ODM0LDQuNjI2MjA5NjQgQzQuMTc0MzYwMTksNS4wNjg4NDQzOCAzLjgyNTU4MjQ2LDUuNjA0MzcyNzcgMy42MDI5MDM0NCw2LjE5NTUzMjI0IEMzLjM4MzAxMTIsNi43NTkxNTcxIDMuMjMzMjgxOTQsNy40MDM4MTY1OSAzLjE5MTMyODgyLDguMzQ2NTY3NzkgQzMuMTQ4NjUyMzcsOS4yOTIyMTMwOCAzLjEzNzgwMjQyLDkuNTkzOTIyNCAzLjEzNzgwMjQyLDEyLjAwMTA4NTMgQzMuMTM3ODAyNDIsMTQuNDA3NTI0NiAzLjE0ODY1MjM3LDE0LjcwOTIzNCAzLjE5MTMyODgyLDE1LjY1NDE1NTcgQzMuMjM0NzI4NiwxNi41OTc2MzA1IDMuMzgzNzM0NTMsMTcuMjQxNTY2NCAzLjYwMjkwMzQ0LDE3LjgwNTE5MTMgQzMuODI1MzAxODMsMTguMzk2NzA0NSA0LjE3NDEwOTgsMTguOTMyNTI2MyA0LjYyNDk2ODM0LDE5LjM3NTIzNzQgQzUuMDY3MjY1MTcsMTkuODI2NDA4MyA1LjYwMjY5NzksMjAuMTc1NTU3NSA2LjE5Mzg3MDUyLDIwLjM5ODI5OTcgQzYuNzU3MzQ0MzgsMjAuNjE2ODAzOCA3LjQwMTEwNzg0LDIwLjc2NjU3MzIgOC4zNDQzMjk4LDIwLjgwOTk4NDYgQzkuMjg5NzIxNzYsMjAuODUyNjcyNSA5LjU5MTM1MDI1LDIwLjg2MzUyNTQgMTEuOTk3MTQ0OSwyMC44NjM1MjU0IEMxNC40MDM2NjI5LDIwLjg2MzUyNTQgMTQuNzA0NTY4MSwyMC44NTI2NzI1IDE1LjY0OTk2MDEsMjAuODA5OTg0NiBDMTYuNTkzMTgyLDIwLjc2NjU3MzIgMTcuMjM3NjY4OCwyMC42MTY4MDM4IDE3LjgwMTE0MjcsMjAuMzk4Mjk5NyBDMTguMzkyMTczMSwyMC4xNzU2OTQzIDE4LjkyNzM5NzYsMTkuODI2NTE5OSAxOS4zNjkzMjE1LDE5LjM3NTIzNzQgQzE5LjgyMDM4NjksMTguOTMyNTUzMiAyMC4xNjk0MzY5LDE4LjM5NjczODkgMjAuMzkyMTA5NywxNy44MDUxOTEzIEMyMC42MDk4MzIsMTcuMjQxNTY2NCAyMC43NTk1NjEzLDE2LjU5NzYzMDUgMjAuODAzNjg0NCwxNS42NTQxNTU3IEMyMC44NDYzNjA4LDE0LjcwOTIzNCAyMC44NTcyMTA4LDE0LjQwNzUyNDYgMjAuODU3MjEwOCwxMi4wMDEwODUzIEMyMC44NTcyMTA4LDkuNTkzOTIyNCAyMC44NDYzNjA4LDkuMjkyMjEzMDggMjAuODAzNjg0NCw4LjM0NjU2Nzc5IEMyMC43NTk1NjEzLDcuNDAzMDkzMDYgMjAuNjA5ODMyLDYuNzU5MTU3MSAyMC4zOTIxMDk3LDYuMTk1NTMyMjQgQzIwLjE2OTQyNzIsNS42MDQyMDEyIDE5LjgyMDM3MTUsNS4wNjg2MjQ5OSAxOS4zNjkzMjE1LDQuNjI2MjA5NjQgQzE4LjkyNzMxMDYsNC4xNzQ4NjM3NCAxOC4zOTE3ODA1LDMuODI1ODk3OTcgMTcuODAwNDE5MywzLjYwMzg3MDg1IEMxNy4yMzYyMjIxLDMuMzg0NjQzMjEgMTYuNTkxNzM1NCwzLjIzNTU5NzM2IDE1LjY0ODUxMzQsMy4xOTIxODU5NSBDMTQuNzAzODQ0OCwzLjE0OTQ5ODA2IDE0LjQwMjkzOTYsMy4xMzg2NDUyIDExLjk5NzE0NDksMy4xMzg2NDUyIFogTTExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS45OTg1OTE2LDQuNzM1NDYxNyBDMTQuMzYzODc5OCw0LjczNTQ2MTcgMTQuNjQ0NTMxNyw0Ljc0NDE0Mzk4IDE1LjU3ODM1MDQsNC43ODY4MzE4NyBDMTYuNDQyNzI5NCw0LjgyNTkwMjE0IDE2LjkxMTQ0NzEsNC45NzA2MDY4NiAxNy4yMjMyMDIyLDUuMDkyMTU4ODEgQzE3LjYzNjk0NjgsNS4yNTI3ODEwNCAxNy45MzIwNjUzLDUuNDQ0NTE0NzkgMTguMjQxNjUwNSw1Ljc1NDkwNjM5IEMxOC41NTE5NTg5LDYuMDY0NTc0NDggMTguNzQzNjQxMyw2LjM2MDQ5NTYxIDE4LjkwNDk0MzgsNi43NzM2Mjc1NyBDMTkuMDI1NzM5OSw3LjA4NjE4OTc0IDE5LjE3MDQwNTgsNy41NTUwMzMwMSAxOS4yMDk0NjU2LDguNDE4OTIwMTQgQzE5LjI1MjE0MjEsOS4zNTI5ODkwNiAxOS4yNjE1NDU0LDkuNjMzNzE2MiAxOS4yNjE1NDU0LDExLjk5ODkxNDcgQzE5LjI2MTU0NTQsMTQuMzY0MTEzMiAxOS4yNTIxNDIxLDE0LjY0NDg0MDQgMTkuMjA5NDY1NiwxNS41Nzg5MDkzIEMxOS4xNzA0MDU4LDE2LjQ0Mjc5NjQgMTkuMDI1NzM5OSwxNi45MTE2Mzk3IDE4LjkwNDk0MzgsMTcuMjI0MjAxOSBDMTguNzYyNjcxMSwxNy42MDg4NDc5IDE4LjUzNjAxOCwxNy45NTY3MDY1IDE4LjI0MTY1MDUsMTguMjQyMTk5NSBDMTcuOTU2MDQ2NSwxOC41MzY1ODkxIDE3LjYwODAwMzEsMTguNzYzMDc1NyAxNy4yMjMyMDIyLDE4LjkwNDk0NzEgQzE2LjkxMTQ0NzEsMTkuMDI2NDk5MSAxNi40NDI3Mjk0LDE5LjE3MDQ4MDIgMTUuNTc4MzUwNCwxOS4yMTAyNzQgQzE0LjY0NDUzMTcsMTkuMjUyOTYxOSAxNC4zNjM4Nzk4LDE5LjI2MTY0NDIgMTEuOTk4NTkxNiwxOS4yNjE2NDQyIEM5LjYzMjU4MDA1LDE5LjI2MTY0NDIgOS4zNTE5MjgxMSwxOS4yNTI5NjE5IDguNDE4MTA5NDMsMTkuMjEwMjc0IEM3LjU1NDQ1Mzc0LDE5LjE3MDQ4MDIgNy4wODU3MzYwOCwxOS4wMjU3NzU1IDYuNzczMjU3NjMsMTguOTA0OTQ3MSBDNi4zODgzNzQ4LDE4Ljc2MjgxODQgNi4wNDAxNDkzMywxOC41MzYzNzQxIDUuNzU0MDg2MDUsMTguMjQyMTk5NSBDNS40NTk3NzUzLDE3Ljk1NjUxOSA1LjIzMzM0OTM4LDE3LjYwODM4MjQgNS4wOTE1MTYwMiwxNy4yMjM0NzgzIEM0Ljk2OTk5NjYyLDE2LjkxMDkxNjIgNC44MjUzMzA2OCwxNi40NDIwNzI5IDQuNzg2MjcwODcsMTUuNTc4MTg1OCBDNC43NDM1OTQ0MiwxNC42NDQxMTY4IDQuNzM0OTE0NDYsMTQuMzYzMzg5NyA0LjczNDkxNDQ2LDExLjk5Njc0NDEgQzQuNzM0OTE0NDYsOS42MzAwOTg1OCA0Ljc0MzU5NDQyLDkuMzUwODE4NDkgNC43ODYyNzA4Nyw4LjQxNjc0OTU3IEM0LjgyNTMzMDY4LDcuNTUyODYyNDQgNC45Njk5OTY2Miw3LjA4NDAxOTE3IDUuMDkxNTE2MDIsNi43NzE0NTcgQzUuMjMzMzE5ODIsNi4zODYzMjcxNCA1LjQ1OTc0MjM5LDYuMDM3OTQ4NDQgNS43NTQwODYwNSw1Ljc1MjAxMjMgQzYuMDQwMTQ5MzMsNS40NTc4Mzc3IDYuMzg4Mzc0OCw1LjIzMTM5MzQxIDYuNzczMjU3NjMsNS4wODkyNjQ3MiBDNy4wODU3MzYwOCw0Ljk2Njk4OTI0IDcuNTU0NDUzNzQsNC44MjMwMDgwNSA4LjQxODEwOTQzLDQuNzgzMjE0MjUgQzkuMjM1NDcyMDMsNC43NDYzMTQ1NSA5LjU1MjI5MDQ1LDQuNzM1NDYxNyAxMS4yMDM2NTIyLDQuNzMzMjkxMTMgTDExLjIwMzY1MjIsNC43MzU0NjE3IEwxMS4yMDM2NTIyLDQuNzM1NDYxNyBaIE0xMS45OTg1OTE2LDcuNDUwMTIyMDkgTDExLjk5Nzg2ODMsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IEM5LjQ4NTgzNzM3LDcuNDUwMTIyMDkgNy40NDg4NDc2LDkuNDg3NjU3NzIgNy40NDg4NDc2LDEyLjAwMTA4NTMgQzcuNDQ4ODQ3NiwxNC41MTQ1MTI5IDkuNDg1ODM3MzcsMTYuNTUyMDQ4NSAxMS45OTg1OTE2LDE2LjU1MjA0ODUgQzE0LjUxMTM0NTgsMTYuNTUyMDQ4NSAxNi41NDgzMzU2LDE0LjUxNDUxMjkgMTYuNTQ4MzM1NiwxMi4wMDEwODUzIEMxNi41NDgzMzU2LDkuNDg3NjU3NzIgMTQuNTExMzQ1OCw3LjQ1MDEyMjA5IDExLjk5ODU5MTYsNy40NTAxMjIwOSBMMTEuOTk4NTkxNiw3LjQ1MDEyMjA5IFogTTExLjk5ODU5MTYsOS4wNDY5Mzg1OSBDMTMuMDUzNzIzOCw5LjA0NjkzODU3IDE0LjAyODcwNjIsOS42MDk5OTU3NCAxNC41NTYyNzIzLDEwLjUyNDAxMTkgQzE1LjA4MzgzODUsMTEuNDM4MDI4MSAxNS4wODM4Mzg1LDEyLjU2NDE0MjUgMTQuNTU2MjcyMywxMy40NzgxNTg3IEMxNC4wMjg3MDYyLDE0LjM5MjE3NDggMTMuMDUzNzIzOCwxNC45NTUyMzIgMTEuOTk4NTkxNiwxNC45NTUyMzIgQzEwLjM2NzQ5ODUsMTQuOTU1MjMxOSA5LjA0NTIzNjM3LDEzLjYzMjYxNTQgOS4wNDUyMzYzNywxMi4wMDEwODUzIEM5LjA0NTIzNjM3LDEwLjM2OTU1NTEgMTAuMzY3NDk4NSw5LjA0NjkzODYzIDExLjk5ODU5MTYsOS4wNDY5Mzg1OSBaIE0xNi43Mjc3MjEzLDYuMjA3MTA4NjIgQzE2LjM0Nzg0MjcsNi4yMDcxMDg2MSAxNS45OTY4MjA0LDYuNDA5ODI1NzQgMTUuODA2ODgxMSw2LjczODg5ODQzIEMxNS42MTY5NDE4LDcuMDY3OTcxMTEgMTUuNjE2OTQxOCw3LjQ3MzQwNTM5IDE1LjgwNjg4MTEsNy44MDI0NzgwOCBDMTUuOTk2ODIwNCw4LjEzMTU1MDc3IDE2LjM0Nzg0MjcsOC4zMzQyNjc5IDE2LjcyNzcyMTMsOC4zMzQyNjc4OCBDMTcuMzE0OTYyOCw4LjMzNDI2Nzg3IDE3Ljc5MTAxNiw3Ljg1ODA4NzA1IDE3Ljc5MTAxNiw3LjI3MDY4ODI1IEMxNy43OTEwMTYsNi42ODMyODk0NSAxNy4zMTQ5NjI4LDYuMjA3MTA4NjQgMTYuNzI3NzIxMyw2LjIwNzEwODYyIFoiIGlkPSJTaGFwZSIgZmlsbD0iI0NGQ0ZDRiIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);
}
.c0134 {

In [ ]:
web_page.head.title

In [ ]:
web_page.body

<body><noscript id="gatsby-noscript">This app works best with JavaScript enabled.</noscript><div id="___gatsby"><div role="group" style="outline:none" tabindex="-1"><div><header class="c017"><h1 class="c0116 c0118"><a class="c018" href="/" title="Connect"></a></h1><div class="c0114"></div></header><main class="c014 c016"><div class="c013"><div class="c011"><div class="c012" id="gauth-widget"><noscript>To sign in to your Garmin account, please enable JavaScript in your web browser.</noscript></div></div><div id="loginGauth"></div></div></main><footer class="c0123"><div></div><div class="c0132"><span class="c0129 c0133"><a href="https://www.instagram.com/garminfitness/" title="Instagram"></a></span><span class="c0130 c0134"><a href="https://www.facebook.com/garminfit" title="Facebook"></a></span><span class="c0131 c0135"><a href="https://twitter.com/garminfitness" title="Twitter"></a></span></div><div id="consent"></div></footer></div></div></div><script id="gatsby-script-loader">/*<![CDATA[*/window.page={"componentChunkName":"component---src-pages-signin-js","jsonName":"signin-59f","path":"/signin/"};window.dataPath="731/path---signin-59-f-ae5-0SUcWyAf8ecbYDsMhQkEfPzV8";/*]]>*/</script><script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping={"app":["/app-f70ac04d1f56b78f3931.js"],"component---src-pages-404-js":["/component---src-pages-404-js-841e84ff797503ac048a.js"],"component---src-pages-features-coach-js":["/component---src-pages-features-coach-js-29876275865a0a2c7c1a.js"],"component---src-pages-features-index-js":["/component---src-pages-features-index-js-4d4a82516cad02ced3d8.js"],"component---src-pages-features-menstrual-cycle-tracking-js":["/component---src-pages-features-menstrual-cycle-tracking-js-f82b6a996c090a06f4e6.js"],"component---src-pages-index-js":["/component---src-pages-index-js-63d08c00a3a5730e5622.js"],"component---src-pages-signin-js":["/component---src-pages-signin-js-2cbe8560a833724ca935.js"],"component---src-pages-start-index-scale-express-js":["/component---src-pages-start-index-scale-express-js-4191a33b757912674795.js"],"component---src-pages-start-index-scale-help-js":["/component---src-pages-start-index-scale-help-js-fa0de611ea120d0cf195.js"],"component---src-pages-start-index-scale-index-js":["/component---src-pages-start-index-scale-index-js-7ac8a52212a94db2fab4.js"],"component---src-pages-start-index-scale-mobile-js":["/component---src-pages-start-index-scale-mobile-js-825c52b5de34c7e3fc6b.js"],"component---src-pages-start-index-scale-wps-js":["/component---src-pages-start-index-scale-wps-js-bd933d60ca0bc42292a4.js"],"component---src-pages-start-index-js":["/component---src-pages-start-index-js-d3a69576ea9d5117784e.js"],"component---src-pages-start-quickdraw-legal-js":["/component---src-pages-start-quickdraw-legal-js-cf2da0e15e8af7e20d6c.js"],"component---src-pages-start-quickdraw-js":["/component---src-pages-start-quickdraw-js-b1a8e022d6e90bebe5c0.js"],"component---src-pages-start-vivoki-js":["/component---src-pages-start-vivoki-js-2fee9b53b1a7130bc857.js"],"component---src-pages-status-js":["/component---src-pages-status-js-77f076abb7dc3adf65b2.js"],"component---src-pages-support-js":["/component---src-pages-support-js-28338b5a6bf95bb7f96d.js"],"pages-manifest":["/pages-manifest-30001a9f1ccc5a08342f.js"]};/*]]>*/</script><script async="" src="/webpack-runtime-726429aeeebf792fa865.js"></script><script async="" src="/styles-7f4ad17eaa2f84285347.js"></script><script async="" src="/app-f70ac04d1f56b78f3931.js"></script><script async="" src="/0-1b57d2d469aaeb0d9220.js"></script><script async="" src="/1-ce2bc733156e4b92652d.js"></script><script async="" src="/component---src-pages-signin-js-2cbe8560a833724ca935.js"></script></body>

In [ ]:
sub_webpage = web_page.find_all(name="li") #, attrs={'class': 'list-item animated row-fluid'}

In [ ]:
sub_webpage

[]

I would like to make searchable notes that I could go through with links to exercises for injuries and such. It would be really useful to be able to have the types of injuries that I have gone through before and be able to just immediately have the stretches and such that worked. Then I can the next time find out how that went and then adjust based upon the previous injury timeline and see what works best for recovery for me.